Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo, stylua

fish_indent:
  run: fish_indent -w {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-ruby:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-xml:
  run: npx prettier --write {staged_files}
  stage_fixed: true

ruff:
  run: ruff format {staged_files}
  stage_fixed: true

taplo:
  run: taplo format {staged_files}
  stage_fixed: true

stylua:
  run: mise x -- stylua --respect-ignores {staged_files}
  stage_fixed: true

Added a shellcheck rule to create-zsh-compdef
  home/dot_config/exact_private_fish/exact_functions/create-zsh-compdef.fish
Due: fish_indent

Added spytrap-adb completions
  home/.chezmoidata/shell/completers.yaml
  home/dot_config/exact_private_fish/exact_completions/spytrap-adb.fish
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_spytrap-adb
Due: fish_indent, prettier

[zsh] made `use-cache` and `cache-path` global zstyles
  home/dot_config/exact_private_zsh/config.zsh
Due: none

Added some dummy fallback zsh completions, and _bwrap as a site function
  home/.chezmoiexternals/zsh-plugins.yaml.tmpl
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox-assemble
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox-create
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox-enter
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox-ephemeral
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox-export
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox-generate-entry
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox-host-exec
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox-init
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox-list
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox-rm
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox-stop
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox-upgrade
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__firejail
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__snapper
Due: taplo

Made zrecompile script include zshrc and relaed files
  home/dot_config/exact_private_zsh/run_onchange_after_zrecompile.zsh.tmpl
Due: none

Made eza config exact
  home/dot_config/exact_eza/theme.yml
Due: prettier

Made atuin config exact
  home/dot_config/exact_private_atuin/config.toml.tmpl
Due: none

Made nushell config exact
  home/dot_config/exact_private_nushell/.chezmoiignore
  home/dot_config/exact_private_nushell/config.nu
  home/dot_config/exact_private_nushell/env.nu
  home/dot_config/exact_private_nushell/modules/config/keybindings.nu
  home/dot_config/exact_private_nushell/modules/config/themes.nu
Due: none

Made wezterm config private & exact
  home/dot_config/exact_private_wezterm/wezterm.lua
Due: stylua

Updated ansible-lint config
  .ansible-lint
Due: none

Added ansible to recommended vscode extensions
  .vscode/extensions.json
Due: prettier

Switched from pnpm to bun for npm packages
  bun.lockb
  mise.toml
  package.json
  pnpm-lock.yaml
Due: prettier, taplo

Updated prettier
  bun.lockb
  package.json
Due: prettier

Added bun to extension recommendations
  .vscode/extensions.json
Due: prettier

Updated fish ls function to wrap `eza` instead of `eza -F`
  home/dot_config/exact_private_fish/exact_functions/ls.fish
Due: fish_indent

Removed deno from recommended extensions
  .vscode/extensions.json
Due: prettier

Sorted vscode settings
  .vscode/settings.json
Due: prettier

Updated nvim plugins
  home/dot_config/exact_nvim/lazy-lock.json
Due: prettier

Added some custom filetypes to neovim
  home/dot_config/exact_nvim/exact_after/exact_plugin/filetypes.lua
Due: stylua

Added some project-level vscode settings
  .vscode/settings.json
Due: prettier

Added an editorconfig file
  .ansible-lint
  .editorconfig
  .vscode/settings.json
Due: prettier

Moved ansible-lint config to .config/ansible-lint.yml
  .config/ansible-lint.yml
  .gitignore
  .prettierrc.yaml
  lefthook.yml
Due: prettier

Moved mise config to .config/mise.toml
  .config/mise.toml
  .gitignore
Due: taplo

Updated taplo.toml with new mise config paths
  .taplo.toml
Due: taplo

Moved mise config back to project root
  mise.toml
Due: taplo

Moved mise config to .config/mise/config.toml
  .config/mise/config.toml
Due: taplo

Added mise integraton for neovim
  home/dot_config/exact_nvim/exact_after/exact_plugin/mise.lua
Due: stylua

Added lefthook local scripts to gitignore
  .gitignore
Due: none

Added global conf.d support for mise in taplo settings
  .taplo.toml
Due: taplo

Redid os-specific mise configs using conf.d files
  .taplo.toml
  home/dot_config/exact_mise/exact_conf.d/.chezmoiignore
  home/dot_config/exact_mise/exact_conf.d/os-darwin.toml
  home/dot_config/exact_mise/exact_conf.d/os-linux.toml
  home/dot_config/exact_mise/exact_conf.d/os-windows.toml
  home/dot_config/exact_mise/symlink_config.local.toml.tmpl
Due: taplo

Set a minimum version for the global mise config
  home/dot_config/exact_mise/config.toml
Due: taplo

Update brew forbidden formulae
  home/dot_config/exact_homebrew/.chezmoidata.yaml
Due: prettier

Made readline config exact & private
  home/dot_config/exact_private_readline/inputrc
Due: none

Made rainbow config exact
  home/dot_config/exact_private_rainbow/_md5sum.cfg
  home/dot_config/exact_private_rainbow/b2sum.cfg
  home/dot_config/exact_private_rainbow/b3sum.cfg
  home/dot_config/exact_private_rainbow/hashsum.cfg
  home/dot_config/exact_private_rainbow/mount.cfg
  home/dot_config/exact_private_rainbow/sha1sum.cfg
  home/dot_config/exact_private_rainbow/sha224sum.cfg
  home/dot_config/exact_private_rainbow/sha256sum.cfg
  home/dot_config/exact_private_rainbow/sha384sum.cfg
  home/dot_config/exact_private_rainbow/sha512sum.cfg
  home/dot_config/exact_private_rainbow/shasum.cfg
Due: none

Made silicon config private & exact
  home/dot_config/exact_private_silicon/config
Due: none

Made whalebrew config private & exact
  home/dot_config/exact_private_whalebrew/config.yaml.tmpl
Due: none

Cleaned up ansible-lint config
  .config/ansible-lint.yml
Due: prettier

Added bun.lockb to ansible-lint excluded paths
  .config/ansible-lint.yml
Due: prettier

Started convertng ignored fish functions into templates, and other small fish tweaks
  home/.chezmoidata/shell/abbrev.yaml
  home/dot_config/exact_private_fish/exact_functions/.chezmoiignore
  home/dot_config/exact_private_fish/exact_functions/blkid.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/bussybox.fish
  home/dot_config/exact_private_fish/exact_functions/literal_create_icons.fish
  home/dot_config/exact_private_fish/exact_functions/lutris_create_icon.fish
  lefthook.yml
Due: fish_indent, prettier

Converted more fish functions into templates
  home/dot_config/exact_private_fish/exact_functions/.chezmoiignore
  home/dot_config/exact_private_fish/exact_functions/findmnt.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/free.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/getfacl.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/getsebool.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/iostat.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/ip.fish
  home/dot_config/exact_private_fish/exact_functions/ip.fish.tmpl
Due: fish_indent

Path conditions:
  fish_indent: any of: *.fish, but not: symlink_*
  prettier: any of: *.{css,yml,yaml,md,html,json,jsonc,code-snippets}, but not: symlink_*
  prettier-ruby: any of: {*.rb,Gemfile,Rakefile,Brewfile}, but not: symlink_*
  prettier-xml: any of: *.{xml,plist}{,.tmpl}, but not: symlink_*
  ruff: any of: *.py, but not: symlink_*
  taplo: any of: *.toml, but not: symlink_*
  stylua: any of: *.lua, but not: symlink_*
