Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo

fish_indent:
  run: fish_indent -w {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-ruby:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-xml:
  run: npx prettier --write {staged_files}
  stage_fixed: true

ruff:
  run: ruff format {staged_files}
  stage_fixed: true

taplo:
  run: taplo format {staged_files}
  stage_fixed: true

Added xh completions via carapace, updated brewfile and abbreviations
  home/.chezmoidata/common-abbrev.toml
  home/dot_config/exact_private_fish/exact_completions/symlink_xh.fish
  home/dot_config/exact_private_homebrew/Brewfile
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: taplo

Made forbidden homebrew chezmoidata into a toml file
  .taplo.toml
  home/dot_config/exact_private_homebrew/.chezmoidata.yaml
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
Due: prettier, taplo

Made bat syntax overrides chezmoidata a toml file
  .taplo.toml
  home/dot_config/exact_private_bat/.chezmoidata.yaml
  home/dot_config/exact_private_bat/.chezmoidata/bat-syntax-overrides.toml
Due: prettier, taplo

Installed docker-compose via winget instead of scoop
  assets/scoopfile.json
  assets/winget.json
Due: prettier

Improved windows powershell profile a little
  home/readonly_Documents/readonly_PowerShell/Microsoft.PowerShell_profile.ps1
Due: none

Added fileicon completions
  home/dot_config/exact_private_carapace/exact_specs/fileicon.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_fileicon.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

Updated ripsecrets
  .config/mise/config.toml
Due: taplo

Updated infat config
  home/dot_config/exact_private_infat/config.toml
Due: taplo

More infat filetypes
  home/dot_config/exact_private_infat/config.toml
Due: taplo

More infat config stuff
  home/dot_config/exact_private_infat/config.toml
Due: taplo

Small updates
  home/.chezmoidata/common-abbrev.toml
  home/.chezmoiremove
  home/dot_config/exact_private_carapace/exact_specs/lolcrab.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_lolcrab.fish
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_homebrew/Brewfile
  home/dot_config/exact_private_infat/config.toml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

updates
  home/.chezmoidata/common-abbrev.toml
  home/.chezmoiremove
  home/dot_config/exact_private_carapace/bridges.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_ffmate.fish
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

Got rid of litecli and removed a vscode alias becasue who gives a shit about vscode anymore
  home/dot_config/exact_private_fish/exact_functions/code.fish.tmpl
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_homebrew/Brewfile
  home/dot_config/exact_private_litecli/config.tmpl
  home/dot_config/exact_private_mise/exact_conf.d/device-dell-g15-linux.toml
  home/dot_config/exact_private_mise/exact_conf.d/os-darwin.toml
Due: taplo

small updates
  home/.chezmoidata/pwsh-completers.toml
  home/dot_config/exact_private_elvish/.chezmoidata/completers.toml
  home/dot_config/exact_private_fish/exact_completions/somo.fish
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_zsh/exact_functions/_somo
Due: fish_indent, taplo

Added VSCodium settings
  home/private_Library/private_Application Support/private_VSCodium/.chezmoiignore
  home/private_Library/private_Application Support/private_VSCodium/User/globalStorage/zokugun.sync-settings/private_settings.yml.tmpl
Due: none

Updated forbidden packages
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
Due: taplo

Added VSCodium sync for windows
  home/AppData/Roaming/.chezmoiignore
  home/AppData/Roaming/VSCodium/.chezmoiignore
  home/AppData/Roaming/VSCodium/User/globalStorage/zokugun.sync-settings/settings.yml.tmpl
Due: none

Updated winget packages and vscodium sync settings
  assets/winget.json
  home/AppData/Roaming/VSCodium/User/globalStorage/zokugun.sync-settings/settings.yml.tmpl
Due: prettier

Small updates
  home/.chezmoidata/common-abbrev.toml
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_homebrew/Brewfile
Due: taplo

Updated Gemfile.lock
  Gemfile.lock
Due: none

Updated bundler
  Gemfile.lock
Due: none

Updates
  home/.chezmoiremove
  home/dot_config/exact_private_brew-aliases/executable_search_filtered
  home/dot_config/exact_private_fish/exact_completions/symlink_brew.fish
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_homebrew/Brewfile
  home/dot_config/exact_private_mise/config.toml
  home/dot_config/exact_private_nvim/lazy-lock.json
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/symlink_dot_npm.tmpl
Due: prettier, taplo

removed gallery-dl from winget.json
  assets/winget.json
Due: prettier

Updates, removed the worst node runtime ever
  .config/mise/config.toml
  bun.lockb
  home/.chezmoidata/common-abbrev.toml
  home/.chezmoiscripts/darwin/run_onchange_before_10-brew-bundle.sh.tmpl
  home/dot_config/exact_private_carapace/bridges.yaml
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
  home/dot_config/exact_private_fish/exact_completions/symlink_bunx.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_gtrash.fish
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_homebrew/Brewfile
  home/dot_config/exact_private_homebrew/brew.env.tmpl
  home/dot_config/exact_private_infat/config.toml
  home/dot_config/exact_private_mise/config.toml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/private_Library/private_Application Support/.chezmoiignore
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier, taplo

A lot of misc. updates
  .config/mise/config.toml
  .prettierrc.yaml
  Gemfile
  Gemfile.lock
  home/.chezmoidata/common-abbrev.toml
  home/.chezmoiexternals/bat-syntaxes.yaml
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
  home/dot_config/exact_private_fish/exact_completions/symlink_pngcheck.fish
  home/dot_config/exact_private_fish/exact_conf.d/20-os-darwin.fish
  home/dot_config/exact_private_fish/exact_conf.d/50-shadowenv.fish
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_homebrew/Brewfile
  home/dot_config/exact_private_mise/config.toml
  home/dot_config/exact_private_mise/exact_conf.d/.chezmoiignore
  home/dot_config/exact_private_mise/exact_conf.d/os-darwin.rustup.toml.tmpl
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_plugins/shadowenv/shadowenv.plugin.zsh
  home/dot_config/exact_private_zsh/plugins.zsh
  home/dot_local/private_share/.chezmoiignore
  home/dot_local/private_share/.chezmoiremove
  home/private_Library/.chezmoiignore
  home/private_Library/private_Application Support/.chezmoiignore
  home/private_Library/private_Application Support/.chezmoiremove
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: fish_indent, prettier, prettier-ruby, taplo

Made zsh plugin loading based on templates
  home/dot_config/exact_private_zsh/.chezmoidata/plugins.toml
  home/dot_config/exact_private_zsh/plugins.zsh
  home/dot_config/exact_private_zsh/readonly_plugins.zsh.tmpl
Due: taplo

Fixed mistake in vscode settings
  .vscode/settings.json
Due: prettier

Switched fron pnpm to deno for project-level package management
  .config/mise/config.toml
  .prettierignore
  deno.json
  deno.lock
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier, taplo

Updated npm packages
  deno.json
Due: prettier

Updated deno lockfile
  deno.lock
Due: none

Updated VSCode extension recommendations
  .vscode/extensions.json
Due: prettier

Removed deno dev task that doesn't do anything
  deno.json
Due: prettier

Small updates
  home/dot_config/exact_private_eza/theme.yml
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_homebrew/Brewfile
  home/dot_config/exact_private_homebrew/brew.env.tmpl
  home/private_Library/private_Application Support/.chezmoiignore
  playbooks/device-dell-g15-linux.yml
  playbooks/device-surface-book.yml
Due: prettier, taplo

Removed bison syntax (gives a 502 error)
  home/.chezmoiexternals/bat-syntaxes.yaml
Due: prettier

Updated lima schema
  schemas/vendor/lima.json
Due: prettier

Added some completions, updated default lima yaml, updated forbidden packages
  home/dot_config/exact_private_fish/exact_completions/fnox.fish
  home/dot_config/exact_private_fish/exact_completions/pkl.fish
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_fnox
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_pkl
  home/dot_config/private_lima/private_default/lima.yaml
Due: fish_indent, prettier, taplo

Added chezmoiversion
  .chezmoiversion
Due: none

Started to make ansible manage homebrew packages instead of a brewfile
  home/.chezmoiscripts/darwin/run_onchange_after_00-ansible-playbook.sh.tmpl
  home/dot_config/exact_private_homebrew/Brewfile
  playbooks/device-macbook.yml
Due: prettier

Switched brew completions back to homebrew-provided ones
  home/dot_config/exact_private_fish/exact_completions/symlink_brew.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: taplo

Path conditions:
  fish_indent: any of: *.fish, but not: symlink_*
  prettier: any of: *.{css,yml,yaml,md,html,json,jsonc,code-snippets}, but not: symlink_*
  prettier-ruby: any of: {*.rb,Gemfile,Rakefile,Brewfile}, but not: symlink_*
  prettier-xml: any of: *.{xml,plist}{,.tmpl}, but not: symlink_*
  ruff: any of: *.py, but not: symlink_*
  taplo: any of: *.toml, but not: symlink_*
