Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo

.lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    fish_indent:
      run: fish_indent -w {staged_files}
      glob: '*.fish'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier:
      run: npx prettier --write {staged_files}
      glob: '*.{css,yml,yaml,md,html,json,jsonc,code-snippets}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-ruby:
      run: npx prettier --write {staged_files}
      glob: '{*.rb,Gemfile,Rakefile,Brewfile}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-xml:
      run: npx prettier --write {staged_files}
      glob: '*.{xml,plist}{,.tmpl}'
      exclude: 'symlink_*'
      stage_fixed: true

    ruff:
      run: ruff format {staged_files}
      glob: '*.py'
      exclude: 'symlink_*'
      stage_fixed: true

    taplo:
      run: taplo format {staged_files}
      glob: '*.toml'
      exclude: 'symlink_*'
      stage_fixed: true

Added starship to fedora wsl
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Added starship to ubuntu
  home/dot_config/exact_mise/exact_conf.d/distro-ubuntu.toml
Due: taplo

Added uv to arch wsl packages
  playbooks/device-dell-g15-wsl-arch.yml
Due: prettier

Added tree-sitter completions
  home/.chezmoidata/shell/completers.yaml
  home/dot_config/exact_private_fish/exact_completions/tree-sitter.fish
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_tree-sitter
Due: fish_indent, prettier

Updated brew forbidden list
  home/dot_config/exact_homebrew/.chezmoidata.yaml
Due: prettier

Added keep-sorted comments to a couple files
  home/.chezmoidata/shell/completers.yaml
  home/dot_config/exact_homebrew/.chezmoidata.yaml
Due: prettier

Added prettier-plugin-packagejson
  .prettierrc.yaml
  bun.lockb
  package.json
Due: prettier

Changed chezmoi attributes for homebrew config, and updated brewfile & brew bundle script to not reference brew/bundle tap
  home/.chezmoiscripts/darwin/run_onchange_before_10-brew-bundle.sh.tmpl
  home/dot_config/exact_private_homebrew/.chezmoidata.yaml
  home/dot_config/exact_private_homebrew/Brewfile
  home/dot_config/exact_private_homebrew/brew.env.tmpl
  home/dot_config/exact_private_homebrew/exact_config/bat
Due: prettier

Made .config/mise private
  .taplo.toml
  home/dot_config/exact_private_mise/config.toml
  home/dot_config/exact_private_mise/exact_conf.d/.chezmoiignore
  home/dot_config/exact_private_mise/exact_conf.d/device-dell-g15-linux.toml
  home/dot_config/exact_private_mise/exact_conf.d/device-surface-book.toml
  home/dot_config/exact_private_mise/exact_conf.d/distro-ubuntu.toml
  home/dot_config/exact_private_mise/exact_conf.d/os-darwin.toml
  home/dot_config/exact_private_mise/exact_conf.d/os-linux.toml
  home/dot_config/exact_private_mise/exact_conf.d/os-windows.toml
Due: taplo

Added support for distro-specific config files in more places
  home/dot_config/exact_private_environment.d/.chezmoiignore
  home/dot_config/exact_private_fish/exact_conf.d/.chezmoiignore
  home/dot_config/exact_user-tmpfiles.d/.chezmoiignore
  home/dot_config/private_xonsh/exact_rc.d/.chezmoiignore
  home/private_dot_ssh/exact_private_config.d/.chezmoiignore
Due: none

Updated app support chezmoiremove
  home/private_Library/private_Application Support/.chezmoiremove
Due: none

Removed unused flatpak packages file
  home/.chezmoidata/packages/flatpak.yaml
Due: prettier

Added install.sh from chezmoi
  install.sh
Due: none

Moved ansible requirements file to the correct place
  collections/requirements.yml
Due: prettier

Corrected some ansible playbooks and the yamllint config
  .yamllint.yaml
  playbooks/device-dell-g15-wsl-fedora.yml
  playbooks/device-dell-g15-wsl-ubuntu.yml
Due: prettier

Updated yamllint config further
  .yamllint.yaml
Due: prettier

Added yamllint as a linter, and improved config more
  .config/mise/config.toml
  .yamllint.yaml
  lefthook.yml
Due: prettier, taplo

Improved fedora wsl playbook
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Improved ansible playbooks - added states to most tasks - simplified some tasks - added sha256 checksums to get_url tasks
  home/dot_config/private_lima/private_default/playbook.yaml
  playbooks/device-dell-g15-linux.yml
  playbooks/device-dell-g15-wsl-arch.yml
  playbooks/device-dell-g15-wsl-fedora.yml
  playbooks/device-dell-g15-wsl-ubuntu.yml
  playbooks/device-surface-book.yml
Due: prettier

Misc changes
  .vscode/settings.json
  home/dot_config/exact_private_fish/exact_completions/symlink_lume.fish
  home/dot_config/exact_private_homebrew/.chezmoidata.yaml
  home/dot_config/exact_private_zsh/exact_functions/_lume
  home/dot_config/private_lima/private_default/lima.yaml.tmpl
  schemas/vendor/lima.json
Due: prettier

Misc updates
  home/dot_config/exact_private_fish/exact_functions/mount_bitlocker.fish.tmpl
  home/dot_config/exact_private_homebrew/.chezmoidata.yaml
  home/dot_config/exact_private_homebrew/Brewfile
  home/dot_config/private_lima/private_default/playbook.yaml
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Updated brew chezmoidata, made a couple wsl tweaks
  home/dot_config/exact_private_homebrew/.chezmoidata.yaml
  home/dot_local/bin/symlink_tldr.tmpl
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Added become setting to wsl.conf configuration
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Corrected wsl.conf permissions
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Added state to wsl2 config
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Added wsl 1password cli symlink
  home/dot_local/bin/symlink_op.tmpl
Due: none

Updated starship distro icons
  home/dot_config/starship.toml
Due: taplo

Added more variables to fish wsl config
  home/dot_config/exact_private_fish/exact_conf.d/21-is-wsl.fish.tmpl
Due: none

Made wsl instances remove `/bin` and `/sbin` from the path when usr is merged
  home/dot_config/exact_private_fish/exact_conf.d/21-is-wsl.fish.tmpl
Due: none

Updated todo list
  TODO.md
Due: prettier

Added global gitignore
  .vscode/settings.json
  home/dot_config/private_git/ignore
Due: prettier

Updated dell g15 playbook and mise config
  .config/mise/config.toml
  playbooks/device-dell-g15-linux.yml
Due: prettier, taplo

Added some packages to dell g15 playbook
  playbooks/device-dell-g15-linux.yml
Due: prettier

Added keep-sorted mise task
  .config/mise/config.toml
  home/dot_config/exact_private_homebrew/.chezmoidata.yaml
Due: prettier, taplo

Removed carapace symlink
  home/dot_local/bin/symlink_carapace.tmpl
Due: none

Added carapace as a mise tool for dell g15 fedora wsl
  home/dot_config/exact_private_mise/exact_conf.d/device-dell-g15-wsl-fedora.toml
Due: taplo

Redid wsl.conf generation for fedora wsl
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Added block to install yay for arch wsl
  playbooks/device-dell-g15-wsl-arch.yml
Due: prettier

Made arch playbook utilize package_facts to check if yay is installed
  playbooks/device-dell-g15-wsl-arch.yml
Due: prettier

Updated brewfile, added ~/.swiftpm symlink for xcode
  home/.chezmoiignore
  home/.chezmoiremove
  home/dot_config/exact_private_homebrew/Brewfile
  home/symlink_dot_swiftpm.tmpl
Due: none
