Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo

fish_indent:
  run: fish_indent -w {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-ruby:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-xml:
  run: npx prettier --write {staged_files}
  stage_fixed: true

ruff:
  run: ruff format {staged_files}
  stage_fixed: true

taplo:
  run: taplo format {staged_files}
  stage_fixed: true

Changed mise idomatic version files to be limited to core tools
  home/dot_config/exact_private_mise/config.toml
Due: taplo

Switched some scoop packages out for winget packages
  assets/scoopfile.json
  assets/winget.json
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Generated/exact_Scripts/run_onchange_after_zoxide.ps1.tmpl
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Generated/exact_Scripts/zoxide.ps1
Due: prettier

Updated fedora wsl tmpfiles
  home/dot_config/exact_private_user-tmpfiles.d/device-dell-g15-wsl-fedora.conf
Due: none

Added winget wsl alias & completions for fish
  home/dot_config/exact_private_fish/exact_completions/winget.fish
  home/dot_config/exact_private_fish/exact_functions/winget.fish.tmpl
Due: fish_indent

Added a couple more dirs for fish to remove from the PATH under WSL instances
  home/dot_config/exact_private_fish/exact_conf.d/21-is-wsl.fish.tmpl
Due: none

Made chezmoi & bat be installed via winget on windows
  assets/scoopfile.json
  assets/winget.json
Due: prettier

Completion updates
  home/dot_config/exact_private_carapace/bridges.yaml
  home/dot_config/exact_private_carapace/exact_specs/jc.yaml
  home/dot_config/exact_private_fish/exact_completions/hk.fish
  home/dot_config/exact_private_fish/exact_completions/jc.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_jc.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_multi-gitter.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_hk
Due: fish_indent, prettier, taplo

Some WSL related tweaks
  home/dot_config/exact_private_carapace/exact_specs/wslinfo.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_wslinfo.fish
  home/dot_config/exact_private_fish/exact_conf.d/21-is-wsl.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/code.fish.tmpl
  home/dot_config/exact_private_user-tmpfiles.d/device-dell-g15-wsl-fedora.conf
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

Added bcachefs completion and integrated dell g15 linux gitconfig into dotfiles
  home/.chezmoidata/shell/completers.yaml
  home/dot_config/exact_private_fish/exact_completions/bcachefs.fish
  home/dot_config/exact_private_git/exact_conf.d/device-dell-g15-linux.gitconfig
  home/dot_config/exact_private_git/exact_conf.d/security.gitconfig
  home/dot_config/exact_private_git/modify_config
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_bcachefs
  home/dot_local/bin/symlink_ping.tmpl
Due: fish_indent, prettier

Added npmrc
  home/dot_config/exact_private_npm/modify_npmrc
Due: none

Added npm config to ignored files on windows
  home/dot_config/.chezmoiignore
Due: none

Fixed npmrc generation to avoid invalid outputs
  home/dot_config/exact_private_npm/modify_npmrc
Due: none

Redid npmrc modify template to utilize chezmoi's toIni function and chezmoidata
  home/dot_config/exact_private_npm/.chezmoidata.toml
  home/dot_config/exact_private_npm/modify_npmrc
Due: taplo

Made elvish completers chezmoidata a standalone toml file
  .taplo.toml
  home/.chezmoidata/shell/completers.yaml
  home/dot_config/exact_private_elvish/.chezmoidata/completers.toml
Due: prettier, taplo

Added powershell profile for mac os & linux
  home/dot_config/.chezmoiignore
  home/dot_config/exact_private_powershell/Microsoft.PowerShell_profile.ps1
Due: none

Fixed some small errors in linux powershell config
  home/dot_config/exact_private_powershell/Microsoft.PowerShell_profile.ps1
Due: none

Switched from powershell homebrew tap to cask
  home/dot_config/exact_private_homebrew/Brewfile
Due: none

Added ~/.config/powershell/Modules to module path on linux
  home/dot_config/exact_private_powershell/Microsoft.PowerShell_profile.ps1
Due: none

Made thefuck alias into a powershell module
  home/dot_config/exact_private_powershell/Microsoft.PowerShell_profile.ps1
  home/dot_config/exact_private_powershell/exact_Modules/Burner.TheFuck/Burner.TheFuck.psm1
Due: none

Moved pwsh zoxide init into a module
  home/dot_config/exact_private_powershell/Microsoft.PowerShell_profile.ps1
  home/dot_config/exact_private_powershell/exact_Modules/Burner.Zoxide/Burner.Zoxide.psm1
Due: none

Made LazyComplete module for pwsh on linux
  home/dot_config/exact_private_powershell/Microsoft.PowerShell_profile.ps1
  home/dot_config/exact_private_powershell/exact_Modules/Burner.LazyComplete/Burner.LazyComplete.psm1.tmpl
Due: none

Made lima VMs share host powershell config
  home/dot_config/.chezmoiignore
  home/dot_config/exact_private_user-tmpfiles.d/.chezmoidata/lima-tmpfiles.toml
Due: taplo

Rewrote lazycomplete module to not template powershell code
  home/dot_config/exact_private_powershell/exact_Modules/Burner.LazyComplete/Burner.LazyComplete.psm1
  home/dot_config/exact_private_powershell/exact_Modules/Burner.LazyComplete/Burner.LazyComplete.psm1.tmpl
  home/dot_config/exact_private_powershell/exact_Modules/Burner.LazyComplete/generated.json.tmpl
Due: none

Converted powershell completers to toml
  .taplo.toml
  home/.chezmoidata/pwsh-completers.toml
  home/.chezmoidata/shell/completers.yaml
Due: prettier, taplo

Switched some scoop packages out for winget packages
  assets/scoopfile.json
  assets/winget.json
Due: prettier

Completion tweaks and updates to chezmoi stuff
  home/.chezmoidata/pwsh-completers.toml
  home/.chezmoiremove
  home/dot_config/exact_private_elvish/.chezmoidata/completers.toml
  home/dot_config/exact_private_elvish/exact_lib/lazy-completions.elv.tmpl
  home/dot_config/exact_private_fish/exact_completions/vrc-get.fish
  home/dot_config/exact_private_homebrew/.chezmoidata.yaml
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_vrc-get
Due: fish_indent, prettier, taplo

Rewrote elvish lazy completions to read from a json file
  home/dot_config/exact_private_elvish/exact_lib/lazy-completions/completers.json.tmpl
  home/dot_config/exact_private_elvish/exact_lib/lazy-completions/init.elv
  home/dot_config/exact_private_elvish/rc.elv
Due: none

Added sqlite to lima-default packages
  home/dot_config/private_lima/private_default/playbook.yaml
Due: prettier

Added infat (mac os default apps handler) and made some other small tweaks
  .taplo.toml
  home/.chezmoiexternals/fish-plugins.yaml
  home/dot_config/.chezmoiignore
  home/dot_config/exact_private_carapace/exact_specs/rink.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_rink.fish
  home/dot_config/exact_private_infat/config.toml
  home/dot_config/exact_private_infat/run_onchange_after_infat.sh.tmpl
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_infat
Due: prettier, taplo

Made zsh plugins a non-template chezmoi external
  home/.chezmoiexternals/zsh-plugins.yaml
Due: prettier

Tweaked some default apps on mac os
  home/dot_config/exact_private_infat/config.toml
Due: taplo

Made fonts on linux be a non-template external
  home/.chezmoiexternals/fonts.yaml
  home/dot_local/private_share/.chezmoiignore
Due: prettier

Some more infat settings
  home/dot_config/exact_private_infat/config.toml
Due: taplo

Moved common abbreviations to a standalone chezmoidata toml file
  .taplo.toml
  home/.chezmoidata/shell/abbrev.yaml
  home/dot_config/exact_private_fish/.chezmoidata/abbrev.toml
Due: prettier, taplo

Moved common abbreviations to a standalone chezmoidata toml file
  .taplo.toml
  home/.chezmoidata/common-abbrev.toml
  home/.chezmoidata/shell/abbrev.yaml
Due: prettier, taplo

More infat defaults stuff
  home/dot_config/exact_private_infat/config.toml
Due: taplo

Even more default apps on mac os
  home/dot_config/exact_private_infat/config.toml
Due: taplo

Path conditions:
  fish_indent: any of: *.fish, but not: symlink_*
  prettier: any of: *.{css,yml,yaml,md,html,json,jsonc,code-snippets}, but not: symlink_*
  prettier-ruby: any of: {*.rb,Gemfile,Rakefile,Brewfile}, but not: symlink_*
  prettier-xml: any of: *.{xml,plist}{,.tmpl}, but not: symlink_*
  ruff: any of: *.py, but not: symlink_*
  taplo: any of: *.toml, but not: symlink_*
