Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo

.lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    fish_indent:
      run: fish_indent -w {staged_files}
      glob: '*.fish'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier:
      run: npx prettier --write {staged_files}
      glob: '*.{css,yml,yaml,md,html,json,jsonc,code-snippets}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-ruby:
      run: npx prettier --write {staged_files}
      glob: '{*.rb,Gemfile,Rakefile,Brewfile}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-xml:
      run: npx prettier --write {staged_files}
      glob: '*.{xml,plist}{,.tmpl}'
      exclude: 'symlink_*'
      stage_fixed: true

    ruff:
      run: ruff format {staged_files}
      glob: '*.py'
      exclude: 'symlink_*'
      stage_fixed: true

    taplo:
      run: taplo format {staged_files}
      glob: '*.toml'
      exclude: 'symlink_*'
      stage_fixed: true

Stopped setting DOTNET_CLI_HOME in WSL
  home/dot_config/exact_private_environment.d/.chezmoidata.yaml
  home/dot_config/exact_private_environment.d/90-unless-wsl.conf.tmpl
Due: prettier

Added dotnet-suggest based fish completions
  home/.chezmoiignore
  home/dot_config/exact_private_fish/exact_completions/dotnet-suggest.exe.fish
  home/dot_config/exact_private_fish/exact_completions/dotnet-suggest.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_vpm.exe.fish
  home/dot_config/exact_private_fish/exact_functions/_dotnet_suggest_completer.fish
  home/dot_config/exact_private_fish/exact_functions/_dotnet_suggest_wsl_completer.fish
Due: fish_indent

Added partial spec for microsoft store CLI
  home/dot_config/exact_private_carapace/exact_specs/store.yaml
Due: prettier

Updated infat-related things
  home/dot_config/exact_private_fish/exact_completions/infat.fish
  home/dot_config/exact_private_infat/config.toml
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_infat
Due: fish_indent, taplo

Added partial carapace spec for infat
  home/dot_config/exact_private_carapace/exact_specs/infat.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_infat.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

More complete infat spec
  home/dot_config/exact_private_carapace/exact_specs/infat.yaml
Due: prettier

More updates to infat spec
  home/dot_config/exact_private_carapace/exact_specs/infat.yaml
Due: prettier

Removed magick spec and added fish completions aliased to magick for imagemagick subcommands
  home/dot_config/exact_private_carapace/exact_specs/magick.yaml
  home/dot_config/exact_private_fish/exact_completions/compare.fish
  home/dot_config/exact_private_fish/exact_completions/conjure.fish
  home/dot_config/exact_private_fish/exact_completions/stream.fish
Due: fish_indent, prettier

Changed function priority for _pkl
  home/dot_config/exact_private_zsh/exact_functions/_pkl
Due: none

More small completion updates
  home/.chezmoidata/pwsh-completers.toml
  home/dot_config/exact_private_carapace/exact_choices/aqua
  home/dot_config/exact_private_fish/exact_completions/aqua.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_aqua.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_aqua
Due: fish_indent, taplo

Converted a couple fish completions into carapace specs, and added some more carapace choices
  home/dot_config/exact_private_carapace/exact_choices/p11-kit.tmpl
  home/dot_config/exact_private_carapace/exact_choices/trust.tmpl
  home/dot_config/exact_private_carapace/exact_specs/kmod.yaml
  home/dot_config/exact_private_carapace/exact_specs/systemd-cgtop.yaml
  home/dot_config/exact_private_fish/exact_completions/kmod.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_kmod.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_p11-kit.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-cgtop.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_trust.fish
  home/dot_config/exact_private_fish/exact_completions/systemd-cgtop.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: fish_indent, prettier, taplo

Set some carapace choices
  home/dot_config/exact_private_carapace/exact_choices/homectl
  home/dot_config/exact_private_carapace/exact_choices/oomctl
  home/dot_config/exact_private_carapace/exact_choices/systemd-ask-password
  home/dot_config/exact_private_carapace/exact_choices/systemd-cat
  home/dot_config/exact_private_carapace/exact_choices/systemd-cgls
  home/dot_config/exact_private_carapace/exact_choices/systemd-cryptenroll
  home/dot_config/exact_private_carapace/exact_choices/systemd-delta
  home/dot_config/exact_private_carapace/exact_choices/systemd-detect-virt
  home/dot_config/exact_private_carapace/exact_choices/systemd-machine-id-setup
  home/dot_config/exact_private_carapace/exact_choices/systemd-notify
  home/dot_config/exact_private_carapace/exact_choices/systemd-path
  home/dot_config/exact_private_carapace/exact_choices/systemd-resolve
  home/dot_config/exact_private_carapace/exact_choices/systemd-run
  home/dot_config/exact_private_carapace/exact_choices/systemd-tmpfiles
  home/dot_config/exact_private_carapace/exact_choices/systemd-tty-ask-password-agent
  home/dot_config/exact_private_carapace/exact_choices/userdbctl
  home/dot_config/exact_private_carapace/exact_choices/varlinkctl
  home/dot_config/exact_private_fish/exact_completions/symlink_oomctl.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-ask-password.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-cat.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-cgls.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-delta.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-detect-virt.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-machine-id-setup.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-notify.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-path.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-resolve.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-run.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-tmpfiles.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-tty-ask-password-agent.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_varlinkctl.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: taplo

Added komac to completers
  home/.chezmoidata/pwsh-completers.toml
  home/dot_config/exact_private_elvish/.chezmoidata/completers.toml
Due: taplo

Added some carapace specs
  home/dot_config/exact_private_carapace/exact_specs/kate.yaml
  home/dot_config/exact_private_carapace/exact_specs/kdeconnect-cli.yaml
  home/dot_config/exact_private_carapace/exact_specs/wingetcreate.yaml
  home/dot_config/exact_private_carapace/exact_specs/wsl.yaml
  home/dot_config/exact_private_carapace/exact_specs/wslconfig.yaml
  home/dot_config/exact_private_carapace/exact_specs/wt.yaml
Due: prettier

Enabled kdeconnect-cli and kate specs on platforms other than windows
  home/dot_config/exact_private_fish/exact_completions/symlink_kate.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_kdeconnect-cli.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: taplo

Update forbidden packages
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
Due: taplo

Updated wsl carapace spec
  home/dot_config/exact_private_carapace/exact_specs/wsl.yaml
Due: prettier

Added git-pages-cli carapace spec
  home/dot_config/exact_private_carapace/exact_specs/git-pages-cli.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_git-pages-cli.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

Added dotnet-suggest powershell module
  home/dot_config/exact_private_powershell/exact_Modules/Burner.DotnetSuggest/Burner.DotnetSuggest.psm1
  home/readonly_Documents/readonly_PowerShell/Microsoft.PowerShell_profile.ps1
  home/readonly_Documents/readonly_PowerShell/Modules/symlink_Burner.DotnetSuggest
Due: none

Made dotnet-suggest module code a little cleaner
  home/dot_config/exact_private_powershell/exact_Modules/Burner.DotnetSuggest/Burner.DotnetSuggest.psm1
Due: none

Tweaked unix pwsh profile to be more consistent with windows pwsh profile
  home/dot_config/exact_private_powershell/Microsoft.PowerShell_profile.ps1
Due: none

Removed unnecessary carapace specs
  home/dot_config/exact_private_carapace/exact_specs/fileicon.yaml
  home/dot_config/exact_private_carapace/exact_specs/nproc.yaml
  home/dot_config/exact_private_carapace/exact_specs/serie.yaml
  home/dot_config/exact_private_carapace/exact_specs/taplo.yaml
  home/dot_config/exact_private_carapace/exact_specs/vmstat.yaml
Due: prettier

Started to switch from taplo to tombi for toml language features
  .config/mise/config.toml
  .vscode/extensions.json
  lefthook.yml
  tombi.toml
Due: prettier, taplo

Made tombi not strict with schemas
  tombi.toml
Due: taplo

Added `lint:tombi` task
  .config/mise/config.toml
Due: taplo

Removed deprecated mise setting
  home/dot_config/exact_private_mise/config.toml
Due: taplo

Added `format:tombi` mise task
  .config/mise/config.toml
Due: taplo

Apply tombi formatting
  home/dot_config/exact_private_bottom/bottom.toml
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_mise/exact_conf.d/os-darwin.toml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/starship.toml
  home/private_dot_var/app/com.visualstudio.code/config/exact_mise/config.toml
Due: taplo

Added `keep-sorted` as a mise tool
  .config/mise/config.toml
Due: taplo

Improved some mise tasks
  .config/mise/config.toml
Due: taplo

Improved tombi overrides
  tombi.toml
Due: taplo

Formatting
  home/dot_config/starship.toml
Due: taplo

Removed unnecessary comment in tombi config
  tombi.toml
Due: taplo

Added some tombi directives to toml files
  home/.chezmoidata/common-abbrev.toml
  home/.chezmoidata/pwsh-completers.toml
  home/dot_config/exact_private_elvish/.chezmoidata/completers.toml
  home/dot_config/exact_private_fish/.chezmoidata/abbrev.toml
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
  home/dot_config/exact_private_fish/.chezmoidata/wsl-path-cleanup.toml
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_infat/config.toml
  home/dot_config/exact_private_user-tmpfiles.d/.chezmoidata/lima-tmpfiles.toml
  home/dot_config/exact_private_zsh/.chezmoidata/aliased-completion.toml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: taplo

Turned off `align_comments` for taplo, for consistency
  .taplo.toml
Due: taplo

Added schema for `infat` config
  home/dot_config/exact_private_infat/config.toml
  schemas/infat-config.json
  tombi.toml
Due: prettier, taplo

Made tombi sort its own config file
  tombi.toml
Due: taplo

Added dasel spec (it moved away from cobra), updated forbidden packages
  home/dot_config/exact_private_carapace/exact_choices/dasel
  home/dot_config/exact_private_carapace/exact_specs/dasel.yaml
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
Due: prettier, taplo
