Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo, prettier-yaml, stylua

fish_indent:
  run: fish_indent -w {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-ruby:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-xml:
  run: npx prettier --write {staged_files}
  stage_fixed: true

ruff:
  run: ruff format {staged_files}
  stage_fixed: true

taplo:
  run: taplo format {staged_files}
  stage_fixed: true

prettier-yaml:
  run: npx prettier --write {staged_files}
  stage_fixed: true

stylua:
  run: mise x -- stylua {staged_files}
  stage_fixed: true

Added fallback zsh completions for ripgrep
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_rg
Due: none

Added schema for carapace bridges, and fixed a typo in the file
  home/dot_config/carapace/bridges.yaml
  schemas/carapace-bridges.yaml
Due: prettier, prettier-yaml

Added aliased zsh completions
  .taplo.toml
  home/dot_config/exact_private_zsh/.chezmoidata/aliased-completion.toml
  home/dot_config/exact_private_zsh/exact_functions/_aliased_completions.tmpl
Due: taplo

Removed some unnecessary fallback zsh completions
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_aliae
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_apko
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_argo
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_cdebug
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_changie
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_colima
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_copa
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_cosign
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_cue
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_dasel
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_gator
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_gitsign
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_glow
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_grype
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_helm
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_hugo
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_istioctl
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_k3d
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_k9s
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_kind
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_kubectl
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_kustomize
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_lefthook
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_limactl
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_mcap
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_nerdctl
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_notation
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_pscale
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_rekor-cli
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_slsa-verifier
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_trivy
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_vhs
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_vt
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_whalebrew
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_xeol
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_yq
Due: none

Updated carapace bridges; added singularity to apptainer zsh completions
  home/dot_config/carapace/bridges.yaml
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_apptainer
Due: prettier, prettier-yaml

Removed more unnecessary fallback completions
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_argocd
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_buf
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_doctl
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_flyctl
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_glab
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_incus
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_kubetail
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_oc
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_oh-my-posh
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_podman
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_syft
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_toolbox
Due: none

Small zsh completion & plugin updates, plus adding `bin` to carapace
  home/.chezmoiexternals/zsh-plugins.yaml.tmpl
  home/dot_config/carapace/bridges.yaml
  home/dot_config/exact_private_fish/exact_completions/bin.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_bin.fish
  home/dot_config/exact_private_zsh/.chezmoidata/carapace.toml
  home/dot_config/exact_private_zsh/exact_functions/symlink__archlinux-java
  home/dot_config/exact_private_zsh/exact_functions/symlink__fab
  home/dot_config/exact_private_zsh/exact_functions/symlink__fail2ban-client
  home/dot_config/exact_private_zsh/exact_functions/symlink__gtk-launch
Due: fish_indent, prettier, taplo, prettier-yaml

Changed the structure of the zsh toml files a little
  .taplo.toml
  home/dot_config/exact_private_zsh/.chezmoidata/aliased-completion.toml
  home/dot_config/exact_private_zsh/.chezmoidata/carapace.toml
  home/dot_config/exact_private_zsh/exact_functions/_aliased_completions.tmpl
  home/dot_config/exact_private_zsh/exact_functions/readonly__carapace_managed_lazy.tmpl
Due: taplo

renamed zsh carapace data to compsys.toml, so it can have more stuff in it
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: taplo

Many completion updates
  home/.chezmoidata/shell/completers.yaml
  home/.chezmoiexternals/zsh-plugins.yaml.tmpl
  home/dot_config/carapace/bridges.yaml
  home/dot_config/exact_private_fish/exact_completions/clank.fish
  home/dot_config/exact_private_fish/exact_completions/distrobox.fish
  home/dot_config/exact_private_fish/exact_completions/pygmentize-3.11.fish
  home/dot_config/exact_private_fish/exact_completions/pygmentize-3.12.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_cobra-cli.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_crc.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_distrobox-assemble.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_distrobox-enter.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_distrobox-ephemeral.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_distrobox-export.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_distrobox-generate-entry.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_distrobox-host-exec.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_distrobox-init.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_distrobox-list.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_distrobox-rm.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_distrobox-stop.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_distrobox-upgrade.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_distrobox.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_konqueror.fish
  home/dot_config/exact_private_zsh/.chezmoidata/aliased-completion.toml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_bws
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_procs
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__unreachable_completions.tmpl
  home/dot_config/exact_private_zsh/exact_functions/readonly__aliased_completions.tmpl
  home/dot_config/exact_private_zsh/exact_functions/symlink__bower
  home/dot_config/exact_private_zsh/exact_functions/symlink__cf
  home/dot_config/exact_private_zsh/exact_functions/symlink__emacs
  home/dot_config/exact_private_zsh/exact_functions/symlink__pygmentize
Due: fish_indent, prettier, taplo, prettier-yaml

Added ansible playbook to provision alpine lima VM
  home/dot_config/private_lima/private_alpine/lima.yaml.tmpl
  home/dot_config/private_lima/private_alpine/playbook.yaml
  home/dot_config/private_lima/private_alpine/run_onchange_after_stop-vm.zsh.tmpl
  home/dot_config/private_lima/private_default/lima.yaml.tmpl
Due: prettier, prettier-yaml

Removed global yamllint config in favor of a project-level config
  .yamllint.yaml
  home/dot_config/.chezmoiremove
Due: prettier, prettier-yaml

Updated yamllint config to satisfy requirements for ansible-lint
  .yamllint.yaml
Due: prettier, prettier-yaml

Added requirements.yml for ansible-lint
  requirements.yml
Due: prettier, prettier-yaml

Added basic ansible-lint config
  .ansible-lint
Due: none

Updated chezmoi config to add partial support for a few feature flags
  home/.chezmoi.yaml.tmpl
Due: prettier-yaml

Made yt-dlp check mullvad availability before using the mullvad proxy
  home/dot_config/yt-dlp/config.tmpl
Due: none

Updated abbreviations & added pdm completions
  home/.chezmoidata/shell/abbrev.yaml
  home/.chezmoidata/shell/completers.yaml
  home/dot_config/exact_private_fish/exact_completions/pdm.fish
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_pdm
Due: fish_indent, prettier, prettier-yaml

Mise settings updates
  home/dot_config/exact_mise/config.local.darwin.toml
  home/dot_config/exact_mise/config.toml
  lefthook.yml
  mise.toml
Due: prettier, taplo, prettier-yaml

Updated some chezmoiignore stuff, added .cache symlink for mac os
  home/.chezmoidata/chezmoi/ignored.yaml
  home/.chezmoiignore
  home/dot_config/.chezmoiignore
  home/symlink_dot_cache.tmpl
Due: prettier, prettier-yaml

Removed aqua from brewfile, added aqua completions, and updaed mise shell plugins
  home/.chezmoiexternals/zsh-plugins.yaml.tmpl
  home/dot_config/exact_homebrew/Brewfile
  home/dot_config/exact_private_fish/exact_completions/aqua.fish
  home/dot_config/exact_private_fish/exact_conf.d/30-mise-activate.fish
  home/dot_config/exact_private_zsh/exact_plugins/mise/mise.plugin.zsh
  home/dot_config/exact_private_zsh/exact_plugins/symlink_mise
Due: fish_indent, prettier-yaml

Added swiftlint completions
  home/dot_config/exact_private_fish/exact_completions/symlink_swiftlint.fish
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_swiftlint
Due: none

Added chezmoi externals for meson & nina zsh completions, and a site-functions folder for zsh
  home/.chezmoiexternals/zsh-plugins.yaml.tmpl
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/config.zsh
  home/dot_config/exact_private_zsh/exact_functions/exact_site/.keep
Due: taplo, prettier-yaml

Improved how zsh-users completions are included in code
  home/.chezmoiexternals/zsh-plugins.yaml.tmpl
  home/dot_config/exact_private_zsh/exact_functions/exact_site/symlink__archlinux-java
  home/dot_config/exact_private_zsh/exact_functions/exact_site/symlink__bower
  home/dot_config/exact_private_zsh/exact_functions/exact_site/symlink__ccache
  home/dot_config/exact_private_zsh/exact_functions/exact_site/symlink__cf
  home/dot_config/exact_private_zsh/exact_functions/exact_site/symlink__cmake
  home/dot_config/exact_private_zsh/exact_functions/exact_site/symlink__emacs
  home/dot_config/exact_private_zsh/exact_functions/exact_site/symlink__fab
  home/dot_config/exact_private_zsh/exact_functions/exact_site/symlink__fail2ban-client
  home/dot_config/exact_private_zsh/exact_functions/exact_site/symlink__gtk-launch
  home/dot_config/exact_private_zsh/exact_functions/exact_site/symlink__openssl
  home/dot_config/exact_private_zsh/exact_functions/exact_site/symlink__port
  home/dot_config/exact_private_zsh/exact_functions/exact_site/symlink__pygmentize
  home/dot_config/exact_private_zsh/exact_functions/exact_site/symlink__rspec
  home/dot_config/exact_private_zsh/exact_functions/exact_site/symlink__rubocop
  home/dot_config/exact_private_zsh/exact_functions/exact_site/symlink__setup.py
  home/dot_config/exact_private_zsh/exact_functions/exact_site/symlink__shellcheck
  home/dot_config/exact_private_zsh/exact_functions/symlink__archlinux-java
  home/dot_config/exact_private_zsh/exact_functions/symlink__bower
  home/dot_config/exact_private_zsh/exact_functions/symlink__ccache
  home/dot_config/exact_private_zsh/exact_functions/symlink__cf
  home/dot_config/exact_private_zsh/exact_functions/symlink__cmake
  home/dot_config/exact_private_zsh/exact_functions/symlink__emacs
  home/dot_config/exact_private_zsh/exact_functions/symlink__fab
  home/dot_config/exact_private_zsh/exact_functions/symlink__fail2ban-client
  home/dot_config/exact_private_zsh/exact_functions/symlink__gtk-launch
  home/dot_config/exact_private_zsh/exact_functions/symlink__openssl
  home/dot_config/exact_private_zsh/exact_functions/symlink__port
  home/dot_config/exact_private_zsh/exact_functions/symlink__pygmentize
  home/dot_config/exact_private_zsh/exact_functions/symlink__rspec
  home/dot_config/exact_private_zsh/exact_functions/symlink__rubocop
  home/dot_config/exact_private_zsh/exact_functions/symlink__setup.py
  home/dot_config/exact_private_zsh/exact_functions/symlink__shellcheck
Due: prettier-yaml

Completion stuff
  home/dot_config/carapace/bridges.yaml
  home/dot_config/exact_private_fish/exact_completions/bpython2.fish
  home/dot_config/exact_private_fish/exact_completions/bpython3.fish
  home/dot_config/exact_private_fish/exact_completions/dnf-2.fish
  home/dot_config/exact_private_fish/exact_completions/dnf-3.fish
  home/dot_config/exact_private_fish/exact_completions/mozilla-firefox.fish
  home/dot_config/exact_private_fish/exact_completions/mozilla.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt-add.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt-applied.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt-delete.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt-files.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt-fold.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt-fork.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt-header.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt-help.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt-import-commit.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt-import.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt-init.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt-new.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt-next.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt-patchbomb.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt-pop.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt-prev.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt-push.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt-rebase.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt-refresh.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt-rm.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt-series.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt-status.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt-top.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_guilt-unapplied.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_sqlite.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_update-rc.d.fish
  home/dot_config/exact_private_zsh/.chezmoidata/aliased-completion.toml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/_git-sizer
  home/dot_config/exact_private_zsh/exact_functions/_zshbuiltins_numeric
Due: fish_indent, prettier, taplo, prettier-yaml

Disabled some mise hints
  home/dot_config/exact_mise/config.toml
Due: taplo

Updated eza theme
  home/dot_config/eza/theme.yml
Due: prettier, prettier-yaml

Turned GPG Verification off for mise in the VSCode flatpak
  home/private_dot_var/app/com.visualstudio.code/config/exact_mise/config.toml
Due: taplo

Added eza to linux binaries
  home/.chezmoiexternals/binaries.yaml.tmpl
Due: prettier-yaml

Added eza symlink for vscode custom tools
  home/dot_local/private_share/private_flatpak/extension/com.visualstudio.code.tool.custom/x86_64/24.08/bin/symlink_eza.tmpl
Due: none

Updated mise tasks & lefthook config to use bunx in favor of npx since it's faster
  lefthook.yml
  mise.toml
Due: prettier, taplo, prettier-yaml

Updated prettier config to format ansible-lint config, and updated prettier lefthook glob & excludes
  .prettierrc.yaml
  lefthook.yml
Due: prettier, prettier-yaml

Added fish function to sync lyrics to a lollypop-managed music folder
  home/dot_config/exact_private_fish/exact_functions/lollypop-sync-lyrics.fish
Due: fish_indent

Made lollypop-sync-lyrics use fzf to find paths
  home/dot_config/exact_private_fish/exact_functions/lollypop-sync-lyrics.fish
Due: fish_indent

Updated for carapace 1.1
  home/dot_config/exact_homebrew/Brewfile
  home/dot_config/exact_private_fish/exact_completions/symlink_bloop.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_gsa.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_saw.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: taplo

Swapped zsh fast-syntax-highlighting out for f-sy-h
  home/.chezmoiexternals/zsh-plugins.yaml.tmpl
  home/dot_config/exact_private_zsh/plugins.zsh
Due: prettier-yaml

Added usage completions
  home/dot_config/exact_private_fish/exact_completions/usage.fish
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_usage
Due: fish_indent

Added .ansible-lint icon to eza theme
  home/dot_config/eza/theme.yml
Due: prettier, prettier-yaml

Path conditions:
  fish_indent: any of: *.fish, but not: symlink_*
  prettier: (any of: *.{css,yml,yaml,md,html,json,jsonc,code-snippets}, but not: symlink_*) or (any of: *.{css,md,html,json,jsonc,code-snippets}, but not: symlink_*)
  prettier-ruby: any of: {*.rb,Gemfile,Rakefile,Brewfile}, but not: symlink_*
  prettier-xml: any of: *.{xml,plist}{,.tmpl}, but not: symlink_*
  ruff: any of: *.py, but not: symlink_*
  taplo: any of: *.toml, but not: symlink_*
  prettier-yaml: any of: *.{yml,yaml}{,.tmpl}, but not: symlink_*
  stylua: any of: *.lua, but not: symlink_*
