Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, taplo, ruff

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

taplo:
  run: taplo format {staged_files}
  stage_fixed: true

ruff:
  run: ruff format {staged_files}
  stage_fixed: true

A lot of changes on linux
  .vscode/settings.json
  home/dot_config/.chezmoiignore
  home/dot_config/.chezmoiremove
  home/dot_config/exact_private_environment.d/.chezmoidata.yaml
  home/dot_config/exact_private_environment.d/45-toolchain-cxx.conf
  home/dot_config/exact_private_environment.d/45-toolchain-dotnet.conf
  home/dot_config/exact_private_environment.d/45-toolchain-ruby.conf
  home/dot_config/exact_private_environment.d/51-homebrew.conf
  home/dot_config/exact_private_environment.d/95-user.conf
  home/dot_config/exact_private_environment.d/readonly_99-managed.conf.tmpl
  home/dot_config/homebrew/.chezmoidata.yaml
  home/dot_config/homebrew/brew.env.tmpl
  home/dot_config/private_go/private_env.tmpl
  home/dot_config/private_rainbow/_md5sum.cfg
  home/dot_config/private_rainbow/hashsum.cfg
  home/dot_config/silicon/config
  home/dot_config/symlink_BraveSoftware
  home/dot_config/yamllint/config
  home/dot_local/bin/executable_asdf.tmpl
  home/dot_local/bin/symlink_fly
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_biome.tmpl
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_exercism.tmpl
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_hugo.tmpl
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_lefthook.tmpl
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_taplo.tmpl
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_uv.tmpl
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_uvx.tmpl
  schemas/settings/homebrew.yaml
Due: prettier

Smaller tweaks
  home/dot_config/homebrew/brew.env.tmpl
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_cargo-binstall.tmpl
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_delta
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_fd
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_hyperfine
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_mise
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_rg
Due: none

Added some more fish stuff
  home/dot_config/private_fish/conf.d/abbr.fish.tmpl
  home/dot_config/private_fish/functions/X_clipboard_clear.fish
  home/dot_config/private_fish/functions/clang++.fish
  home/dot_config/private_fish/functions/clang.fish
  home/dot_config/private_fish/functions/egrep.fish
  home/dot_config/private_fish/functions/fgrep.fish
  home/dot_config/private_fish/functions/fuck.fish
  home/dot_config/private_fish/functions/gif2mp4.fish
  home/dot_config/private_fish/functions/glow.fish
  home/dot_config/private_fish/functions/grep.fish
  home/dot_config/private_fish/functions/icat.fish
  home/dot_config/private_fish/functions/pspspsps.fish
  home/dot_config/private_fish/functions/toWebp.fish
  home/dot_config/private_fish/functions/xsel.fish
Due: none

Added some support for chezmoi_modify_manager
  home/.chezmoiignore
  home/dot_config/private_fish/completions/chezmoi_modify_manager.fish
Due: none

Overhauled how brew bundling is done
  .lefthook.yaml
  .mise.toml
  .prettierignore
  .prettierrc.yaml
  Gemfile
  Gemfile.lock
  home/.chezmoidata/packages/homebrew.yaml
  home/.chezmoiscripts/darwin/run_onchange_before_darwin-install-packages.zsh.tmpl
  home/dot_config/homebrew/Brewfile
  home/dot_config/homebrew/brew.env.tmpl
  home/dot_config/homebrew/run_onchange_before_brew-bundle.sh.tmpl
  package.json
  pnpm-lock.yaml
Due: prettier, taplo

Added prettier-xml
  .lefthook.yaml
  .prettierrc.yaml
  home/dot_local/private_share/mime/packages/Override.xml
  home/private_Library/LaunchAgents/codes.furry.tldr.plist.tmpl
  package.json
  pnpm-lock.yaml
Due: prettier

Added ubi-cli and chezmoi_modify_manager to mise configs
  .mise.toml
  home/dot_config/exact_mise/config.toml
Due: taplo

Tweaked brew bundle script a bit
  home/dot_config/homebrew/run_onchange_before_brew-bundle.sh.tmpl
Due: none

Fixed bad template
  home/dot_config/homebrew/run_onchange_before_brew-bundle.sh.tmpl
Due: none

Corrected how brewfile is read into brew bundle
  home/dot_config/homebrew/run_onchange_before_brew-bundle.sh.tmpl
Due: none

Updated fish config a little, added whalebrew config
  home/dot_config/private_fish/conf.d/abbr.fish.tmpl
  home/dot_config/private_fish/config.fish
  home/dot_config/whalebrew/config.yaml
Due: prettier

Made fish conf.d exact
  home/dot_config/private_fish/exact_conf.d/.chezmoiignore
  home/dot_config/private_fish/exact_conf.d/abbr.fish.tmpl
  home/dot_config/private_fish/exact_conf.d/asdf.fish
  home/dot_config/private_fish/exact_conf.d/atuin.fish
  home/dot_config/private_fish/exact_conf.d/darwin.fish
  home/dot_config/private_fish/exact_conf.d/direnv.fish.tmpl
  home/dot_config/private_fish/exact_conf.d/iterm2.fish
  home/dot_config/private_fish/exact_conf.d/mise-activate.fish
  home/dot_config/private_fish/exact_conf.d/shadowenv.fish
  home/dot_config/private_fish/exact_conf.d/starship.fish
  home/dot_config/private_fish/exact_conf.d/vivid.fish
  home/dot_config/private_fish/exact_conf.d/zoxide.fish
Due: none

Added some completions from fish I had sitting around
  home/dot_config/private_fish/completions/charm.fish
  home/dot_config/private_fish/completions/clank.fish
  home/dot_config/private_fish/completions/docker.fish
Due: none

Added VSCode shell integration for fish
  home/dot_config/private_fish/exact_conf.d/.chezmoiignore
  home/dot_config/private_fish/exact_conf.d/symlink_vscode.fish
Due: none

Environment updates, added mise config for the vscode flatpak Also fixed bug in taplo config
  .taplo.toml
  home/dot_config/exact_mise/config.flatpak.vscode.toml
  home/dot_config/exact_mise/symlink_dot_mise.flatpak.vscode.toml
  home/dot_config/exact_private_environment.d/.chezmoidata.yaml
  home/dot_config/exact_private_environment.d/45-toolchain-cxx.conf
  home/dot_config/exact_private_environment.d/45-toolchain-node.conf
  home/dot_config/exact_private_environment.d/45-toolchain-python.conf
  home/dot_config/exact_private_environment.d/95-user.conf
Due: prettier, taplo

Misc changes and brewfile updates
  home/dot_config/homebrew/.chezmoidata.yaml
  home/dot_config/homebrew/Brewfile
  home/dot_config/homebrew/run_onchange_before_brew-bundle.sh.tmpl
  home/dot_config/whalebrew/config.yaml
  home/dot_config/whalebrew/config.yaml.tmpl
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_bat
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_brew
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_carapace.tmpl
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_kitty
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_starship
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_tldr.tmpl
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_tokei.tmpl
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_vivid.tmpl
Due: prettier

Added more fish completions, added neofetch to chezmoiremove
  home/dot_config/.chezmoiremove
  home/dot_config/private_fish/completions/git-absorb.fish
  home/dot_config/private_fish/completions/onefetch.fish
  home/dot_config/private_fish/completions/pngquant.fish
  home/dot_config/private_fish/completions/procs.fish
  home/dot_config/private_fish/completions/pscale.fish
Due: none

Completion updates for fish
  home/dot_config/carapace/bridges.yaml
  home/dot_config/private_fish/exact_completions/doggo.fish
  home/dot_config/private_fish/exact_completions/kondo.fish
  home/dot_config/private_fish/exact_completions/pscale.fish
  home/dot_config/private_fish/exact_completions/ruff.fish
  home/dot_config/private_fish/exact_completions/symlink_ansible-console.fish
  home/dot_config/private_fish/exact_completions/symlink_ansible-doc.fish
  home/dot_config/private_fish/exact_completions/symlink_ansible-inventory.fish
  home/dot_config/private_fish/exact_completions/symlink_ansible-pull.fish
  home/dot_config/private_fish/exact_completions/symlink_ansible-test.fish
  home/dot_config/private_fish/exact_completions/symlink_delta.fish
  home/dot_config/private_fish/exact_completions/symlink_exercism.fish
  home/dot_config/private_fish/exact_completions/symlink_eza.fish
  home/dot_config/private_fish/exact_completions/symlink_fd.fish
  home/dot_config/private_fish/exact_completions/symlink_flatpak.fish
  home/dot_config/private_fish/exact_completions/symlink_lefthook.fish
  home/dot_config/private_fish/exact_completions/symlink_pscale.fish
  home/dot_config/private_fish/exact_completions/symlink_rg.fish
  home/dot_config/private_fish/exact_completions/symlink_skopeo.fish
  home/dot_config/private_fish/exact_completions/symlink_toolbox.fish
  home/dot_config/private_fish/exact_completions/symlink_yt-dlp.fish
  home/dot_config/private_fish/exact_completions/symlink_zoxide.fish
  home/dot_config/private_fish/exact_completions/toolbox.fish
  home/dot_config/private_fish/exact_completions/uvx.fish
Due: prettier

Brewfile and brew config changes
  home/dot_config/homebrew/Brewfile
  home/dot_config/homebrew/brew.env.tmpl
  home/dot_config/homebrew/run_onchange_before_brew-bundle.sh.tmpl
Due: none

brew updates and small mise config tweaks
  home/dot_config/exact_mise/config.toml
  home/dot_config/homebrew/.chezmoidata.yaml
  home/dot_config/homebrew/Brewfile
  home/dot_config/homebrew/brew.env.tmpl
  home/dot_config/homebrew/run_onchange_before_brew-bundle.sh.tmpl
  schemas/settings/homebrew.yaml
Due: prettier, taplo

Overhauled abbreviations for fish & elvish, added my mac os tailscale alias bin, and some other stuff
  .vscode/settings.json
  home/.chezmoidata/shell/abbrev.yaml
  home/.chezmoiremove
  home/dot_config/private_elvish/lib/abbrev.elv
  home/dot_config/private_elvish/lib/abbrev.elv.tmpl
  home/dot_config/private_fish/exact_conf.d/abbr.fish.tmpl
  home/dot_config/private_fish/exact_conf.d/asdf.fish
  home/dot_local/bin/.chezmoiignore
  home/dot_local/bin/executable_tailscale
  home/dot_local/private_share/.chezmoiremove
  schemas/app-settings.yaml
  schemas/settings/shell.yaml
Due: prettier

A lot of small changes
  home/.chezmoidata/chezmoi/ignored.yaml
  home/.chezmoiremove
  home/dot_config/.chezmoiignore
  home/dot_config/.chezmoiremove
  home/dot_config/carapace/bridges.yaml
  home/dot_config/homebrew/.chezmoidata.yaml
  home/dot_config/private_elvish/lib/readonly_abbrev.elv.tmpl
  home/dot_config/private_fish/exact_completions/swift.fish
  home/dot_config/private_fish/exact_completions/symlink_incus.fish
  home/dot_config/private_fish/exact_conf.d/readonly_abbr.fish.tmpl
  home/private_Library/.chezmoiignore
  home/private_Library/.chezmoiremove
  home/symlink_Logs
Due: prettier

Added launchctl environment variable management
  home/private_Library/LaunchAgents/.chezmoidata.yaml
  home/private_Library/LaunchAgents/.launchctl.tmpl
  home/private_Library/LaunchAgents/codes.furry.setenv.plist.tmpl
  home/private_Library/LaunchAgents/readonly_executable_dot_launchctl.tmpl
  home/private_Library/LaunchAgents/run_onchange_launchctl-setenv.tmpl
  schemas/app-settings.yaml
  schemas/settings/launchd.yaml
Due: prettier

Deleted old mac app store package list, added ivory to brewfile
  home/.chezmoidata/packages/mas.toml
  home/dot_config/homebrew/Brewfile
Due: taplo

Added krita to brewfile
  home/dot_config/homebrew/Brewfile
Due: none

Updated some file attributes
  home/dot_config/carapace/styles.json
  home/dot_config/exact_nvim/.stylua.toml
  home/dot_config/exact_nvim/LICENSE
  home/dot_config/exact_nvim/README.md
  home/dot_config/exact_nvim/dot_stylua.toml
  home/dot_config/exact_nvim/init.lua
  home/dot_config/exact_nvim/lazy-lock.json
  home/dot_config/exact_nvim/lua/chadrc.lua
  home/dot_config/exact_nvim/lua/configs/conform.lua
  home/dot_config/exact_nvim/lua/configs/lazy.lua
  home/dot_config/exact_nvim/lua/configs/lspconfig.lua
  home/dot_config/exact_nvim/lua/configs/tree-sitter.lua
  home/dot_config/exact_nvim/lua/mappings.lua
  home/dot_config/exact_nvim/lua/options.lua
  home/dot_config/exact_nvim/lua/plugins/init.lua
  home/dot_config/private_atuin/config.toml.tmpl
  home/dot_config/private_glab-cli/private_aliases.yml
Due: prettier, taplo

Added actual ordering of fish conf.d scripts
  home/dot_config/private_fish/.chezmoiignore
  home/dot_config/private_fish/README.md
  home/dot_config/private_fish/exact_conf.d/.chezmoiignore
  home/dot_config/private_fish/exact_conf.d/20-darwin.fish
  home/dot_config/private_fish/exact_conf.d/30-mise-activate.fish
  home/dot_config/private_fish/exact_conf.d/40-atuin.fish
  home/dot_config/private_fish/exact_conf.d/50-direnv.fish.tmpl
  home/dot_config/private_fish/exact_conf.d/50-shadowenv.fish
  home/dot_config/private_fish/exact_conf.d/50-vivid.fish
  home/dot_config/private_fish/exact_conf.d/60-starship.fish
  home/dot_config/private_fish/exact_conf.d/60-zoxide.fish
  home/dot_config/private_fish/exact_conf.d/90-iterm2.fish
  home/dot_config/private_fish/exact_conf.d/readonly_99-abbr.fish.tmpl
  home/dot_config/private_fish/exact_conf.d/symlink_90-vscode.fish
Due: prettier

Updated lefthook config
  .lefthook.yaml
Due: prettier

More lefthook improvements and prettier config updates
  .lefthook.yaml
  .prettierignore
  .prettierrc.yaml
Due: prettier

Messed around a bit with ignore & remove files
  .gitignore
  home/.chezmoiignore
  home/dot_config/.chezmoiignore
  home/dot_config/.chezmoiremove
  home/dot_config/private_fish/.gitignore
  home/dot_config/private_zsh/.chezmoiignore
  home/dot_config/private_zsh/.gitignore
Due: none

Added exercism config creation, updated fish & zsh completions a little
  .vscode/settings.json
  home/dot_config/private_exercism/create_user.json.tmpl
  home/dot_config/private_fish/exact_completions/.chezmoiignore
  home/dot_config/private_fish/functions/gay.fish
  home/dot_config/private_zsh/exact_functions/_shortcuts.tmpl
  home/dot_config/private_zsh/exact_functions/_swift-format.tmpl
  home/dot_config/private_zsh/exact_functions/_swift-inspect.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_dir_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_dircolors_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_dirname_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_expr_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_factor_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_hostid_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_link_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_pathchk_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_pinky_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_pwd_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_sleep_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_tsort_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_unlink_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_users_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_vdir_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_yes_completion.tmpl
  home/dot_config/private_zsh/exact_functions/override/_delta_completion.tmpl
  home/dot_config/private_zsh/exact_functions/override/_gofmt_completion.tmpl
  home/dot_config/private_zsh/exact_functions/override/_tig_completion.tmpl
Due: prettier

Improved how zsh handles carapace stuff a little
  home/dot_config/carapace/bridges.yaml
  home/dot_config/private_zsh/.chezmoidata.yaml
  home/dot_config/private_zsh/exact_functions/_carapace_lazy.tmpl
  schemas/settings/shell.yaml
Due: prettier

Made zsh generate carapace completons directly from bridges.yaml
  home/dot_config/private_zsh/.chezmoidata.yaml
  home/dot_config/private_zsh/exact_functions/_carapace_lazy_bridges.tmpl
Due: prettier

Made zsh carapace stuff be entirely derived from carapace bridges.yaml
  home/dot_config/carapace/bridges.yaml
  home/dot_config/private_zsh/.chezmoidata.yaml
  home/dot_config/private_zsh/exact_functions/_carapace_lazy.tmpl
  home/dot_config/private_zsh/exact_functions/_carapace_lazy_bridges.tmpl
  schemas/settings/shell.yaml
Due: prettier

Replaced template based carapace zsh setup with just letting carapace deal with setting itself up
  home/dot_config/carapace/bridges.yaml
  home/dot_config/private_zsh/exact_functions/_carapace_lazy.tmpl
  home/dot_config/private_zsh/exact_plugins/carapace/carapace.plugin.zsh
  home/dot_config/private_zsh/plugins.zsh
Due: prettier

Simplified zsh config further
  home/.chezmoitemplates/.keep
  home/.chezmoitemplates/carapace/commands.yaml
  home/.chezmoitemplates/zsh/carapace
  home/.chezmoitemplates/zsh/swift
  home/dot_config/private_zsh/config.zsh
  home/dot_config/private_zsh/exact_functions/_kmutil
  home/dot_config/private_zsh/exact_functions/_kmutil.tmpl
  home/dot_config/private_zsh/exact_functions/_shortcuts
  home/dot_config/private_zsh/exact_functions/_shortcuts.tmpl
  home/dot_config/private_zsh/exact_functions/_swift-format
  home/dot_config/private_zsh/exact_functions/_swift-format.tmpl
  home/dot_config/private_zsh/exact_functions/_swift-inspect
  home/dot_config/private_zsh/exact_functions/_swift-inspect.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_dir_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_dircolors_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_dirname_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_expr_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_factor_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_hostid_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_link_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_pathchk_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_pinky_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_pwd_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_sleep_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_tsort_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_unlink_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_users_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_vdir_completion.tmpl
  home/dot_config/private_zsh/exact_functions/carapace/_yes_completion.tmpl
  home/dot_config/private_zsh/exact_functions/override/.keep
  home/dot_config/private_zsh/exact_functions/override/_delta_completion.tmpl
  home/dot_config/private_zsh/exact_functions/override/_gofmt_completion.tmpl
  home/dot_config/private_zsh/exact_functions/override/_tig_completion.tmpl
Due: prettier

More shell stuff
  home/.chezmoiexternals/zsh-plugins.yaml.tmpl
  home/dot_config/carapace/bridges.yaml
  home/dot_config/private_fish/exact_completions/symlink_rekor-cli.fish
  home/dot_config/private_fish/exact_completions/symlink_sget.fish
  home/dot_config/private_zsh/exact_plugins/symlink_zoxide
  home/dot_config/private_zsh/exact_plugins/zoxide/zoxide.plugin.zsh
Due: prettier

Added atuin launch agent, switched to dotnet formulae, messed around in the app support folder
  home/dot_config/homebrew/Brewfile
  home/dot_config/private_atuin/config.toml.tmpl
  home/private_Library/LaunchAgents/codes.furry.atuin.plist.tmpl
  home/private_Library/private_Application Support/.chezmoiignore
  home/private_Library/private_Application Support/.chezmoiremove
  home/private_Library/private_Application Support/symlink_atuin.tmpl
  home/private_Library/private_Application Support/symlink_mise.tmpl
  home/private_Library/private_Application Support/symlink_zoxide.tmpl
Due: none

Misc. Updates
  home/dot_config/homebrew/.chezmoidata.yaml
  home/dot_config/private_fish/exact_conf.d/.chezmoiignore
  home/dot_config/private_fish/exact_conf.d/20-darwin.fish
  home/dot_config/private_fish/exact_conf.d/50-direnv.fish
  home/dot_config/private_fish/exact_conf.d/50-direnv.fish.tmpl
  home/dot_config/private_zsh/exact_functions/exact_override/.keep
  home/private_Library/private_Application Support/.chezmoiignore
  home/private_Library/private_Application Support/.chezmoiremove
  home/private_Library/private_Application Support/symlink_containers.tmpl
  home/private_Library/private_Application Support/symlink_fish.tmpl
  home/private_Library/private_Application Support/symlink_nvim.tmpl
Due: prettier

Path conditions:
  prettier: any of: *.{css,yml,yaml,md,html,json,jsonc,code-snippets}
  taplo: any of: *.toml
  ruff: any of: *.py
