Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo

fish_indent:
  run: fish_indent -w {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-ruby:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-xml:
  run: npx prettier --write {staged_files}
  stage_fixed: true

ruff:
  run: ruff format {staged_files}
  stage_fixed: true

taplo:
  run: taplo format {staged_files}
  stage_fixed: true

Added colima launch agent
  home/private_Library/LaunchAgents/.chezmoiremove
  home/private_Library/LaunchAgents/codes.furry.colima.plist.tmpl
Due: prettier-xml

Updated prettier config to corret plist formatting, applied formatting
  .prettierrc.yaml
  home/private_Library/LaunchAgents/codes.furry.atuin.plist.tmpl
  home/private_Library/LaunchAgents/codes.furry.colima.plist.tmpl
  home/private_Library/LaunchAgents/codes.furry.setenv.plist.tmpl
  home/private_Library/LaunchAgents/codes.furry.tldr.plist.tmpl
Due: prettier, prettier-xml

Fixed broken launchctl setenv agent, removed custom colima service
  home/private_Library/LaunchAgents/.chezmoiremove
  home/private_Library/LaunchAgents/codes.furry.colima.plist.tmpl
  home/private_Library/LaunchAgents/codes.furry.setenv.plist.tmpl
Due: prettier-xml

Restored modified colima service
  home/private_Library/LaunchAgents/.chezmoiremove
  home/private_Library/LaunchAgents/codes.furry.colima.plist.tmpl
Due: prettier-xml

Added lesshst to chezmoiremove (randomly can get regenerated)
  home/.chezmoiremove
Due: none

Updates
  home/.chezmoiremove
  home/dot_config/bat/exact_syntaxes/subid.sublime-syntax
  home/dot_config/homebrew/.chezmoidata.yaml
  home/dot_config/homebrew/Brewfile
  home/dot_config/private_fish/exact_completions/docker.fish
  home/private_Library/LaunchAgents/.chezmoidata.yaml
  home/private_Library/LaunchAgents/readonly_io.podman_desktop.PodmanDesktop.plist.tmpl
  home/private_Library/private_Application Support/.chezmoiremove
  home/private_Library/private_Application Support/symlink_cargo.tmpl
  home/private_Library/private_Application Support/symlink_gh.tmpl
Due: fish_indent, prettier, prettier-xml

More misc updates
  home/.chezmoiremove
  home/dot_config/.chezmoiremove
  home/dot_config/carapace/bridges.yaml
  home/dot_config/exact_mise/config.toml
  home/dot_config/homebrew/Brewfile
  home/dot_config/private_fish/exact_completions/symlink_gk.fish
  home/dot_config/private_fish/exact_conf.d/.chezmoiignore
  home/private_Library/LaunchAgents/.chezmoidata.yaml
Due: prettier, taplo

A lot of random linux changes
  home/dot_config/homebrew/Brewfile
  home/dot_config/homebrew/run_onchange_before_brew-bundle.sh.tmpl
  home/dot_local/private_share/.chezmoiignore
  home/dot_local/private_share/.chezmoiremove
  home/dot_local/private_share/private_flatpak/.chezmoiignore
  home/dot_local/private_share/private_flatpak/extension/com.visualstudio.code.tool.custom/x86_64/24.08/bin/executable_op-ssh-sign
  home/dot_local/private_share/private_flatpak/extension/com.visualstudio.code.tool.custom/x86_64/24.08/bin/symlink_bat
  home/dot_local/private_share/private_flatpak/extension/com.visualstudio.code.tool.custom/x86_64/24.08/bin/symlink_brew
  home/dot_local/private_share/private_flatpak/extension/com.visualstudio.code.tool.custom/x86_64/24.08/bin/symlink_chezmoi
  home/dot_local/private_share/private_flatpak/extension/com.visualstudio.code.tool.custom/x86_64/24.08/bin/symlink_delta
  home/dot_local/private_share/private_flatpak/extension/com.visualstudio.code.tool.custom/x86_64/24.08/bin/symlink_fd
  home/dot_local/private_share/private_flatpak/extension/com.visualstudio.code.tool.custom/x86_64/24.08/bin/symlink_hyperfine
  home/dot_local/private_share/private_flatpak/extension/com.visualstudio.code.tool.custom/x86_64/24.08/bin/symlink_kitty
  home/dot_local/private_share/private_flatpak/extension/com.visualstudio.code.tool.custom/x86_64/24.08/bin/symlink_mise
  home/dot_local/private_share/private_flatpak/extension/com.visualstudio.code.tool.custom/x86_64/24.08/bin/symlink_op
  home/dot_local/private_share/private_flatpak/extension/com.visualstudio.code.tool.custom/x86_64/24.08/bin/symlink_rg
  home/dot_local/private_share/private_flatpak/extension/com.visualstudio.code.tool.custom/x86_64/24.08/bin/symlink_starship
  home/dot_local/private_share/private_flatpak/extension/com.visualstudio.code.tool.custom/x86_64/24.08/bin/symlink_tldr
  home/dot_local/private_share/private_flatpak/extension/com.visualstudio.code.tool.homebrew/x86_64/symlink_24.08.tmpl
  home/dot_local/private_share/private_flatpak/extension/org.freedesktop.Sdk.Extension.mise/x86_64/24.08/bin/symlink_mise
  home/dot_local/private_share/private_flatpak/extension/org.freedesktop.Sdk.Extension.mise/x86_64/24.08/enable.sh
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_biome.tmpl
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_carapace.tmpl
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_cargo-binstall.tmpl
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_exercism.tmpl
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_hugo.tmpl
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_lefthook.tmpl
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_taplo.tmpl
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_tldr.tmpl
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_tokei.tmpl
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_uv.tmpl
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_uvx.tmpl
  home/private_dot_var/app/com.visualstudio.code/data/tools/bin/symlink_vivid.tmpl
Due: none

Updated chezmoiremove, added wezterm config
  home/dot_config/.chezmoiremove
  home/dot_config/wezterm/wezterm.lua
Due: none

More updates includes an overhaul to bat config
  home/.chezmoiexternals/bat-syntaxes.yaml
  home/.chezmoiscripts/darwin/run_onchange_after_bat.zsh.tmpl
  home/dot_config/bat/.chezmoidata.yaml
  home/dot_config/bat/config
  home/dot_config/bat/config.tmpl
  home/dot_config/bat/exact_syntaxes/brainfuck/Brainfuck.sublime-syntax
  home/dot_config/bat/exact_syntaxes/brainfuck/LICENSE
  home/dot_config/kitty/.chezmoidata.yaml
  home/dot_config/kitty/kitty.conf.tmpl
  home/private_Library/LaunchAgents/.chezmoiremove
  home/private_Library/LaunchAgents/readonly_io.podman_desktop.PodmanDesktop.plist.tmpl
  schemas/app-settings.yaml
  schemas/settings/bat.yaml
Due: prettier, prettier-xml

Updates
  home/.chezmoidata/shell/abbrev.yaml
  home/.chezmoiremove
  home/dot_config/carapace/bridges.yaml
  home/dot_config/exact_mise/config.toml
  home/dot_config/homebrew/.chezmoidata.yaml
  home/dot_config/private_fish/exact_completions/symlink_apko.fish
  home/dot_config/private_fish/exact_completions/symlink_apptainer.fish
  home/dot_config/private_fish/exact_completions/symlink_apptainer.lima.fish
  home/dot_config/private_fish/exact_completions/symlink_argo.fish
  home/dot_config/private_fish/exact_completions/symlink_argocd.fish
  home/dot_config/private_fish/exact_completions/symlink_cdebug.fish
  home/dot_config/private_fish/exact_completions/symlink_cekit.fish
  home/dot_config/private_fish/exact_completions/symlink_copa.fish
  home/dot_config/private_fish/exact_completions/symlink_devpod.fish
  home/dot_config/private_fish/exact_completions/symlink_docker-buildx.fish
  home/dot_config/private_fish/exact_completions/symlink_faas-cli.fish
  home/dot_config/private_fish/exact_completions/symlink_faas.fish
  home/dot_config/private_fish/exact_completions/symlink_kompose.fish
  home/dot_config/private_fish/exact_completions/symlink_kubectl.lima.fish
  home/dot_config/private_fish/exact_completions/symlink_mcap.fish
  home/dot_config/private_fish/exact_completions/symlink_nerdctl.colima.fish
  home/dot_config/private_fish/exact_completions/symlink_nerdctl.fish
  home/dot_config/private_fish/exact_completions/symlink_nerdctl.lima.fish
  home/dot_config/private_fish/exact_completions/symlink_notation.fish
  home/dot_config/private_fish/exact_completions/symlink_orb.fish
  home/dot_config/private_fish/exact_completions/symlink_orbctl.fish
  home/dot_config/private_fish/exact_completions/symlink_trivy.fish
  home/dot_config/private_fish/exact_completions/symlink_xeol.fish
Due: prettier, taplo

Added brew auto update timer & service for linux
  home/dot_config/systemd/user/brew-auto-update.service
  home/dot_config/systemd/user/brew-auto-update.timer
Due: none

More small updates from linux
  home/dot_config/.chezmoiignore
  home/dot_config/.chezmoiremove
  home/dot_config/carapace/bridges.yaml
  home/dot_config/private_fish/exact_completions/antidot.fish
  home/dot_config/private_fish/exact_completions/symlink_antidot.fish
  home/dot_config/private_fish/exact_completions/symlink_singularity.fish
Due: fish_indent, prettier

attribute changes
  .vscode/settings.json
  home/dot_config/bat/readonly_config.tmpl
  home/dot_config/exact_private_zsh/.chezmoiignore
  home/dot_config/exact_private_zsh/.gitignore
  home/dot_config/exact_private_zsh/aliases.zsh
  home/dot_config/exact_private_zsh/config.zsh
  home/dot_config/exact_private_zsh/env.zsh
  home/dot_config/exact_private_zsh/exact_functions/_kmutil
  home/dot_config/exact_private_zsh/exact_functions/_sentry-cli
  home/dot_config/exact_private_zsh/exact_functions/_shortcuts
  home/dot_config/exact_private_zsh/exact_functions/_swift-format
  home/dot_config/exact_private_zsh/exact_functions/_swift-inspect
  home/dot_config/exact_private_zsh/exact_functions/exact_override/.keep
  home/dot_config/exact_private_zsh/exact_plugins/atuin/atuin.plugin.zsh
  home/dot_config/exact_private_zsh/exact_plugins/carapace/carapace.plugin.zsh
  home/dot_config/exact_private_zsh/exact_plugins/shadowenv/shadowenv.plugin.zsh
  home/dot_config/exact_private_zsh/exact_plugins/symlink_command-not-found
  home/dot_config/exact_private_zsh/exact_plugins/symlink_direnv
  home/dot_config/exact_private_zsh/exact_plugins/symlink_iterm2
  home/dot_config/exact_private_zsh/exact_plugins/symlink_mise
  home/dot_config/exact_private_zsh/exact_plugins/symlink_starship
  home/dot_config/exact_private_zsh/exact_plugins/symlink_thefuck
  home/dot_config/exact_private_zsh/exact_plugins/symlink_zoxide
  home/dot_config/exact_private_zsh/plugins.zsh
  home/dot_config/exact_private_zsh/run_onchange_after_zrecompile.zsh.tmpl
  home/dot_config/exact_private_zsh/symlink_dot_zshenv
  home/dot_config/exact_private_zsh/symlink_dot_zshrc
  home/dot_config/private_fish/readonly_config.fish
Due: fish_indent, prettier

Started to add SSH Config
  .vscode/settings.json
  home/private_dot_ssh/private_config.tmpl
Due: prettier

Simplified loading of 1password SSH stuff via includes
  .vscode/settings.json
  home/private_dot_ssh/.keep
  home/private_dot_ssh/exact_private_config.d/private_1password-darwin
  home/private_dot_ssh/exact_private_config.d/private_1password-linux
  home/private_dot_ssh/exact_private_config.d/private_1password-windows
  home/private_dot_ssh/private_config.tmpl
Due: prettier

Fish stuff
  home/dot_config/private_fish/exact_completions/brew.linuxbrew.fish
  home/dot_config/private_fish/functions/.chezmoiignore
  home/dot_config/private_fish/functions/__fish_print_modules.fish
  home/dot_config/private_fish/functions/__fish_print_selinux_booleans.fish
  home/dot_config/private_fish/functions/btrfs.fish
  home/dot_config/private_fish/functions/dnf.fish
  home/dot_config/private_fish/functions/duperemove.fish
  home/dot_config/private_fish/functions/gif2mp4_bulk.fish
  home/dot_config/private_fish/functions/literal_create_icons.fish
  home/dot_config/private_fish/functions/lutris_create_icon.fish
  home/dot_config/private_fish/functions/procenv.fish
  home/dot_config/private_fish/functions/sad.fish
  home/dot_config/private_fish/functions/spec_needs_buildrequires.fish
  home/dot_config/private_fish/functions/vimdot.fish
  home/dot_config/private_fish/functions/wrap-systemd.scope.fish
Due: fish_indent

Enabled 1password ssh agent on linux (i think?)
  home/private_dot_ssh/exact_private_config.d/private_1password-linux
  home/private_dot_ssh/exact_private_config.d/private_1password-linux.tmpl
Due: none

Added some stuff for .onion domains in ssh config
  home/private_dot_ssh/private_config.tmpl
Due: none

turned 1passowrd SSH agent back off on linux
  home/private_dot_ssh/exact_private_config.d/private_1password-linux.tmpl
Due: none

Added default vivid filetypes db
  .vscode/settings.json
  home/dot_config/vivid/filetypes.yml
Due: prettier

Added some filetypes to vivid database, updated 1password wrapper script
  home/dot_config/vivid/filetypes.yml
  home/dot_local/bin/executable_1password
Due: prettier

Updated vivid filetypes a little more
  home/dot_config/vivid/filetypes.yml
Due: prettier

Added eza to vscode flatpak tools
  home/dot_local/private_share/private_flatpak/extension/com.visualstudio.code.tool.custom/x86_64/24.08/bin/symlink_eza
Due: none

vivid filetypes updates, and small updates to abbreviations
  home/.chezmoidata/shell/abbrev.yaml
  home/dot_config/vivid/filetypes.yml
Due: prettier

Marked homebrew config as exact
  home/dot_config/exact_homebrew/.chezmoidata.yaml
  home/dot_config/exact_homebrew/Brewfile
  home/dot_config/exact_homebrew/brew.env.tmpl
  home/dot_config/exact_homebrew/config/bat
  home/dot_config/exact_homebrew/run_onchange_before_brew-bundle.sh.tmpl
Due: prettier

Removed gitkraken/gitlens dotfiles from chezmoiremove
  home/.chezmoiremove
Due: none

Added binwalk to brewfile
  home/dot_config/exact_homebrew/Brewfile
Due: none

Kitty config updates
  home/dot_config/kitty/.chezmoidata.yaml
  home/dot_config/kitty/kitty.conf.tmpl
  schemas/settings/kitty.yaml
Due: prettier

Updated wezterm config
  .stylua.toml
  home/dot_config/wezterm/wezterm.lua
Due: taplo

updates to kitty config
  home/dot_config/kitty/.chezmoidata.yaml
  home/dot_config/kitty/kitty.conf.tmpl
  schemas/settings/kitty.yaml
Due: prettier

Removed colima launchagent, and added .config/chezmoi to ignored stuff
  home/dot_config/.chezmoiignore
  home/private_Library/LaunchAgents/codes.furry.colima.plist.tmpl
Due: prettier-xml

Made LaunchAgents exact Add stuff to the chezmoiignore if they're supposed to be allowed despite being unmanaged
  home/private_Library/exact_LaunchAgents/.chezmoidata.yaml
  home/private_Library/exact_LaunchAgents/.chezmoiignore
  home/private_Library/exact_LaunchAgents/.chezmoiremove
  home/private_Library/exact_LaunchAgents/.launchctl.tmpl
  home/private_Library/exact_LaunchAgents/codes.furry.atuin.plist.tmpl
  home/private_Library/exact_LaunchAgents/codes.furry.setenv.plist.tmpl
  home/private_Library/exact_LaunchAgents/codes.furry.tldr.plist.tmpl
  home/private_Library/exact_LaunchAgents/readonly_executable_dot_launchctl.tmpl
  home/private_Library/exact_LaunchAgents/run_onchange_launchctl-setenv.tmpl
Due: prettier, prettier-xml

Application Support ignore tweaks
  home/private_Library/private_Application Support/.chezmoiignore
  home/private_Library/private_Application Support/symlink_chezmoi.tmpl
Due: none

Added basic gnupg config, added .local/share/wezterm to ignored stuff
  home/dot_local/private_share/.chezmoiignore
  home/dot_local/private_share/private_gnupg/.chezmoiignore
  home/dot_local/private_share/private_gnupg/gpg-agent.conf.tmpl
Due: none

Made some windows-related changes
  home/.chezmoiscripts/windows/run_onchange_before_environment.ps1.tmpl
  home/dot_config/.chezmoiignore
  home/dot_local/private_share/.chezmoiignore
  home/private_dot_ssh/exact_private_config.d/.chezmoiignore
Due: none

Updated chezmoi ignore & remove
  home/.chezmoidata/chezmoi/ignored.yaml
  home/.chezmoiremove
Due: prettier

Another edit to .chezmoiremove and ignored files
  home/.chezmoidata/chezmoi/ignored.yaml
  home/.chezmoiremove
Due: prettier

Made `chezmoi cd` open powershell on windows
  home/.chezmoi.yaml.tmpl
Due: none

Path conditions:
  fish_indent: any of: *.fish, but not: symlink_*
  prettier: any of: *.{css,yml,yaml,md,html,json,jsonc,code-snippets}, but not: symlink_*
  prettier-ruby: any of: {*.rb,Gemfile,Rakefile,Brewfile}, but not: symlink_*
  prettier-xml: any of: *.{xml,plist}{,.tmpl}, but not: symlink_*
  ruff: any of: *.py, but not: symlink_*
  taplo: any of: *.toml, but not: symlink_*
