Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo, stylua

fish_indent:
  run: fish_indent -w {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-ruby:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-xml:
  run: npx prettier --write {staged_files}
  stage_fixed: true

ruff:
  run: ruff format {staged_files}
  stage_fixed: true

taplo:
  run: taplo format {staged_files}
  stage_fixed: true

stylua:
  run: mise x -- stylua --respect-ignores {staged_files}
  stage_fixed: true

Corrected dell g15 linux flatpaks, added more fedora wsl flatpaks
  playbooks/device-dell-g15-linux.yml
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Minor updates
  home/dot_config/carapace/bridges.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_anyquery.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

Updated prettier
  bun.lockb
  package.json
Due: prettier

Set npm.packageManager to bun for vscode, sorted vscode settings
  .vscode/settings.json
Due: prettier

Rewrote lefthook config
  .vscode/settings.json
  lefthook.yml
Due: prettier

Updated nvim plugins
  home/dot_config/exact_private_nvim/lazy-lock.json
Due: prettier

Updated WSL playbooks
  playbooks/device-dell-g15-wsl-fedora.yml
  playbooks/device-dell-g15-wsl-ubuntu.yml
Due: prettier

Added `jq` to ubuntu wsl packages, created symlinks for `bat` and `fd` on ubuntu to fix command names
  home/dot_local/bin/symlink_bat.tmpl
  home/dot_local/bin/symlink_fd.tmpl
  playbooks/device-dell-g15-wsl-ubuntu.yml
Due: prettier

Made code symlink not appear on wsl instances
  home/dot_local/bin/.chezmoiignore
  home/dot_local/bin/symlink_code.tmpl
Due: none

Made firejail symlinks templates
  home/dot_local/bin/.chezmoiignore
  home/dot_local/bin/symlink_dig
  home/dot_local/bin/symlink_dig.tmpl
  home/dot_local/bin/symlink_ffplay
  home/dot_local/bin/symlink_ffplay.tmpl
  home/dot_local/bin/symlink_ffprobe
  home/dot_local/bin/symlink_ffprobe.tmpl
  home/dot_local/bin/symlink_host
  home/dot_local/bin/symlink_host.tmpl
  home/dot_local/bin/symlink_ipcalc
  home/dot_local/bin/symlink_ipcalc.tmpl
  home/dot_local/bin/symlink_nslookup
  home/dot_local/bin/symlink_nslookup.tmpl
  home/dot_local/bin/symlink_patch
  home/dot_local/bin/symlink_patch.tmpl
  home/dot_local/bin/symlink_ping
  home/dot_local/bin/symlink_ping.tmpl
  home/dot_local/bin/symlink_strings
  home/dot_local/bin/symlink_strings.tmpl
  home/dot_local/bin/symlink_tesseract
  home/dot_local/bin/symlink_tesseract.tmpl
  home/dot_local/bin/symlink_whois
  home/dot_local/bin/symlink_whois.tmpl
  home/dot_local/bin/symlink_yt-dlp
  home/dot_local/bin/symlink_yt-dlp.tmpl
Due: none

Added homebrew util-linux bin symlinks for mac os
  home/dot_local/bin/symlink_colcrt.tmpl
  home/dot_local/bin/symlink_flock.tmpl
  home/dot_local/bin/symlink_hardlink.tmpl
  home/dot_local/bin/symlink_isosize.tmpl
  home/dot_local/bin/symlink_mcookie.tmpl
  home/dot_local/bin/symlink_namei.tmpl
  home/dot_local/bin/symlink_scriptreplay.tmpl
  home/dot_local/bin/symlink_setsid.tmpl
  home/dot_local/bin/symlink_uuidparse.tmpl
Due: none

Improved lefthook config
  lefthook.yml
Due: prettier

Added node to mise config.toml
  .config/mise/config.toml
Due: taplo

Fixed update-mime-database script to not run when update-mime-database doesn't exist
  home/.chezmoiscripts/linux/run_onchange_after_90-mime-db.sh.tmpl
Due: none

Added basic arch wsl playbook
  playbooks/device-dell-g15-wsl-arch.yml
Due: prettier

Unified wsl fish conf.d scripts
  home/dot_config/exact_private_fish/exact_conf.d/21-is-wsl.fish.tmpl
  home/dot_config/exact_private_fish/exact_conf.d/29-device-dell-g15-wsl-fedora.fish
  home/dot_config/exact_private_fish/exact_conf.d/29-device-dell-g15-wsl-ubuntu.fish
Due: fish_indent

Added glibc-locales to arch ansible setup
  home/.chezmoiscripts/linux/run_onchange_before_01-install-ansible.sh.tmpl
  playbooks/device-dell-g15-wsl-arch.yml
Due: prettier

Added stuff to arch wsl playbook
  playbooks/device-dell-g15-wsl-arch.yml
Due: prettier

Enabled mirro-rs timer in arch wsl
  playbooks/device-dell-g15-wsl-arch.yml
Due: prettier

Added ssh & ssh-add aliases for wsl
  home/dot_config/exact_private_fish/exact_functions/ssh-add.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/ssh.fish.tmpl
Due: none

Added WSL path cleanup and a wsl symlink alias for carapace to use
  home/dot_config/exact_private_fish/exact_conf.d/21-is-wsl.fish.tmpl
  home/dot_local/bin/symlink_carapace.tmpl
Due: none

Added more wsl command symlinks
  home/dot_local/bin/symlink_hexyl.tmpl
  home/dot_local/bin/symlink_optipng.tmpl
  home/dot_local/bin/symlink_pngquant.tmpl
  home/dot_local/bin/symlink_vt.tmpl
  home/dot_local/bin/symlink_yt-dlp.tmpl
Due: none

Fixed mistake in wsl fish conf.d
  home/dot_config/exact_private_fish/exact_conf.d/21-is-wsl.fish.tmpl
Due: none

Added a distro property to chezmoi config file
  home/.chezmoi.yaml.tmpl
  home/dot_config/systemd/user/.chezmoiignore
Due: none

Updated wsl playbooks
  playbooks/device-dell-g15-wsl-arch.yml
  playbooks/device-dell-g15-wsl-fedora.yml
  playbooks/device-dell-g15-wsl-ubuntu.yml
Due: prettier

Added arch linux atuin service override, made fedora wsl enable dnf makecache timer
  home/dot_config/systemd/user/atuin.service.d/20-distro-arch.conf
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Added ubuntu-specific mise.toml
  home/dot_config/exact_mise/exact_conf.d/.chezmoiignore
  home/dot_config/exact_mise/exact_conf.d/distro-ubuntu.toml
Due: taplo

Fixed sandboxing issues with atuin service
  home/dot_config/systemd/user/atuin.service
Due: none

Added atuin to arch wsl packages, and enabled autostarting it
  playbooks/device-dell-g15-wsl-arch.yml
Due: prettier

Corrected ansible playbooks to use systemd user units where they're supposed to
  playbooks/device-dell-g15-wsl-arch.yml
  playbooks/device-dell-g15-wsl-fedora.yml
  playbooks/device-dell-g15-wsl-ubuntu.yml
Due: prettier

Added atuin chezmoiexternal for some devices
  home/.chezmoiexternals/binaries.yaml.tmpl
Due: none

Fixed chezmoiignore
  home/dot_local/bin/.chezmoiignore
Due: none

Fixed atuin chezmoi external
  home/.chezmoiexternals/binaries.yaml.tmpl
Due: none

Made default atuin path for systemd service more standard
  home/dot_config/systemd/user/atuin.service
  home/dot_config/systemd/user/atuin.service.d/70-device-dell-g15-linux.conf
Due: none

Added ubuntu override for atuin service, and enabled activation on fedora wsl
  home/dot_config/systemd/user/atuin.service.d/20-distro-ubuntu.conf
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Enabled atuin service on ubuntu
  playbooks/device-dell-g15-wsl-ubuntu.yml
Due: prettier

Set ZDOTDIR in WSL instances
  home/dot_config/exact_private_fish/exact_conf.d/21-is-wsl.fish.tmpl
Due: none

Updated WSLplaybooks more
  playbooks/device-dell-g15-wsl-arch.yml
  playbooks/device-dell-g15-wsl-fedora.yml
  playbooks/device-dell-g15-wsl-ubuntu.yml
Due: prettier

Improved names for mise repo setup on ubuntu wsl
  playbooks/device-dell-g15-wsl-ubuntu.yml
Due: prettier

Path conditions:
  fish_indent: any of: *.fish, but not: symlink_*
  prettier: any of: *.{css,yml,yaml,md,html,json,jsonc,code-snippets}, but not: symlink_*
  prettier-ruby: any of: {*.rb,Gemfile,Rakefile,Brewfile}, but not: symlink_*
  prettier-xml: any of: *.{xml,plist}{,.tmpl}, but not: symlink_*
  ruff: any of: *.py, but not: symlink_*
  taplo: any of: *.toml, but not: symlink_*
  stylua: any of: *.lua, but not: symlink_*
