Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo

fish_indent:
  run: fish_indent -w {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-ruby:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-xml:
  run: npx prettier --write {staged_files}
  stage_fixed: true

ruff:
  run: ruff format {staged_files}
  stage_fixed: true

taplo:
  run: taplo format {staged_files}
  stage_fixed: true

Various changes
  home/dot_config/.chezmoiignore
  home/dot_config/exact_private_fish/exact_functions/ip.fish.tmpl
  home/dot_config/private_lima/.chezmoiignore
  home/dot_config/private_lima/private_default/playbook.yaml
Due: prettier

Made stop-vm scripts run before applying state
  home/dot_config/private_lima/private_alpine/run_onchange_before_stop-vm.zsh.tmpl
  home/dot_config/private_lima/private_default/run_onchange_before_stop-vm.zsh.tmpl
Due: none

Added guard to make sure `hostnamectl` is available in chezmoi init
  home/.chezmoi.yaml.tmpl
Due: none

More lima changes
  home/dot_config/exact_private_fish/exact_conf.d/21-is-lima.fish.tmpl
  home/dot_config/private_lima/private_default/playbook.yaml
Due: prettier

Updated brewfile
  home/dot_config/exact_private_homebrew/Brewfile
Due: none

Added `desktop-file-validate` to git hooks
  TODO.md
  lefthook.yml
Due: prettier

Added packageManager field to package.json
  package.json
Due: prettier

Updated disabled mise tools
  home/dot_config/exact_private_mise/config.toml
Due: taplo

Removed ~/.local/bin/eza from lima chezmoiignore
  home/dot_local/bin/.chezmoiignore
Due: none

Lima & homebrew tweaks
  home/dot_config/exact_private_homebrew/brew.env.tmpl
  home/dot_config/exact_private_homebrew/exact_config/executable_op_sudo_askpass.tmpl
  home/dot_config/exact_private_mise/exact_conf.d/device-lima-default.toml
  home/dot_config/exact_user-tmpfiles.d/device-lima-default.conf
  home/dot_config/private_lima/private_default/lima.yaml.tmpl
  home/dot_config/private_lima/private_default/playbook.yaml
Due: prettier, taplo

Renamed host-services directory for lima
  home/dot_config/exact_user-tmpfiles.d/device-lima-default.conf
Due: none

homebrew updates
  home/dot_config/exact_private_homebrew/.chezmoidata.yaml
  home/dot_config/exact_private_homebrew/Brewfile
Due: prettier

Added warp-cli to completers.yaml
  home/.chezmoidata/shell/completers.yaml
Due: prettier

Updated chezmoiignore files
  home/private_Library/.chezmoiignore
  home/private_Library/private_Application Support/.chezmoiignore
Due: none

Added fish-lsp to nvim and vscode extension settings
  .vscode/extensions.json
  home/dot_config/exact_private_nvim/exact_lua/exact_configs/lspconfig.lua
Due: prettier

Added ansible-lint to lefthook
  home/dot_config/private_lima/private_alpine/playbook.yaml
  home/dot_config/private_lima/private_default/playbook.yaml
  lefthook.yml
  playbooks/device-dell-g15-linux.yml
  playbooks/device-dell-g15-wsl-arch.yml
  playbooks/device-dell-g15-wsl-fedora.yml
  playbooks/device-dell-g15-wsl-ubuntu.yml
  playbooks/device-surface-book.yml
Due: prettier

Improved formatting on schemas
  schemas/chezmoi/config.yaml
  schemas/settings/kitty.yaml
Due: prettier

Tweaks to yamllint config and lefthook scripts
  .prettierrc.yaml
  .yamllint.yaml
  lefthook.yml
  schemas/chezmoi/config.yaml
  schemas/settings/kitty.yaml
Due: prettier

Added yamllint vscode task
  .vscode/tasks.json
Due: prettier

Added lint:prettier npm script
  package.json
Due: prettier

Added format:prettier npm script and unified npm scripts with mise tasks
  .config/mise/config.toml
  package.json
Due: prettier, taplo

Added skip checks to not run unavailabe hooks on some platforms by default
  lefthook.yml
Due: prettier

Added basic ubuntu lima VM
  home/dot_config/private_lima/private_ubuntu/lima.yaml.tmpl
  home/dot_config/private_lima/private_ubuntu/playbook.yaml
  home/dot_config/private_lima/private_ubuntu/run_onchange_before_stop-vm.zsh.tmpl
Due: prettier

Updated fedora & ubuntu lima playbooks
  home/dot_config/private_lima/private_default/playbook.yaml
  home/dot_config/private_lima/private_ubuntu/playbook.yaml
Due: prettier

Updated lima-alpine playbook and improved alpine linux compatibility in dotfiles
  home/dot_config/.chezmoiignore
  home/dot_config/private_lima/private_alpine/lima.yaml.tmpl
  home/dot_config/private_lima/private_alpine/playbook.yaml
  home/dot_local/bin/.chezmoiignore
Due: prettier

Tweaked some completion settings, added some packages to lima-alpine
  home/dot_config/exact_private_fish/exact_completions/_carapace_or_fallback.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_age.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_ar.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_black.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_delta.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_direnv.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_eza.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_gimp.fish
  home/dot_config/private_lima/private_alpine/playbook.yaml
Due: fish_indent, prettier

Added fish 4 ppa to ubuntu wsl
  playbooks/device-dell-g15-wsl-ubuntu.yml
Due: prettier

Added more stuff to lima-ubuntu playbook
  home/dot_config/private_lima/private_ubuntu/playbook.yaml
Due: prettier

Added dockerfmt completions
  home/dot_config/carapace/bridges.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_dockerfmt.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

Added carapace to ubuntu mise.toml
  home/dot_config/exact_private_mise/exact_conf.d/distro-ubuntu.toml
Due: taplo

Added some support for zsh in lima vms
  home/dot_config/.chezmoiignore
  home/dot_config/exact_private_fish/exact_conf.d/21-is-lima.fish.tmpl
  home/dot_config/exact_private_zsh/.chezmoiignore
  home/dot_config/private_lima/private_alpine/playbook.yaml
  home/dot_config/private_lima/private_default/playbook.yaml
  home/dot_config/private_lima/private_ubuntu/playbook.yaml
Due: prettier

Disabled rebuilding carapace cache in lima VMs
  home/.chezmoiscripts/darwin/run_onchange_after_90-carapace_bridges.sh.tmpl
Due: none

Added RPM Fusion to lima-default playbook
  home/dot_config/private_lima/private_default/playbook.yaml
Due: prettier

Enabled vz audio device in default lima VM (not yet working), and added kernel-modules & kernel-modules-extra as packages to it
  home/dot_config/private_lima/private_default/lima.yaml.tmpl
  home/dot_config/private_lima/private_default/playbook.yaml
Due: prettier

Changed device-lima tmpfiles.d file to be used for all lima VMs
  home/dot_config/exact_user-tmpfiles.d/.chezmoiignore
  home/dot_config/exact_user-tmpfiles.d/is-lima.conf
Due: none

Made is-lima tmpfiles.d file a template
  home/dot_config/exact_user-tmpfiles.d/.chezmoiignore
  home/dot_config/exact_user-tmpfiles.d/is-lima.conf
  home/dot_config/exact_user-tmpfiles.d/is-lima.conf.tmpl
Due: none

Moved most lima host config symlinks into systemd-tmpfiles (for lima-default)
  home/dot_config/exact_user-tmpfiles.d/is-lima.conf.tmpl
  home/dot_config/private_lima/private_default/playbook.yaml
Due: prettier

Made lima VMs use host chezmoi source dir in their provisioning process
  home/.chezmoi.yaml.tmpl
  home/dot_config/private_lima/private_alpine/playbook.yaml
  home/dot_config/private_lima/private_default/playbook.yaml
  home/dot_config/private_lima/private_ubuntu/playbook.yaml
Due: prettier

Enabled partial support for sd-tmpfiles on alpine linux
  home/.chezmoiscripts/linux/run_onchange_after_99-systemd-tmpfiles.sh.tmpl
  home/dot_config/.chezmoiignore
  home/dot_config/private_lima/private_alpine/playbook.yaml
Due: prettier

Path conditions:
  fish_indent: any of: *.fish, but not: symlink_*
  prettier: any of: *.{css,yml,yaml,md,html,json,jsonc,code-snippets}, but not: symlink_*
  prettier-ruby: any of: {*.rb,Gemfile,Rakefile,Brewfile}, but not: symlink_*
  prettier-xml: any of: *.{xml,plist}{,.tmpl}, but not: symlink_*
  ruff: any of: *.py, but not: symlink_*
  taplo: any of: *.toml, but not: symlink_*
