Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo

fish_indent:
  run: fish_indent -w {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-ruby:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-xml:
  run: npx prettier --write {staged_files}
  stage_fixed: true

ruff:
  run: ruff format {staged_files}
  stage_fixed: true

taplo:
  run: taplo format {staged_files}
  stage_fixed: true

Updated macbook playbook & removed stuff from global brewfile
  home/dot_config/exact_private_homebrew/Brewfile
  playbooks/device-macbook.yml
Due: prettier

Updated home chezmoiignore
  home/.chezmoiignore
Due: none

updated carapace package in mise for fedora WSL
  home/dot_config/exact_private_mise/exact_conf.d/device-dell-g15-wsl-fedora.toml
Due: taplo

Updated brew forbidden packages
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
Due: taplo

Improved performance of hk fish completions
  home/dot_config/exact_private_fish/exact_completions/hk.fish
Due: fish_indent

Updated starship config
  home/dot_config/starship.toml
Due: taplo

Updated dell g15 linux playbook
  playbooks/device-dell-g15-linux.yml
Due: prettier

Added support for freedesktop 25.08 to mise flatpak extension
  home/dot_local/private_share/private_flatpak/extension/org.freedesktop.Sdk.Extension.mise/x86_64/symlink_25.08.tmpl
Due: none

Fixed deno lockfile
  deno.lock
Due: none

Removed clapper from dell g15 flatpaks
  playbooks/device-dell-g15-linux.yml
Due: prettier

Made surface book playbook require linux-surface packages for the latest fedora version before installing them
  playbooks/device-surface-book.yml
Due: prettier

Fixed typo
  playbooks/device-surface-book.yml
Due: prettier

Enabled atuin socket activation for surface book
  playbooks/device-dell-g15-linux.yml
Due: prettier

Wrong playbook oops
  playbooks/device-dell-g15-linux.yml
  playbooks/device-surface-book.yml
Due: prettier

Added 1password flatpak overrides
  home/dot_local/private_share/private_flatpak/overrides/com.onepassword.OnePassword
Due: none

Updates
  home/.chezmoidata/common-abbrev.toml
  home/.chezmoiscripts/darwin/run_onchange_before_10-brew-bundle.sh.tmpl
  home/dot_config/exact_private_carapace/bridges.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_gh-dash.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_gh.fish
  home/dot_config/exact_private_fish/exact_conf.d/fish_frozen_key_bindings.fish
  home/dot_config/exact_private_fish/exact_conf.d/fish_frozen_theme.fish
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_homebrew/Brewfile
  home/dot_config/exact_private_mise/config.toml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/exact_override/_gh
  home/dot_config/private_gh/private_config.yml
  home/dot_config/starship.toml
  playbooks/device-dell-g15-linux.yml
  playbooks/device-surface-book.yml
Due: fish_indent, prettier, taplo

Some windows-related tweaks
  assets/scoopfile.json
  assets/winget.json
  deno.json
  home/dot_config/exact_private_git/exact_conf.d/os-windows.1password.gitconfig
  home/readonly_Documents/readonly_PowerShell/Microsoft.PowerShell_profile.ps1
Due: prettier

Removed kernelCommandLine from .wslconfig
  home/dot_wslconfig
Due: none

Fixed fastfetch config and some other small changes
  .vscode/settings.json
  home/dot_config/exact_private_fastfetch/config.jsonc
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_homebrew/Brewfile
  home/dot_config/exact_private_mise/exact_conf.d/os-darwin.toml
  home/private_Library/.chezmoiignore
  home/private_Library/exact_LaunchAgents/.chezmoiignore
  home/private_Library/private_Application Support/.chezmoiignore
Due: prettier, taplo

Added tombi completions and improved how mise shim completions are loaded for some commands
  home/.chezmoidata/pwsh-completers.toml
  home/dot_config/exact_private_elvish/.chezmoidata/completers.toml
  home/dot_config/exact_private_fish/exact_completions/dprint.fish
  home/dot_config/exact_private_fish/exact_completions/pdm.fish
  home/dot_config/exact_private_fish/exact_completions/pitchfork.fish
  home/dot_config/exact_private_fish/exact_completions/ruff.fish
  home/dot_config/exact_private_fish/exact_completions/tombi.fish
  home/dot_config/exact_private_fish/exact_functions/_mise_shim_completer.fish
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_tombi
Due: fish_indent, taplo

Removed wsl alias for fleet
  home/dot_config/exact_private_fish/exact_functions/fleet.fish.tmpl
Due: none

Made atuin not start up in WSL when it's misbehaving
  home/dot_config/exact_private_fish/exact_conf.d/40-atuin.fish
Due: fish_indent

Disable NetworkManager-wait-online on fedora wsl
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Restored gh cli stuff
  home/dot_config/exact_private_carapace/bridges.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_gh-dash.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_gh.fish
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/exact_override/_gh
  home/dot_config/private_gh/private_config.yml
Due: prettier, taplo

carapace-related completion updates
  home/dot_config/exact_private_fish/exact_completions/symlink_buildctl.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_but.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_chdman.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_d2.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dngconverter.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_git-unlock.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_git-utimes.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_kubeseal.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_n-m3u8dl-re.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_pdfattach.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_pdfdetach.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_pdfseparate.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_pdfsig.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_pdftocairo.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_pdftohtml.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_pdftoppm.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_pdfunite.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_qpdf.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_sd.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/readonly_plugins.zsh.tmpl
Due: taplo

Fixed some bugs
  home/dot_config/exact_private_bottom/bottom.toml
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_zsh/readonly_plugins.zsh.tmpl
Due: taplo

More carapace updates
  home/dot_config/exact_private_carapace/bridges.yaml
  home/dot_config/exact_private_carapace/exact_specs/carapace-bridge.yaml
  home/dot_config/exact_private_carapace/exact_specs/carapace-spec.yaml
  home/dot_config/exact_private_carapace/exact_specs/crc.yaml
  home/dot_config/exact_private_carapace/exact_specs/vincent.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_aliae.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_anyquery.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_azion.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_berglas.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_cartridge.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_certigo.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_chainloop.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_cobra-cli.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_ehco.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_git-xargs.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/_git-xargs
Due: prettier, taplo

Removed carapace-bridges script
  home/.chezmoiscripts/darwin/run_onchange_after_90-carapace_bridges.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_90-carapace_bridges.sh.tmpl
  home/.chezmoiscripts/windows/run_onchange_after_carapace_bridges.ps1.tmpl
Due: none

Fix git commit signing in wsl
  home/dot_config/exact_private_git/exact_conf.d/os-linux.1password-wsl.gitconfig.tmpl
Due: none

Ignore ~/.dotnet in wsl
  home/.chezmoiignore
Due: none

Rework how wsl loads carapace completions for .exe files
  home/dot_config/exact_private_fish/exact_completions/carapace.exe.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_carapace.exe.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_chezmoi.exe.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_exercism.exe.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_glow.exe.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_op.exe.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_rclone.exe.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_vt.exe.fish
  home/dot_config/exact_private_fish/exact_functions/_carapace_wsl_completer.fish
Due: fish_indent

Removed .exe things from carapace bridges and most .exes from zsh completion system (as it requires a more extensive rework)
  home/dot_config/exact_private_carapace/bridges.yaml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

Switched wsl winget completions to use carapace, and improved correctness of carapace.exe completion script
  home/dot_config/exact_private_fish/exact_completions/carapace.exe.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_winget.exe.fish
  home/dot_config/exact_private_fish/exact_completions/winget.fish
Due: fish_indent

Updated wsl path cleanup
  home/dot_config/exact_private_fish/.chezmoidata/wsl-path-cleanup.toml
  home/dot_config/exact_private_fish/exact_conf.d/21-is-wsl.fish.tmpl
Due: taplo

Removed nushell-lang from extension recommendations
  .vscode/extensions.json
Due: prettier

Added ~/.redhat to windows chezmoiignore
  home/.chezmoiignore
Due: none

Added symlink to reuse linux's powershell completion setup on windows
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.LazyComplete
Due: none

Path conditions:
  fish_indent: any of: *.fish, but not: symlink_*
  prettier: any of: *.{css,yml,yaml,md,html,json,jsonc,code-snippets}, but not: symlink_*
  prettier-ruby: any of: {*.rb,Gemfile,Rakefile,Brewfile}, but not: symlink_*
  prettier-xml: any of: *.{xml,plist}{,.tmpl}, but not: symlink_*
  ruff: any of: *.py, but not: symlink_*
  taplo: any of: *.toml, but not: symlink_*
