Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo, prettier-yaml, stylua

.lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    fish_indent:
      run: fish_indent -w {staged_files}
      glob: '*.fish'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier:
      run: npx prettier --write {staged_files}
      glob: '*.{css,yml,yaml,md,html,json,jsonc,code-snippets}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-ruby:
      run: npx prettier --write {staged_files}
      glob: '{*.rb,Gemfile,Rakefile,Brewfile}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-xml:
      run: npx prettier --write {staged_files}
      glob: '*.{xml,plist}{,.tmpl}'
      exclude: 'symlink_*'
      stage_fixed: true

    ruff:
      run: ruff format {staged_files}
      glob: '*.py'
      exclude: 'symlink_*'
      stage_fixed: true

    taplo:
      run: taplo format {staged_files}
      glob: '*.toml'
      exclude: 'symlink_*'
      stage_fixed: true

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fish_indent:
      run: fish_indent -w {staged_files}
      glob: '*.fish'
      exclude: symlink_*
      stage_fixed: true

    gitleaks:
      # Based on the pre-commit hook
      run: mise x -- gitleaks git --no-banner --pre-commit --redact --staged --verbose

    prettier:
      run: npx prettier --write {staged_files}
      glob: '*.{css,md,html,json,jsonc,code-snippets}'
      exclude: symlink_*
      stage_fixed: true

    prettier-ruby:
      run: npx prettier --write {staged_files}
      glob: '{*.rb,Gemfile,Rakefile,Brewfile}'
      exclude: symlink_*
      stage_fixed: true

    prettier-xml:
      run: npx prettier --write {staged_files}
      glob: '*.{xml,plist}{,.tmpl}'
      exclude: symlink_*
      stage_fixed: true

    prettier-yaml:
      run: npx prettier --write {staged_files}
      glob: '*.{yml,yaml}{,.tmpl}'
      exclude: symlink_*
      stage_fixed: true

    ruff:
      run: mise x -- ruff format {staged_files}
      glob: '*.py'
      exclude: symlink_*
      stage_fixed: true

    stylua:
      run: mise x -- stylua {staged_files}
      glob: '*.lua'
      exclude: symlink_*
      stage_fixed: true

    taplo:
      run: mise x -- taplo format {staged_files}
      glob: '*.toml'
      exclude: symlink_*
      stage_fixed: true

Added application support symlink for eza config
  home/private_Library/private_Application Support/symlink_eza.tmpl
Due: none

Removed biome from global brewfile
  home/dot_config/exact_homebrew/Brewfile
Due: none

Updated nvim plugins
  home/dot_config/exact_nvim/lazy-lock.json
Due: prettier

Reordered tools in mise.toml
  mise.toml
Due: taplo

Added some notes to the fish mise activation script
  home/dot_config/exact_private_fish/exact_conf.d/30-mise-activate.fish
Due: fish_indent

Fixed ruff config to ignore chezmoi symlink targets
  pyproject.toml
Due: taplo

Added styluaignore
  .styluaignore
Due: none

Improved lefthook commands
  lefthook.yml
Due: prettier, prettier-yaml

Added linting & formatting tasks to mise.toml
  mise.toml
Due: taplo

Updated packageManager in package.json
  package.json
Due: prettier

Updated dependencies in package.json
  package.json
  pnpm-lock.yaml
Due: prettier, prettier-yaml

Added update:corepack task
  mise.toml
Due: taplo

Updated Gemfile.lock
  Gemfile.lock
Due: none

Added NODE_NO_WARNINGS to npx calls to suppress warnings
  lefthook.yml
  mise.toml
Due: prettier, taplo, prettier-yaml

Flatpak - redid mise SDK extension to use a chezmoi external for the mise binary
  home/.chezmoiexternals/binaries.yaml.tmpl
  home/dot_local/private_share/private_flatpak/extension/org.freedesktop.Sdk.Extension.mise/x86_64/24.08/bin/symlink_mise
  home/dot_local/private_share/private_flatpak/extension/org.freedesktop.Sdk.Extension.mise/x86_64/current/enable.sh
  home/dot_local/private_share/private_flatpak/extension/org.freedesktop.Sdk.Extension.mise/x86_64/symlink_24.08.tmpl
Due: prettier-yaml

Removed some symlinks from custom tools for flatpak
  home/dot_local/private_share/private_flatpak/extension/com.visualstudio.code.tool.custom/x86_64/24.08/bin/symlink_eza
  home/dot_local/private_share/private_flatpak/extension/com.visualstudio.code.tool.custom/x86_64/24.08/bin/symlink_mise
Due: none

Added cosign & slsa-verifier to global brewfile
  home/dot_config/exact_homebrew/Brewfile
Due: none

Updated systemd environment
  home/dot_config/exact_private_environment.d/.chezmoidata.yaml
  home/dot_config/exact_private_environment.d/00-base.conf
  home/dot_config/exact_private_environment.d/20-libs.conf
Due: prettier, prettier-yaml

Hardened atuin and dconf services
  home/dot_config/systemd/user/atuin.service
  home/dot_config/systemd/user/dconf.service.d/override.conf
Due: none

Added chezmoi script to apply updates to nvim plugins
  home/.chezmoiscripts/darwin/run_onchange_after_nvim-lazy-restore.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_nvim-lazy-restore.sh.tmpl
Due: none

Updated yt-dlp config
  home/dot_config/yt-dlp/config
Due: none

Shortened ansible debug playbook
  playbooks/debug.yml
Due: prettier, prettier-yaml

Updated taplo config to use correct schema for flatpak mise configs
  .taplo.toml
Due: taplo

Deleted some old files
  home/private_dot_var/app/com.visualstudio.code/data/.chezmoiignore
Due: none

Updated global mise config
  home/dot_config/exact_mise/config.toml
Due: taplo

Added partial carapace completions for run0
  home/dot_config/carapace/exact_specs/run0.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_run0.fish
Due: prettier, prettier-yaml

Added aliae to brewfile
  home/dot_config/exact_homebrew/Brewfile
Due: none

Added lint:stylua task
  mise.toml
Due: taplo

Added 23.08 version of mise flatpak runtime
  home/dot_local/private_share/private_flatpak/extension/org.freedesktop.Sdk.Extension.mise/x86_64/symlink_23.08.tmpl
Due: none

Removed mise config symlinks for manipulating global configs
  home/dot_config/exact_mise/symlink_dot_mise.local.toml
  home/dot_config/exact_mise/symlink_dot_mise.toml
Due: none

Updated systemd tmpfiles, and made tmpfiles script use source dir for file states
  home/.chezmoiscripts/linux/run_onchange_after_systemd-tmpfiles.sh.tmpl
  home/dot_config/exact_user-tmpfiles.d/custom.conf
Due: none

Reduced github refresh frequency
  home/.chezmoi.yaml.tmpl
Due: prettier-yaml

fixed shadowenv zsh plugin actually loading zoxide
  home/dot_config/exact_private_zsh/exact_plugins/shadowenv/shadowenv.plugin.zsh
Due: none

Updated taplo config
  .taplo.toml
Due: taplo

Made xonsh rc.d folder exact
  home/dot_config/private_xonsh/exact_rc.d/carapace.xsh
  home/dot_config/private_xonsh/exact_rc.d/config.py
  home/dot_config/private_xonsh/exact_rc.d/zoxide.xsh
Due: ruff

Made boxxy.yaml a template (finally)
  home/dot_config/boxxy/boxxy.yaml.tmpl
Due: prettier-yaml

Added gitconfig ftplugin, updated lazy-lock.json
  home/dot_config/exact_nvim/exact_after/exact_ftplugin/gitconfig.lua
  home/dot_config/exact_nvim/lazy-lock.json
Due: prettier, stylua

enabled uv_venv_auto in mise settings
  home/dot_config/exact_mise/config.toml
Due: taplo

Added wait_for properties to mise tasks
  mise.toml
Due: taplo

Removed iBar and added aqua to brewfile
  home/dot_config/exact_homebrew/Brewfile
Due: none
