Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo, stylua

fish_indent:
  run: fish_indent -w {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-ruby:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-xml:
  run: npx prettier --write {staged_files}
  stage_fixed: true

ruff:
  run: ruff format {staged_files}
  stage_fixed: true

taplo:
  run: taplo format {staged_files}
  stage_fixed: true

stylua:
  run: mise x -- stylua --respect-ignores {staged_files}
  stage_fixed: true

More fish functon updates
  home/dot_config/exact_private_fish/exact_functions/.chezmoiignore
  home/dot_config/exact_private_fish/exact_functions/iptables.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/lastlog.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/ln.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/lsattr.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/lsblk.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/lsmod.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/lspci.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/pidstat.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/procenv.fish
  home/dot_config/exact_private_fish/exact_functions/procenv.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/sar.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/ss.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/vmstat.fish.tmpl
Due: fish_indent

Removed dnf fish function, and improved clang & clang++ functions
  home/dot_config/exact_private_fish/exact_functions/.chezmoiignore
  home/dot_config/exact_private_fish/exact_functions/clang++.fish
  home/dot_config/exact_private_fish/exact_functions/clang.fish
  home/dot_config/exact_private_fish/exact_functions/dnf.fish
Due: fish_indent

Changed how osx-specific fish conf.d file is named, to allow for linux-specific conf.d files too
  home/dot_config/exact_private_fish/exact_conf.d/.chezmoiignore
  home/dot_config/exact_private_fish/exact_conf.d/20-os-darwin.fish
Due: fish_indent

Removed fish functions chezmoiignore
  home/dot_config/exact_private_fish/exact_functions/.chezmoiignore
  home/dot_config/exact_private_fish/exact_functions/btrfs.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/duperemove.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/wrap-systemd.scope.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/xdg-open.fish
  home/dot_config/exact_private_fish/exact_functions/xdg-open.fish.tmpl
Due: fish_indent

Made many fish completions defer to sourcing scripts from vendor_completions when possible
  home/dot_config/exact_private_fish/exact_completions/aqua.fish
  home/dot_config/exact_private_fish/exact_completions/ast-grep.fish
  home/dot_config/exact_private_fish/exact_completions/atuin.fish
  home/dot_config/exact_private_fish/exact_completions/doggo.fish
  home/dot_config/exact_private_fish/exact_completions/ein.fish
  home/dot_config/exact_private_fish/exact_completions/folderify.fish
  home/dot_config/exact_private_fish/exact_completions/git-absorb.fish
  home/dot_config/exact_private_fish/exact_completions/gix.fish
  home/dot_config/exact_private_fish/exact_completions/luarocks.fish
  home/dot_config/exact_private_fish/exact_completions/miniserve.fish
  home/dot_config/exact_private_fish/exact_completions/mise.fish
  home/dot_config/exact_private_fish/exact_completions/nickel.fish
  home/dot_config/exact_private_fish/exact_completions/onefetch.fish
  home/dot_config/exact_private_fish/exact_completions/procs.fish
  home/dot_config/exact_private_fish/exact_completions/proto.fish
  home/dot_config/exact_private_fish/exact_completions/pueue.fish
  home/dot_config/exact_private_fish/exact_completions/py-spy.fish
  home/dot_config/exact_private_fish/exact_completions/railway.fish
  home/dot_config/exact_private_fish/exact_completions/rogcat.fish
  home/dot_config/exact_private_fish/exact_completions/sg.fish
  home/dot_config/exact_private_fish/exact_completions/spytrap-adb.fish
  home/dot_config/exact_private_fish/exact_completions/topiary.fish
  home/dot_config/exact_private_fish/exact_completions/uv.fish
  home/dot_config/exact_private_fish/exact_completions/uvx.fish
  home/dot_config/exact_private_fish/exact_completions/zellij.fish
Due: fish_indent

Made iterm2 fish integration a chezmoi template
  home/dot_config/exact_private_fish/exact_conf.d/.chezmoiignore
  home/dot_config/exact_private_fish/exact_conf.d/90-iterm2.fish.tmpl
Due: none

Updated fish templates
  home/dot_config/exact_private_fish/exact_functions/blkid.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/btrfs.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/duperemove.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/findmnt.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/free.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/getfacl.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/getsebool.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/glow.fish
  home/dot_config/exact_private_fish/exact_functions/iostat.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/ip.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/iptables.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/lastlog.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/ln.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/lsattr.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/lsblk.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/lsmod.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/lspci.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/pidstat.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/procenv.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/ss.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/stat.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/vmstat.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/wrap-systemd.scope.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/xdg-open.fish.tmpl
Due: fish_indent

More fish function tweaks
  home/dot_config/exact_private_fish/exact_functions/dotnet-tools-outdated.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/glow.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/la.fish
  home/dot_config/exact_private_fish/exact_functions/ll.fish
  home/dot_config/exact_private_fish/exact_functions/sad.fish
  home/dot_config/exact_private_fish/exact_functions/sad.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/swig.fish
  home/dot_config/exact_private_fish/exact_functions/swig.fish.tmpl
Due: fish_indent

Carapace bridges updates
  home/dot_config/carapace/bridges.yaml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

Added pitchfork completion
  home/dot_config/exact_private_fish/exact_completions/pitchfork.fish
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_pitchfork
Due: fish_indent

Made pdm completions handle mise shims
  home/dot_config/exact_private_fish/exact_completions/pdm.fish
Due: fish_indent

Improved mise shim handling in completions
  home/dot_config/exact_private_fish/exact_completions/pitchfork.fish
  home/dot_config/exact_private_fish/exact_completions/ruff.fish
  home/dot_config/exact_private_fish/exact_completions/sentry-cli.fish
Due: fish_indent

Made dprint completion handle mise shims
  home/dot_config/exact_private_fish/exact_completions/dprint.fish
Due: fish_indent

Started to create a linux-specific fish config
  home/dot_config/exact_private_fish/exact_conf.d/20-os-linux.fish
Due: fish_indent

Updated homebrew chezmoidata
  home/dot_config/exact_homebrew/.chezmoidata.yaml
Due: prettier

Removed black formatter from VSCode extension recommendations
  .vscode/extensions.json
Due: prettier

Added ~/.local/bin to path for fish ssh instances, and set the EDITOR
  home/dot_config/exact_private_fish/exact_conf.d/20-os-linux.fish
Due: fish_indent

Added update:bundle & update:package mise tasks
  .config/mise/config.toml
Due: taplo

Updated gemfile.lock
  Gemfile.lock
Due: none

Updated & sorted include patterns for mise configs
  .taplo.toml
Due: taplo

Made patterns for mise configs a little more specific
  .taplo.toml
Due: taplo

Added lefthook pre-push hook for ripsecrets
  lefthook.yml
Due: prettier

Added dev tools install tasks
  .config/mise/config.toml
Due: taplo

Fixed broken fish completions for `ll`
  home/dot_config/exact_private_fish/exact_functions/ll.fish
Due: fish_indent

Updated global brewfile
  home/dot_config/exact_homebrew/Brewfile
Due: none

Made erdtree config exact & private
  home/dot_config/exact_private_erdtree/dot_erdtree.toml
Due: taplo

Made bat config exact & private, updated lefthook & ansible-lint configs
  .config/ansible-lint.yml
  home/dot_config/exact_private_bat/.chezmoidata.yaml
  home/dot_config/exact_private_bat/exact_syntaxes/brainfuck/Brainfuck.sublime-syntax
  home/dot_config/exact_private_bat/exact_syntaxes/brainfuck/LICENSE
  home/dot_config/exact_private_bat/exact_syntaxes/subid.sublime-syntax
  home/dot_config/exact_private_bat/readonly_config.tmpl
  lefthook.yml
Due: prettier

Made fd config exact & private
  home/dot_config/exact_private_fd/ignore
Due: none

Made yt-dlp config exact & private
  home/dot_config/exact_private_yt-dlp/config.tmpl
Due: none

Made glow config exact
  home/dot_config/exact_private_glow/glow.yml
Due: prettier

Made bottom config exact & private
  .taplo.toml
  home/dot_config/exact_private_bottom/bottom.toml
Due: taplo

Made eza config private
  home/dot_config/exact_private_eza/theme.yml
Due: prettier

Made litecli config exact & private
  home/dot_config/exact_private_litecli/config.tmpl
Due: none

Updated ansible-lint & vscode settings
  .config/ansible-lint.yml
  .vscode/settings.json
Due: prettier

Added support for os-specific ssh configs
  home/private_dot_ssh/exact_private_config.d/.chezmoiignore
Due: none

Made thefuck config exact & private; added exact rules folder (currently empty)
  home/dot_config/exact_private_thefuck/exact_rules/.keep
  home/dot_config/exact_private_thefuck/settings.py
Due: ruff

Added variants of commands ending in `.exe` to carapace bridges
  home/dot_config/carapace/bridges.yaml
Due: prettier

Improved how elvish lazy-loads completions
  home/dot_config/exact_private_elvish/exact_lib/readonly_lazy-completions.elv.tmpl
Due: none

Added .elv files to editorconfig
  .editorconfig
Due: none

Redid handling of .exe commands (currently only for elvish)
  home/.chezmoidata/shell/completers.yaml
  home/dot_config/carapace/bridges.yaml
  home/dot_config/exact_private_elvish/exact_lib/readonly_lazy-completions.elv.tmpl
  schemas/settings/shell.yaml
Due: prettier

Path conditions:
  fish_indent: any of: *.fish, but not: symlink_*
  prettier: any of: *.{css,yml,yaml,md,html,json,jsonc,code-snippets}, but not: symlink_*
  prettier-ruby: any of: {*.rb,Gemfile,Rakefile,Brewfile}, but not: symlink_*
  prettier-xml: any of: *.{xml,plist}{,.tmpl}, but not: symlink_*
  ruff: any of: *.py, but not: symlink_*
  taplo: any of: *.toml, but not: symlink_*
  stylua: any of: *.lua, but not: symlink_*
