Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo

.lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    fish_indent:
      run: fish_indent -w {staged_files}
      glob: '*.fish'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier:
      run: npx prettier --write {staged_files}
      glob: '*.{css,yml,yaml,md,html,json,jsonc,code-snippets}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-ruby:
      run: npx prettier --write {staged_files}
      glob: '{*.rb,Gemfile,Rakefile,Brewfile}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-xml:
      run: npx prettier --write {staged_files}
      glob: '*.{xml,plist}{,.tmpl}'
      exclude: 'symlink_*'
      stage_fixed: true

    ruff:
      run: ruff format {staged_files}
      glob: '*.py'
      exclude: 'symlink_*'
      stage_fixed: true

    taplo:
      run: taplo format {staged_files}
      glob: '*.toml'
      exclude: 'symlink_*'
      stage_fixed: true

Removed --ask-become-pass from ansible-playbook flags on fedora wsl
  home/.chezmoiscripts/linux/run_onchange_after_00-ansible-playbook.sh.tmpl
Due: none

Added python3-dnf to early dnf packages to install for fedora wsl, as it's still needed for the copr action
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Removed `/usr/sbin` from path on wsl instances where it's a symlink
  home/dot_config/exact_private_fish/exact_conf.d/21-is-wsl.fish.tmpl
Due: none

Removed some things from arch wsl playbook
  playbooks/device-dell-g15-wsl-arch.yml
Due: prettier

Fixed usage completion not sourcing, and made __fish_cache_sourced_completions be skipped in more places
  home/dot_config/exact_private_fish/exact_completions/usage.fish
  home/dot_config/exact_private_fish/exact_functions/__fish_cache_sourced_completions.fish.tmpl
Due: fish_indent

Installed RPM Fusion on Fedora WSL
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Added core group to fedora wsl packages
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Added container-management dnf group to fedora wsl
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Removed paragon apfs for windows files from path in wsl instances
  home/dot_config/exact_private_fish/exact_conf.d/21-is-wsl.fish.tmpl
Due: none

Fixed broken condition check to see if rpmfusion is installed on fedora wsl
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Made fedora wsl add copr repos in a loop
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Enabled standard dnf group & turned off a few systemd services on fedora wsl
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Turned off avahi-daemon service on fedora wsl
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Enabled user podman socket on fedora wsl
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Added temporary fish wrapper for vscode in wsl instances
  home/dot_config/exact_private_fish/exact_functions/code.fish.tmpl
Due: none

Added missing end of template
  home/dot_config/exact_private_fish/exact_functions/code.fish.tmpl
Due: none

Added some more packages for fedora wsl
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Extensive refactoring of dnf carapace spec
  home/dot_config/exact_private_carapace/exact_specs/dnf.yaml
Due: prettier

Small completion tweaks
  home/dot_config/exact_private_fish/exact_completions/symlink_charm.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_f2.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_gdown.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_nomad.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_tealdeer.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_ufw.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: taplo

Made lima docker contexts be created based on chezmoidata
  home/dot_config/private_lima/private_default/.chezmoidata.toml
  home/dot_config/private_lima/private_default/run_onchange_after_docker-context.sh.tmpl
  home/dot_config/private_lima/run_onchange_after_docker-contexts.sh.tmpl
Due: taplo

Moved lima tmpfiles config to lima homedir
  home/dot_config/private_lima/.chezmoidata/tmpfiles.toml
Due: taplo

Added script to generate podman system connections for lima VMs
  home/dot_config/private_lima/private_default/.chezmoidata.toml
  home/dot_config/private_lima/run_onchange_after_docker-contexts.sh.tmpl
  home/dot_config/private_lima/run_onchange_after_podman-connections.sh.tmpl
Due: taplo

Updated forbidden casks
  home/dot_config/exact_private_homebrew/.chezmoidata.yaml
Due: prettier

Added fish function to skip subshells when running `chezmoi cd`
  home/dot_config/exact_private_fish/exact_functions/chezmoi.fish
Due: fish_indent

Refactored some fish functions and moved lima-tmpfiles chezmoidata back to tmpfiles.d folder
  home/dot_config/exact_private_fish/exact_functions/__fish_print_modules.fish
  home/dot_config/exact_private_fish/exact_functions/clang++.fish
  home/dot_config/exact_private_fish/exact_functions/clang.fish
  home/dot_config/exact_private_fish/exact_functions/exa.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/get-env.fish
  home/dot_config/exact_private_fish/exact_functions/grep.fish
  home/dot_config/exact_private_fish/exact_functions/set-env.fish
  home/dot_config/exact_private_fish/exact_functions/unset-env.fish
  home/dot_config/exact_user-tmpfiles.d/.chezmoidata/lima-tmpfiles.toml
Due: fish_indent, taplo

Made boxxy config exact & private
  home/dot_config/exact_private_boxxy/boxxy.yaml.tmpl
Due: none

Made systemd tmpfiles private
  home/dot_config/exact_private_user-tmpfiles.d/.chezmoidata/lima-tmpfiles.toml
  home/dot_config/exact_private_user-tmpfiles.d/.chezmoiignore
  home/dot_config/exact_private_user-tmpfiles.d/custom.conf
  home/dot_config/exact_private_user-tmpfiles.d/device-dell-g15-wsl-fedora.conf
  home/dot_config/exact_private_user-tmpfiles.d/is-lima.conf.tmpl
  home/dot_config/exact_private_user-tmpfiles.d/lnav.conf
  home/dot_config/exact_private_user-tmpfiles.d/nvim.conf
  home/dot_config/exact_private_user-tmpfiles.d/oh-my-zsh.conf
Due: taplo

Updated chezmoi ignored files
  home/.chezmoidata/chezmoi/ignored.yaml
  home/.chezmoiignore
Due: prettier

Added ~/.thumbnails symlink for mac os
  home/symlink_dot_thumbnails.tmpl
Due: none

Added vscode filetype association for .wslconfig
  .vscode/settings.json
Due: prettier

Added gitconfig lsp to recommended extensions & made wsl VMs use systemd environment.d files
  .vscode/extensions.json
  home/dot_config/exact_private_fish/exact_conf.d/21-is-wsl.fish.tmpl
Due: prettier

Removed systemd environment files from lima chezmoiignore
  home/dot_config/.chezmoiignore
Due: none

Added some dirs to remove from the PATH for WSL instances
  home/dot_config/exact_private_fish/exact_conf.d/21-is-wsl.fish.tmpl
Due: none

More WSL related tweaks
  home/dot_config/exact_private_fish/exact_conf.d/21-is-wsl.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/idea.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/rider.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/scoop.fish.tmpl
  home/dot_local/bin/symlink_delta.tmpl
Due: none

Small tweaks to environment.d files
  home/dot_config/exact_private_environment.d/.chezmoiignore
  home/dot_config/exact_private_environment.d/60-distro-fedora.ccache.conf
  home/dot_config/exact_private_environment.d/60-distro-fedora.profile.conf
Due: none

Added wsl host homedir to chezmoi config
  home/.chezmoi.yaml.tmpl
Due: none

Added a few .local/bin symlinks for wsl
  home/dot_local/bin/symlink_prismlauncher.tmpl
  home/dot_local/bin/symlink_qbittorrent.tmpl
  home/dot_local/bin/symlink_r2modman.tmpl
  home/dot_local/bin/symlink_steam.tmpl
  home/dot_local/bin/symlink_vlc.tmpl
Due: none

Added gitlint to carapace-bridges
  home/dot_config/exact_private_carapace/bridges.yaml
Due: prettier

Fixed boxxy template & updated brew chezmoidata
  home/dot_config/exact_private_boxxy/boxxy.yaml.tmpl
  home/dot_config/exact_private_homebrew/.chezmoidata.yaml
Due: prettier
