Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo

.lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    fish_indent:
      run: fish_indent -w {staged_files}
      glob: '*.fish'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier:
      run: npx prettier --write {staged_files}
      glob: '*.{css,yml,yaml,md,html,json,jsonc,code-snippets}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-ruby:
      run: npx prettier --write {staged_files}
      glob: '{*.rb,Gemfile,Rakefile,Brewfile}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-xml:
      run: npx prettier --write {staged_files}
      glob: '*.{xml,plist}{,.tmpl}'
      exclude: 'symlink_*'
      stage_fixed: true

    ruff:
      run: ruff format {staged_files}
      glob: '*.py'
      exclude: 'symlink_*'
      stage_fixed: true

    taplo:
      run: taplo format {staged_files}
      glob: '*.toml'
      exclude: 'symlink_*'
      stage_fixed: true

Small tweaks plus deleting taplo config
  .prettierignore
  .shellcheckrc
  .styluaignore
  .taplo.toml
  .vscode/settings.json
  .yamllint.yaml
  deno.jsonc
  home/dot_config/exact_private_nvim/exact_lua/exact_configs/tree-sitter.lua
  home/dot_config/exact_private_nvim/lazy-lock.json
  tombi.toml
Due: prettier, taplo

Updated deno packages
  deno.jsonc
  deno.lock
Due: prettier

Added some new carapace specs
  home/.chezmoidata/pwsh-completers.toml
  home/dot_config/exact_private_carapace/exact_specs/biome.yaml
  home/dot_config/exact_private_carapace/exact_specs/genact.yaml
  home/dot_config/exact_private_carapace/exact_specs/git-absorb.yaml
  home/dot_config/exact_private_carapace/exact_specs/hgrep.yaml
  home/dot_config/exact_private_carapace/exact_specs/rav1e.yaml
  home/dot_config/exact_private_carapace/exact_specs/somo.yaml
  home/dot_config/exact_private_carapace/exact_specs/tombi.yaml
  home/dot_config/exact_private_carapace/exact_specs/vrc-get.yaml
  home/dot_config/exact_private_elvish/.chezmoidata/completers.toml
  home/dot_config/exact_private_fish/exact_completions/genact.fish
  home/dot_config/exact_private_fish/exact_completions/git-absorb.fish
  home/dot_config/exact_private_fish/exact_completions/hgrep.fish
  home/dot_config/exact_private_fish/exact_completions/rav1e.fish
  home/dot_config/exact_private_fish/exact_completions/somo.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_biome.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_genact.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_git-absorb.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_hgrep.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_rav1e.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_somo.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_tombi.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_vrc-get.exe.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_vrc-get.fish
  home/dot_config/exact_private_fish/exact_completions/tombi.fish
  home/dot_config/exact_private_fish/exact_completions/vrc-get.exe.fish
  home/dot_config/exact_private_fish/exact_completions/vrc-get.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/_git-absorb
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_genact
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_hgrep
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_somo
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_tombi
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_vrc-get
Due: fish_indent, prettier, taplo

Added ddgr carapace spec
  home/dot_config/exact_private_carapace/exact_specs/ddgr.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_ddgr.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

Updated biome carapace spec
  home/dot_config/exact_private_carapace/exact_specs/biome.yaml
Due: prettier

Added zod to deno deps, and made infat config schema generated by a script
  .config/lefthook.yml
  .config/mise/tasks/generate/schema/infat-config.ts
  .gitattributes
  .prettierignore
  deno.jsonc
  deno.lock
  schemas/generated/.gitkeep
  schemas/generated/infat-config.json
  schemas/infat-config.json
  tombi.toml
Due: prettier, taplo

Made eza theme schema be generated with zod
  .config/mise/tasks/generate/schema/eza-theme.ts
  .vscode/settings.json
  schemas/eza-theme.yaml
  schemas/generated/eza-theme.json
Due: prettier

Made chezmoidata schema be generated by zod
  .config/mise/config.toml
  .config/mise/tasks/generate/schema/chezmoidata.ts
  .config/mise/tasks/generate/schema/chezmoidata/bat.ts
  .config/mise/tasks/generate/schema/chezmoidata/chezmoi.ts
  .config/mise/tasks/generate/schema/chezmoidata/homebrew.ts
  .config/mise/tasks/generate/schema/chezmoidata/kitty.ts
  .config/mise/tasks/generate/schema/chezmoidata/launchd.ts
  .config/mise/tasks/generate/schema/chezmoidata/shell.ts
  .config/mise/tasks/generate/schema/chezmoidata/systemd.ts
  .vscode/settings.json
  schemas/generated/chezmoidata.json
  tombi.toml
Due: prettier, taplo

Removed tlrc auto update launchctl thing
  home/private_Library/exact_LaunchAgents/codes.furry.tldr.plist.tmpl
Due: prettier-xml

Added eslint
  .config/lefthook.yml
  .config/mise/config.toml
  .config/mise/tasks/generate/schema/eza-theme.ts
  .vscode/extensions.json
  deno.jsonc
  deno.lock
  eslint.config.mts
  package.json
Due: prettier, taplo

Moved prettier npm dep from deno.jsonc to package.json
  deno.jsonc
  deno.lock
  package.json
Due: prettier

Small updates, mostly updates to chezmoidata schema
  .config/mise/config.toml
  .config/mise/tasks/generate/schema/chezmoidata.ts
  .config/mise/tasks/generate/schema/chezmoidata/homebrew.ts
  .config/mise/tasks/generate/schema/chezmoidata/lima.ts
  .config/mise/tasks/generate/schema/chezmoidata/shell.ts
  home/.chezmoidata/common-abbrev.toml
  home/.chezmoidata/pwsh-completers.toml
  home/dot_config/exact_private_elvish/.chezmoidata/completers.toml
  home/dot_config/exact_private_fish/.chezmoidata/fish-abbrev.toml
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
  home/dot_config/exact_private_fish/.chezmoidata/wsl-path-cleanup.toml
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_user-tmpfiles.d/.chezmoidata/lima-tmpfiles.toml
  home/dot_config/exact_private_zsh/.chezmoidata/aliased-completion.toml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  schemas/generated/chezmoidata.json
Due: prettier, taplo

More improvements to chezmoidata schema
  .config/mise/tasks/generate/schema/chezmoidata/homebrew.ts
  .config/mise/tasks/generate/schema/chezmoidata/kitty.ts
  .config/mise/tasks/generate/schema/chezmoidata/launchd.ts
  .config/mise/tasks/generate/schema/chezmoidata/systemd.ts
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_homebrew/brew.env.tmpl
  schemas/generated/chezmoidata.json
Due: prettier, taplo

Made chezmoiexternals schema generator
  .config/mise/tasks/generate/schema/chezmoiexternals.ts
  .vscode/settings.json
  schemas/generated/chezmoiexternals.json
  tombi.toml
Due: prettier, taplo

Made chezmoi config schema a generated schema
  .config/mise/tasks/generate/schema/chezmoiconfig.ts
  .vscode/settings.json
  schemas/generated/chezmoiconfig.json
Due: prettier

Added partial support for checking checking json schemas in pre-commit hooks
  .config/lefthook.yml
  .config/mise/config.toml
Due: prettier, taplo

Updated forbidden formulae
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
Due: taplo

Set up ESLint to lint & check schemas for YAML files
  .config/lefthook.yml
  deno.jsonc
  deno.lock
  eslint.config.mts
  package.json
Due: prettier

Corrected lefthook config
  .config/lefthook.yml
Due: prettier

Updated eslint config to check more yaml schemas
  .config/lefthook.yml
  deno.jsonc
  eslint.config.mts
Due: prettier

Excluded ansible playbooks from eslint
  .config/lefthook.yml
  eslint.config.mts
Due: prettier

Added biome as an additional linter for JS/TS/JSON files
  .config/lefthook.yml
  .config/mise/config.toml
  .vscode/extensions.json
  biome.jsonc
  eslint.config.mts
Due: prettier, taplo

Updated mise config
  .config/mise/config.toml
Due: taplo

misc updates
  .config/lefthook.yml
  home/dot_config/exact_private_brew-aliases/executable_search_filtered
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_topiary/languages.ncl
Due: prettier, taplo

Small tweaks for fish mostly
  .vscode/settings.json
  home/dot_config/exact_private_carapace/exact_specs/pulsar.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_pulsar.fish
  home/dot_config/exact_private_fish/exact_functions/stat.fish.tmpl
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

Schema tweaks
  .config/mise/tasks/generate/schema/chezmoiconfig.ts
  .config/mise/tasks/generate/schema/chezmoiexternals.ts
  .config/mise/tasks/generate/schema/shared/gotypes.ts
  schemas/generated/chezmoiconfig.json
  schemas/generated/chezmoiexternals.json
Due: prettier

Improved ESLint config
  eslint.config.mts
Due: none

Improved chezmoidata schema and made it more strict
  .config/mise/tasks/generate/schema/chezmoidata.ts
  .config/mise/tasks/generate/schema/chezmoidata/core.ts
  .config/mise/tasks/generate/schema/chezmoidata/npm-pnpm.ts
  schemas/generated/chezmoidata.json
Due: prettier

Enabled fish subcommand abbreviations to be subcommands of subcommands
  .config/mise/tasks/generate/schema/chezmoidata/shell.ts
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
  home/dot_config/exact_private_fish/exact_conf.d/readonly_99-abbr.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/readonly__abbrev_managed_subcommands.fish.tmpl
  schemas/generated/chezmoidata.json
Due: prettier, taplo

Added more subcommand abbreviations, improved template for configuring them
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
  home/dot_config/exact_private_fish/exact_conf.d/readonly_99-abbr.fish.tmpl
Due: taplo

Make fish subcommand abbrevs use a single regex for each command
  home/dot_config/exact_private_fish/exact_conf.d/readonly_99-abbr.fish.tmpl
Due: none

More subcommand abbrev improvements and some small schema improvements
  .config/mise/tasks/generate/schema/chezmoidata/shell.ts
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
  schemas/generated/chezmoidata.json
Due: prettier, taplo

Improved chezmoidata schema
  .config/mise/tasks/generate/schema/chezmoidata/bat.ts
  .config/mise/tasks/generate/schema/chezmoidata/homebrew.ts
  .config/mise/tasks/generate/schema/chezmoidata/kitty.ts
  .config/mise/tasks/generate/schema/chezmoidata/launchd.ts
  .config/mise/tasks/generate/schema/chezmoidata/npm-pnpm.ts
  .config/mise/tasks/generate/schema/chezmoidata/shell.ts
  .config/mise/tasks/generate/schema/chezmoidata/systemd.ts
  schemas/generated/chezmoidata.json
Due: prettier

Eslint tweaks
  .config/lefthook.yml
  .config/mise/config.toml
  deno.jsonc
  eslint.config.mts
Due: prettier, taplo

Lefthook and mise config updates
  .config/lefthook.yml
  .config/mise/config.toml
Due: prettier, taplo

Improved mise prepare usage
  .config/mise/config.toml
  .gitignore
Due: taplo

Misc updates
  .config/mise/config.toml
  home/dot_config/exact_private_atuin/private_config.toml.tmpl
  home/dot_config/exact_private_carapace/exact_overlays/deno.yaml
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
  home/dot_config/exact_private_fish/exact_conf.d/40-atuin.fish
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_zsh/exact_plugins/atuin/atuin.plugin.zsh
Due: fish_indent, prettier, taplo

updated deno packages
  .config/mise/config.toml
  deno.lock
  package.json
Due: prettier, taplo

Enabled pitchfork auto start in fish & zsh, improved elvish init, other small tweaks
  home/dot_config/exact_private_bat/.chezmoidata/bat-syntax-overrides.toml
  home/dot_config/exact_private_elvish/exact_lib/abbrev.elv.tmpl
  home/dot_config/exact_private_elvish/exact_lib/abbrev/abbrev.elv
  home/dot_config/exact_private_elvish/exact_lib/abbrev/common-abbrevs.json.tmpl
  home/dot_config/exact_private_elvish/exact_lib/lazy-completions/lazy-completions.elv
  home/dot_config/exact_private_elvish/rc.elv
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
  home/dot_config/exact_private_fish/exact_conf.d/31-pitchfork.fish
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_zsh/.chezmoidata/plugins.toml
  home/dot_config/exact_private_zsh/exact_plugins/pitchfork/pitchfork.plugin.zsh
Due: fish_indent, taplo

Added rumdl and cleaned some code up
  .config/lefthook.yml
  .config/mise/config.toml
  .config/rumdl.toml
  .prettierrc.yaml
  home/dot_config/exact_private_elvish/exact_lib/lazy-completions/lazy-completions.elv
  home/dot_config/exact_private_fish/README.md
  home/dot_config/exact_private_nvim/README.md
Due: prettier, taplo
