Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo, stylua

fish_indent:
  run: fish_indent -w {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-ruby:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-xml:
  run: npx prettier --write {staged_files}
  stage_fixed: true

ruff:
  run: ruff format {staged_files}
  stage_fixed: true

taplo:
  run: taplo format {staged_files}
  stage_fixed: true

stylua:
  run: mise x -- stylua --respect-ignores {staged_files}
  stage_fixed: true

Updated homebrew chezmoidata & some completions
  home/dot_config/carapace/exact_specs/ntfy.yaml
  home/dot_config/carapace/exact_specs/podman-tui.yaml
  home/dot_config/carapace/exact_specs/serie.yaml
  home/dot_config/exact_homebrew/.chezmoidata.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_ntfy.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_podman-tui.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_serie.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

Completion updates
  home/dot_config/carapace/bridges.yaml
  home/dot_config/exact_private_fish/exact_completions/galeon.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_bmake.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_chrt.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_ci.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_co.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dcop.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dcopclient.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dcopfind.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dcopobject.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dcopref.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dcopstart.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dmake.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dput.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dropuser.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dscverify.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dupload.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dvibook.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dviconcat.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dvicopy.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dvidvi.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dvips.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dviselect.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dvitodvi.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dvitype.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_geany.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_genisoimage.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_ghostscript.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_ghostview.fish
Due: fish_indent, prettier

Reordered scripts on mac os (and partially on linux)
  home/.chezmoiscripts/darwin/run_onchange_after_00-chsh.sh
  home/.chezmoiscripts/darwin/run_onchange_after_90-bat.sh.tmpl
  home/.chezmoiscripts/darwin/run_onchange_after_90-carapace_bridges.sh.tmpl
  home/.chezmoiscripts/darwin/run_onchange_after_90-nvim-lazy-restore.sh.tmpl
  home/.chezmoiscripts/darwin/run_onchange_after_nvim-lazy-restore.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_90-bat.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_90-carapace_bridges.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_90-nvim-lazy-restore.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_bat.zsh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_carapace_bridges.zsh.tmpl
Due: none

Moved brew bundle script to darwin scripts (will link with linux later)
  home/.chezmoiscripts/darwin/run_onchange_before_10-brew-bundle.sh.tmpl
Due: none

Reordered linux-only scripts
  home/.chezmoiscripts/linux/run_onchange_after_90-mime-db.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_99-systemd-tmpfiles.sh.tmpl
Due: none

Made chezmoi initialize correctly if tailscale isn't installed yet
  home/.chezmoi.yaml.tmpl
Due: none

Made bat optional for onchange bat script
  home/.chezmoiscripts/darwin/run_onchange_after_90-bat.sh.tmpl
Due: none

Made zrecompile script darwin-only (will add linux again later)
  home/.chezmoiscripts/darwin/run_onchange_after_90-zrecompile.zsh.tmpl
Due: none

Added os ID to chezmoi config
  home/.chezmoi.yaml.tmpl
Due: none

Added ansible install script for linux
  home/.chezmoiscripts/linux/run_onchange_before_01-install-ansible.sh.tmpl
Due: none

Added ansible playbook runner script and surface book playbook
  home/.chezmoiscripts/linux/run_onchange_after_00-ansible-playbook.sh.tmpl
  playbooks/device-surface-book.yml
Due: prettier

Updated some ignore files & made carapace script not require carapace to be installed
  home/.chezmoiscripts/darwin/run_onchange_after_90-carapace_bridges.sh.tmpl
  home/dot_config/autostart/.chezmoiignore
  home/private_dot_ssh/exact_private_config.d/.chezmoiignore
Due: none

Updated 1password linux ssh config
  home/private_dot_ssh/exact_private_config.d/private_1password-linux.conf.tmpl
Due: none

Quoted fish abbrev names
  home/dot_config/exact_private_fish/exact_conf.d/readonly_99-abbr.fish.tmpl
Due: none

Added playbook hash to ansible playbook script
  home/.chezmoiscripts/linux/run_onchange_after_00-ansible-playbook.sh.tmpl
Due: none

Added more stuff to surface book playbook
  playbooks/device-surface-book.yml
Due: prettier

Added --ask-become-pass to ansible playbook script
  home/.chezmoiscripts/linux/run_onchange_after_00-ansible-playbook.sh.tmpl
Due: none

Corrected usage of flatpak ansible module
  playbooks/device-surface-book.yml
Due: prettier

Added 1password install to surface book ansible playbook
  playbooks/device-surface-book.yml
Due: prettier

Added sshd socket activation to surface book
  playbooks/device-surface-book.yml
Due: prettier

Removed 1password install on surface book It doesn't work currently
  playbooks/device-surface-book.yml
Due: prettier

Added kitty-terminfo to surface book dnf packages
  playbooks/device-surface-book.yml
Due: prettier

Switched surface book package removal to use the `absent` state
  playbooks/device-surface-book.yml
Due: prettier

Added WSL detection to chezmoi config
  home/.chezmoi.yaml.tmpl
Due: none

Added headless flag to wsl
  home/.chezmoi.yaml.tmpl
Due: none

Added some wsl-specific chezmoi ignores
  home/.chezmoiexternals/binaries.yaml.tmpl
  home/.chezmoiexternals/fonts.yaml.tmpl
  home/dot_config/.chezmoiignore
  home/dot_local/private_share/.chezmoiignore
Due: none

Removed 1password ssh config for headless systems
  home/private_dot_ssh/exact_private_config.d/private_1password-linux.conf.tmpl
Due: none

Improved hostname handling
  home/.chezmoi.yaml.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_00-ansible-playbook.sh.tmpl
Due: none

Added basic playbook for dell g15 wsl
  playbooks/device-dell-g15-wsl.yml
Due: prettier

Removed -x from ansible install script
  home/.chezmoiscripts/linux/run_onchange_before_01-install-ansible.sh.tmpl
Due: none

Changed `.hostname` to `.devicename` for templates, and added some handling for the dell g15 on linux
  home/.chezmoi.yaml.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_00-ansible-playbook.sh.tmpl
Due: none

Fixed typo
  home/.chezmoi.yaml.tmpl
Due: none

Removed nunjucks from bat syntaxes
  home/.chezmoiexternals/bat-syntaxes.yaml
Due: prettier

Added playbook for dell g15 linux host
  playbooks/device-dell-g15-linux.yml
Due: prettier

Updated dell g15 flatpaks
  playbooks/device-dell-g15-linux.yml
Due: prettier

Added support for device-specific configs in systemd environment
  home/dot_config/exact_private_environment.d/.chezmoiignore
  home/dot_config/exact_private_environment.d/89-device-dell-g15-linux.conf
Due: none

Moved .NET env vars to device specific config
  home/dot_config/exact_private_environment.d/60-profile.conf
  home/dot_config/exact_private_environment.d/89-device-dell-g15-linux.conf
Due: none

Added device-specific fish config files
  home/dot_config/exact_private_fish/exact_conf.d/.chezmoiignore
  home/dot_config/exact_private_fish/exact_conf.d/20-os-linux.fish
  home/dot_config/exact_private_fish/exact_conf.d/29-device-dell-g15-linux.fish
  home/dot_config/exact_private_fish/exact_conf.d/29-device-surface-book.fish
Due: fish_indent

surface book package updates
  playbooks/device-surface-book.yml
Due: prettier

completions
  home/dot_config/carapace/exact_specs/gamemoderun.yaml
  home/dot_config/carapace/exact_specs/retry.yaml
  home/dot_config/exact_private_fish/exact_completions/gamemoderun.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_gamemoderun.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_retry.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: fish_indent, prettier, taplo

Path conditions:
  fish_indent: any of: *.fish, but not: symlink_*
  prettier: any of: *.{css,yml,yaml,md,html,json,jsonc,code-snippets}, but not: symlink_*
  prettier-ruby: any of: {*.rb,Gemfile,Rakefile,Brewfile}, but not: symlink_*
  prettier-xml: any of: *.{xml,plist}{,.tmpl}, but not: symlink_*
  ruff: any of: *.py, but not: symlink_*
  taplo: any of: *.toml, but not: symlink_*
  stylua: any of: *.lua, but not: symlink_*
