Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo, stylua

fish_indent:
  run: fish_indent -w {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-ruby:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-xml:
  run: npx prettier --write {staged_files}
  stage_fixed: true

ruff:
  run: ruff format {staged_files}
  stage_fixed: true

taplo:
  run: taplo format {staged_files}
  stage_fixed: true

stylua:
  run: mise x -- stylua --respect-ignores {staged_files}
  stage_fixed: true

Added some completions
  home/dot_config/carapace/exact_specs/sshx.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_sourcekitten.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_sshx.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/_sourcekitten
Due: prettier, taplo

Added some tweaks for handling homebrew on the surface book
  home/dot_config/exact_homebrew/brew.env.tmpl
  home/dot_config/exact_private_environment.d/89-device-surface-book.conf
  home/dot_config/exact_private_fish/exact_conf.d/29-device-surface-book.fish
Due: fish_indent

corrected ssh handling for surface book
  home/dot_config/exact_private_fish/exact_conf.d/29-device-surface-book.fish
Due: fish_indent

Updated device playbooks
  playbooks/device-dell-g15-linux.yml
  playbooks/device-surface-book.yml
Due: prettier

Updated scoopfile
  assets/scoopfile.json
Due: prettier

Made ripsecrets linux & mac os only
  .config/mise/config.toml
Due: taplo

Added ripsecrets completions
  home/dot_config/carapace/exact_specs/ripsecrets.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_ripsecrets.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

Updated surface book flatpaks
  playbooks/device-surface-book.yml
Due: prettier

Added more flatpaks
  playbooks/device-surface-book.yml
Due: prettier

Updated surface book playbook
  playbooks/device-surface-book.yml
Due: prettier

More updates to surface book playbook
  playbooks/device-surface-book.yml
Due: prettier

Added device-specific mise configs
  home/dot_config/exact_mise/exact_conf.d/.chezmoiignore
  home/dot_config/exact_mise/exact_conf.d/device-dell-g15-linux.toml
  home/dot_config/exact_mise/exact_conf.d/device-surface-book.toml
  home/dot_config/exact_mise/exact_conf.d/os-linux.toml
Due: taplo

Updated various things
  home/.chezmoi.yaml.tmpl
  home/.chezmoiscripts/darwin/run_onchange_after_90-zrecompile.zsh.tmpl
  home/.chezmoiscripts/darwin/run_onchange_before_10-brew-bundle.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_90-nvim-lazy-restore.sh.tmpl
  home/dot_config/exact_mise/exact_conf.d/os-windows.toml
  home/dot_config/exact_user-tmpfiles.d/.chezmoiignore
  home/dot_config/private_xonsh/exact_rc.d/.chezmoiignore
  home/dot_config/systemd/user/.chezmoiignore
  home/private_dot_ssh/exact_private_config.d/.chezmoiignore
  home/private_dot_ssh/exact_private_config.d/private_1password-linux.conf.tmpl
  home/private_dot_ssh/exact_private_config.d/private_1password-windows.conf
  home/private_dot_ssh/exact_private_config.d/private_lima-includes.conf
  home/private_dot_ssh/exact_private_config.d/private_lima-includes.conf.tmpl
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Completions/Burner.Completions.psm1
Due: taplo

Windows-related package updates
  assets/scoopfile.json
  home/dot_config/exact_mise/exact_conf.d/os-windows.toml
Due: prettier, taplo

Added X-Chezmoi=true to .desktop files
  home/dot_config/autostart/1password.desktop
  home/dot_local/private_share/private_applications/1password.desktop
Due: none

Completion updates
  home/dot_config/carapace/bridges.yaml
  home/dot_config/carapace/exact_specs/appy.yaml
  home/dot_config/carapace/exact_specs/mactop.yaml
  home/dot_config/carapace/exact_specs/yubikey-agent.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_appy.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dockutil.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_mactop.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_mpm.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_whisky.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_yubikey-agent.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/_dockutil
  home/dot_config/exact_private_zsh/exact_functions/_whisky
Due: prettier, taplo

Added snapper & btrfs-assistant to surface book playbook
  playbooks/device-surface-book.yml
Due: prettier

Added standard package group to fedora wsl
  playbooks/device-dell-g15-wsl.yml
Due: prettier

Added wsl fish conf.d file
  home/dot_config/exact_private_fish/exact_conf.d/29-device-dell-g15-wsl.fish
Due: fish_indent

Added a couple of carapace specs
  home/dot_config/carapace/exact_specs/glib-compile-schemas.yaml
  home/dot_config/carapace/exact_specs/macmon.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_glib-compile-schemas.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_macmon.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

Updated Brewfile
  home/dot_config/exact_homebrew/Brewfile
Due: none

Updated homebrew related things
  home/dot_config/exact_homebrew/.chezmoidata.yaml
  home/dot_config/exact_homebrew/Brewfile
Due: prettier

Updated homebrew & completion stuff
  home/dot_config/carapace/exact_specs/ripsecrets.yaml
  home/dot_config/exact_homebrew/.chezmoidata.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_btop.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_ghostty.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_hurl.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/private_Library/exact_LaunchAgents/.chezmoiignore
Due: prettier, taplo

Removed dconf service overrides (they are currently broken)
  home/dot_config/systemd/user/dconf.service.d/override.conf
Due: none

Updated dell g15 linux playbook
  playbooks/device-dell-g15-linux.yml
Due: prettier

Added some flatpak overrides
  .vscode/settings.json
  home/dot_local/private_share/private_flatpak/overrides/fr.handbrake.ghb
  home/dot_local/private_share/private_flatpak/overrides/md.obsidian.Obsidian
  home/dot_local/private_share/private_flatpak/overrides/org.gnome.Calendar
  home/dot_local/private_share/private_flatpak/overrides/org.gnome.gitlab.somas.Apostrophe
  home/dot_local/private_share/private_flatpak/overrides/org.musicbrainz.Picard
  home/dot_local/private_share/private_flatpak/overrides/rs.ruffle.Ruffle
Due: prettier

Various updates
  home/dot_config/exact_homebrew/.chezmoidata.yaml
  home/dot_config/exact_homebrew/Brewfile
  home/dot_config/exact_private_fish/exact_functions/exa.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/eza.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/fuck.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/ncdu.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/omp-preview.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/viu.fish.tmpl
  home/private_Library/.chezmoiignore
  home/private_Library/private_Application Support/.chezmoiignore
Due: prettier

Added linux distro to wsl device names
  home/.chezmoi.yaml.tmpl
Due: none

Updated gitignore, renamed fedora wsl playbook
  .gitignore
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Added support for installing ansible on ubuntu
  home/.chezmoiscripts/linux/run_onchange_before_01-install-ansible.sh.tmpl
Due: none

Corrected fedora wsl fish conf.d filename
  home/dot_config/exact_private_fish/exact_conf.d/29-device-dell-g15-wsl-fedora.fish
Due: fish_indent

Added initial ubuntu wsl playbook
  playbooks/device-dell-g15-wsl-ubuntu.yml
Due: prettier

Started improving fedora wsl playbook
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Fedora wsl changes
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Added some fedora wsl packages and a wayland socket symlink
  home/dot_config/exact_user-tmpfiles.d/device-dell-g15-wsl-fedora.conf
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Add fish to ubuntu wsl and make it the login shell
  playbooks/device-dell-g15-wsl-ubuntu.yml
Due: prettier

Added ubuntu WSL fish conf.d files
  home/dot_config/exact_private_fish/exact_conf.d/29-device-dell-g15-wsl-ubuntu.fish
Due: fish_indent

Added gedit & flatpak to fedora wsl packages
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Added arch linux ansible install method, and added flatseal to fedora wsl flatpaks
  home/.chezmoiscripts/linux/run_onchange_before_01-install-ansible.sh.tmpl
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Path conditions:
  fish_indent: any of: *.fish, but not: symlink_*
  prettier: any of: *.{css,yml,yaml,md,html,json,jsonc,code-snippets}, but not: symlink_*
  prettier-ruby: any of: {*.rb,Gemfile,Rakefile,Brewfile}, but not: symlink_*
  prettier-xml: any of: *.{xml,plist}{,.tmpl}, but not: symlink_*
  ruff: any of: *.py, but not: symlink_*
  taplo: any of: *.toml, but not: symlink_*
  stylua: any of: *.lua, but not: symlink_*
