Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo

.lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    fish_indent:
      run: fish_indent -w {staged_files}
      glob: '*.fish'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier:
      run: npx prettier --write {staged_files}
      glob: '*.{css,yml,yaml,md,html,json,jsonc,code-snippets}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-ruby:
      run: npx prettier --write {staged_files}
      glob: '{*.rb,Gemfile,Rakefile,Brewfile}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-xml:
      run: npx prettier --write {staged_files}
      glob: '*.{xml,plist}{,.tmpl}'
      exclude: 'symlink_*'
      stage_fixed: true

    ruff:
      run: ruff format {staged_files}
      glob: '*.py'
      exclude: 'symlink_*'
      stage_fixed: true

    taplo:
      run: taplo format {staged_files}
      glob: '*.toml'
      exclude: 'symlink_*'
      stage_fixed: true

Made some small completion tweaks aimed at wsl
  home/dot_config/exact_private_carapace/bridges.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_chezmoi.exe.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_exercism.exe.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_op.exe.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_rclone.exe.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_vt.exe.fish
  home/dot_config/exact_private_fish/exact_completions/vrc-get.exe.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_vrc-get
Due: fish_indent, prettier, taplo

Made wsl path cleanup be managed in chezmoidata
  .taplo.toml
  home/dot_config/exact_private_fish/.chezmoidata/wsl-path-cleanup.toml
  home/dot_config/exact_private_fish/exact_conf.d/21-is-wsl.fish.tmpl
Due: taplo

Reformatted aliased zsh completions data
  home/dot_config/exact_private_zsh/.chezmoidata/aliased-completion.toml
Due: taplo

Improved chezmoi config
  home/.chezmoi.yaml.tmpl
  home/dot_local/bin/symlink_code.tmpl
Due: none

Improved chzmoi config templating a bit more
  home/.chezmoi.yaml.tmpl
Due: none

Improved firejail symlinks
  home/dot_local/bin/symlink_dig.tmpl
  home/dot_local/bin/symlink_ffplay.tmpl
  home/dot_local/bin/symlink_ffprobe.tmpl
  home/dot_local/bin/symlink_host.tmpl
  home/dot_local/bin/symlink_ipcalc.tmpl
  home/dot_local/bin/symlink_nslookup.tmpl
  home/dot_local/bin/symlink_patch.tmpl
  home/dot_local/bin/symlink_strings.tmpl
  home/dot_local/bin/symlink_tesseract.tmpl
  home/dot_local/bin/symlink_whois.tmpl
  home/dot_local/bin/symlink_yt-dlp.tmpl
Due: none

More chezmoi config improvements
  home/.chezmoi.yaml.tmpl
Due: none

Made homebrew bin symlinks use .paths.brewPrefix
  home/dot_local/bin/symlink_colcrt.tmpl
  home/dot_local/bin/symlink_flock.tmpl
  home/dot_local/bin/symlink_hardlink.tmpl
  home/dot_local/bin/symlink_isosize.tmpl
  home/dot_local/bin/symlink_mcookie.tmpl
  home/dot_local/bin/symlink_namei.tmpl
  home/dot_local/bin/symlink_scriptreplay.tmpl
  home/dot_local/bin/symlink_setsid.tmpl
  home/dot_local/bin/symlink_uuidparse.tmpl
Due: none

Added carapace.exe completions for wsl
  home/dot_config/exact_private_carapace/bridges.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_carapace.exe.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

WSL completion updates
  home/dot_config/exact_private_carapace/bridges.yaml
  home/dot_config/exact_private_fish/exact_completions/age-keygen.exe.fish
  home/dot_config/exact_private_fish/exact_completions/age.exe.fish
  home/dot_config/exact_private_fish/exact_completions/bat.exe.fish
  home/dot_config/exact_private_fish/exact_completions/delta.exe.fish
  home/dot_config/exact_private_fish/exact_completions/dua.exe.fish
  home/dot_config/exact_private_fish/exact_completions/eza.exe.fish
  home/dot_config/exact_private_fish/exact_completions/fastfetch.exe.fish
  home/dot_config/exact_private_fish/exact_completions/fd.exe.fish
  home/dot_config/exact_private_fish/exact_completions/ffmpeg.exe.fish
  home/dot_config/exact_private_fish/exact_completions/fzf.exe.fish
  home/dot_config/exact_private_fish/exact_completions/hexyl.exe.fish
  home/dot_config/exact_private_fish/exact_completions/micro.exe.fish
  home/dot_config/exact_private_fish/exact_completions/optipng.exe.fish
  home/dot_config/exact_private_fish/exact_completions/rg.exe.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_glow.exe.fish
  home/dot_config/exact_private_fish/exact_completions/yt-dlp.exe.fish
  home/dot_config/exact_private_fish/exact_functions/__carapace_callback.fish
  home/dot_config/exact_private_fish/exact_functions/__carapace_quote_suffix.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: fish_indent, prettier, taplo

Added mas completions
  home/dot_config/exact_private_fish/exact_completions/mas.fish
  home/dot_config/exact_private_zsh/exact_functions/_mas
Due: fish_indent

Replaced infat completion external with swift-argparse utilization
  home/.chezmoiexternals/fish-plugins.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_infat.fish
Due: prettier

Replaced _swift_argparse symlinks with dedicated files for each command
  home/dot_config/exact_private_fish/exact_completions/_swift_argparse.fish
  home/dot_config/exact_private_fish/exact_completions/dockutil.fish
  home/dot_config/exact_private_fish/exact_completions/infat.fish
  home/dot_config/exact_private_fish/exact_completions/lume.fish
  home/dot_config/exact_private_fish/exact_completions/sourcekitten.fish
  home/dot_config/exact_private_fish/exact_completions/swift-format.fish
  home/dot_config/exact_private_fish/exact_completions/swift-inspect.fish
  home/dot_config/exact_private_fish/exact_completions/swiftlint.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dockutil.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_infat.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_lume.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_sourcekitten.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_swift-format.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_swift-inspect.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_swiftlint.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_whisky.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_xcodes.fish
  home/dot_config/exact_private_fish/exact_completions/whisky.fish
  home/dot_config/exact_private_fish/exact_completions/xcodes.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: fish_indent, taplo

made carapace callback & quote suffix more fish-native
  home/dot_config/exact_private_fish/exact_functions/__carapace_callback.fish
  home/dot_config/exact_private_fish/exact_functions/__carapace_quote_suffix.fish
Due: fish_indent

Added some swift related completions
  home/dot_config/exact_private_fish/exact_completions/rswift.fish
  home/dot_config/exact_private_fish/exact_completions/swift-outdated.fish
  home/dot_config/exact_private_fish/exact_completions/swiftgen.fish
  home/dot_config/exact_private_fish/exact_completions/swiftplantuml.fish
  home/dot_config/exact_private_zsh/exact_functions/_rswift
  home/dot_config/exact_private_zsh/exact_functions/_swift-outdated
  home/dot_config/exact_private_zsh/exact_functions/_swiftgen
  home/dot_config/exact_private_zsh/exact_functions/_swiftplantuml
Due: fish_indent

Updated Brewfile
  home/dot_config/exact_private_homebrew/Brewfile
Due: none

Brew bundle script tweaks & improvements to mac os default apps
  home/.chezmoiscripts/darwin/run_onchange_before_10-brew-bundle.sh.tmpl
  home/dot_config/exact_private_infat/config.toml
Due: taplo

Small litecli related tweaks
  home/dot_config/.chezmoiignore
  home/dot_config/.chezmoiremove
  home/dot_config/exact_private_litecli/config.tmpl
Due: none

Added a bunch of stuff
  home/dot_config/exact_private_carapace/bridges.yaml
  home/dot_config/exact_private_carapace/exact_specs/cpu_profiler.d.yaml
  home/dot_config/exact_private_carapace/exact_specs/timer_analyser.d.yaml
  home/dot_config/exact_private_fish/exact_completions/bitesize.d.fish
  home/dot_config/exact_private_fish/exact_completions/cpuwalk.d.fish
  home/dot_config/exact_private_fish/exact_completions/creatbyproc.d.fish
  home/dot_config/exact_private_fish/exact_completions/dispqlen.d.fish
  home/dot_config/exact_private_fish/exact_completions/filebyproc.d.fish
  home/dot_config/exact_private_fish/exact_completions/hotspot.d.fish
  home/dot_config/exact_private_fish/exact_completions/iofile.d.fish
  home/dot_config/exact_private_fish/exact_completions/iofileb.d.fish
  home/dot_config/exact_private_fish/exact_completions/kill.d.fish
  home/dot_config/exact_private_fish/exact_completions/loads.d.fish
  home/dot_config/exact_private_fish/exact_completions/newproc.d.fish
  home/dot_config/exact_private_fish/exact_completions/pathopens.d.fish
  home/dot_config/exact_private_fish/exact_completions/pidpersec.d.fish
  home/dot_config/exact_private_fish/exact_completions/priclass.d.fish
  home/dot_config/exact_private_fish/exact_completions/pridist.d.fish
  home/dot_config/exact_private_fish/exact_completions/rwbypid.d.fish
  home/dot_config/exact_private_fish/exact_completions/rwbytype.d.fish
  home/dot_config/exact_private_fish/exact_completions/seeksize.d.fish
  home/dot_config/exact_private_fish/exact_completions/setuids.d.fish
  home/dot_config/exact_private_fish/exact_completions/sigdist.d.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_cpu_profiler.d.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_nelm.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_timer_analyser.d.fish
  home/dot_config/exact_private_fish/exact_completions/syscallbypid.d.fish
  home/dot_config/exact_private_fish/exact_completions/syscallbyproc.d.fish
  home/dot_config/exact_private_fish/exact_completions/syscallbysysc.d.fish
  home/dot_config/exact_private_fish/exact_completions/whisperkit-cli.fish
  home/dot_config/exact_private_fish/exact_functions/adb-shizuku.fish
  home/dot_config/exact_private_homebrew/.chezmoidata.yaml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/_whisperkit-cli
Due: fish_indent, prettier, taplo

Added some stuff for jj
  .taplo.toml
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
  home/dot_config/exact_private_jj/config.toml
  home/dot_config/exact_private_jj/exact_conf.d/.chezmoiignore
  home/dot_config/exact_private_jj/exact_conf.d/os-darwin.1password.toml
  home/dot_config/exact_private_jj/exact_conf.d/os-darwin.toml
Due: taplo

Switched mercurial to be installed via winget instead of scoop
  assets/scoopfile.json
  assets/winget.json
Due: prettier

Made fish chezmoi wrapper also handle source paths, updated chezmoidata
  home/dot_config/exact_private_fish/exact_functions/chezmoi.fish
  home/dot_config/exact_private_homebrew/.chezmoidata.yaml
Due: fish_indent, prettier

Added adb user service
  home/dot_config/systemd/user/adb.service
Due: none

misc changes
  home/dot_config/exact_private_carapace/exact_specs/bd_info.yaml
  home/dot_config/exact_private_carapace/exact_specs/bd_list_titles.yaml
  home/dot_config/exact_private_carapace/exact_specs/bd_splice.yaml
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
  home/dot_config/exact_private_fish/exact_completions/symlink_bd_info.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_bd_list_titles.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_bd_splice.fish
  home/dot_config/exact_private_homebrew/.chezmoidata.yaml
  home/dot_config/exact_private_homebrew/Brewfile
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/private_Library/private_Application Support/.chezmoiignore
  home/private_Library/private_Application Support/.chezmoiremove
Due: prettier, taplo

Updated gitignore and added some mac os default apps
  .gitignore
  home/dot_config/exact_private_infat/config.toml
Due: taplo

Mostly completion updates
  home/.chezmoidata/pwsh-completers.toml
  home/dot_config/exact_private_carapace/bridges.yaml
  home/dot_config/exact_private_elvish/.chezmoidata/completers.toml
  home/dot_config/exact_private_fish/exact_completions/b2sum.fish
  home/dot_config/exact_private_fish/exact_completions/procs.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_aria2c.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_b2sum.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_cal.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_chcpu.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_ente.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_fnm.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_git-authors.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_hugetop.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_lsclocks.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_lsfd.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_lsirq.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_pidwait.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_pmap.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_procs.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_pwdx.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_script.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_scriptlive.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_scriptreplay.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_skhd.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_tload.fish
  home/dot_config/exact_private_fish/exact_conf.d/60-starship.fish
  home/dot_config/exact_private_homebrew/.chezmoidata.yaml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_procs
Due: fish_indent, prettier, taplo

Added some fish aliases to work around bugged homebrew packages for jetbrains IDEs
  home/dot_config/exact_private_fish/exact_functions/datagrip.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/dataspell.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/goland.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/phpstorm.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/pycharm.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/rider.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/rubymine.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/webstorm.fish.tmpl
Due: none

updated forbidden formulae
  home/dot_config/exact_private_homebrew/.chezmoidata.yaml
Due: prettier

Small tweaks
  home/dot_config/exact_private_fish/exact_functions/clion.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/rustrover.fish.tmpl
  home/dot_config/exact_private_homebrew/.chezmoidata.yaml
  home/private_Library/exact_LaunchAgents/.chezmoiignore
Due: prettier

Removed chezmoi init from some lima playbooks
  playbooks/device-lima-alpine.yml
  playbooks/device-lima-ubuntu.yml
Due: prettier

Added oci completions
  home/dot_config/exact_private_carapace/bridges.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_oci.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

Added oracle-frankfurt to ssh config
  home/private_dot_ssh/private_config
Due: none

Added `oracle-ubuntu` and removed `oracle-frankfurt` from ssh config
  home/private_dot_ssh/private_config
Due: none

Updated forbidden formulae and ssh config
  home/dot_config/exact_private_homebrew/.chezmoidata.yaml
  home/private_dot_ssh/private_config
Due: prettier

Added aliases for wsl to use more jetbrains IDEs
  home/dot_config/exact_private_fish/exact_functions/clion.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/datagrip.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/dataspell.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/fleet.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/goland.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/phpstorm.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/pycharm.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/rubymine.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/rustrover.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/webstorm.fish.tmpl
Due: none

Scoop & winget manifest updates
  assets/scoopfile.json
  assets/winget.json
Due: prettier

Fish function updates and completion updates
  home/.chezmoidata/common-abbrev.toml
  home/dot_config/exact_private_carapace/exact_specs/keka.yaml
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
  home/dot_config/exact_private_fish/exact_completions/symlink_keka.fish
  home/dot_config/exact_private_fish/exact_functions/clion.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/datagrip.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/dataspell.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/goland.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/phpstorm.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/pycharm.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/rider.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/rubymine.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/rustrover.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/webstorm.fish.tmpl
  home/dot_config/exact_private_homebrew/.chezmoidata.yaml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

switched jq from scoop to winget package
  assets/scoopfile.json
  assets/winget.json
Due: prettier

Stuff
  .vscode/extensions.json
  home/.chezmoidata/pwsh-completers.toml
  home/dot_config/exact_private_carapace/bridges.yaml
  home/dot_config/exact_private_carapace/exact_specs/sdl2-config.yaml
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
  home/dot_config/exact_private_fish/exact_completions/container.fish
  home/dot_config/exact_private_fish/exact_completions/ghalint.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_atomist.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_cdk.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_cdk8s.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_commitlint.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_conc.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_fauna.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_graphql.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_openapi.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_prism.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_redocly.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_sdl2-config.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_spectral.fish
  home/dot_config/exact_private_homebrew/.chezmoidata.yaml
  home/dot_config/exact_private_nushell/config.nu
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/_container
  home/dot_config/exact_private_zsh/exact_functions/_ghalint
  home/private_Library/private_Application Support/.chezmoiignore
  home/private_Library/private_Application Support/symlink_carapace.tmpl
Due: fish_indent, prettier, taplo
