Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo

.lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    fish_indent:
      run: fish_indent -w {staged_files}
      glob: '*.fish'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier:
      run: npx prettier --write {staged_files}
      glob: '*.{css,yml,yaml,md,html,json,jsonc,code-snippets}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-ruby:
      run: npx prettier --write {staged_files}
      glob: '{*.rb,Gemfile,Rakefile,Brewfile}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-xml:
      run: npx prettier --write {staged_files}
      glob: '*.{xml,plist}{,.tmpl}'
      exclude: 'symlink_*'
      stage_fixed: true

    ruff:
      run: ruff format {staged_files}
      glob: '*.py'
      exclude: 'symlink_*'
      stage_fixed: true

    taplo:
      run: taplo format {staged_files}
      glob: '*.toml'
      exclude: 'symlink_*'
      stage_fixed: true

Added carapace choice fixup to lefthook tasks
  .config/lefthook.yml
Due: prettier

Added some more carapace choices
  home/dot_config/exact_private_carapace/exact_choices/column.tmpl
  home/dot_config/exact_private_carapace/exact_choices/compress.tmpl
  home/dot_config/exact_private_carapace/exact_choices/ed.tmpl
  home/dot_config/exact_private_carapace/exact_choices/install-info.tmpl
  home/dot_config/exact_private_carapace/exact_choices/mail.tmpl
  home/dot_config/exact_private_carapace/exact_choices/mailx.tmpl
  home/dot_config/exact_private_carapace/exact_choices/makeinfo.tmpl
  home/dot_config/exact_private_carapace/exact_choices/ncal.tmpl
  home/dot_config/exact_private_carapace/exact_choices/ranlib.tmpl
  home/dot_config/exact_private_carapace/exact_choices/uncompress.tmpl
  home/dot_config/exact_private_carapace/exact_choices/zdump.tmpl
  home/dot_config/exact_private_carapace/exact_choices/zipinfo.tmpl
  home/dot_config/exact_private_fish/exact_completions/symlink_column.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_compress.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_ed.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_install-info.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_mail.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_mailx.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_makeinfo.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_ncal.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_ranlib.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_uncompress.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_zdump.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_zipinfo.fish
Due: none

Added deno lint to lefthook config
  .config/lefthook.yml
Due: prettier

Added lint:deno mise task
  .config/mise/config.toml
Due: taplo

Formatting corrections, updated yamllint config
  .yamllint.yaml
  home/.chezmoiexternals/fonts.yaml
  home/dot_config/exact_private_carapace/exact_specs/kmod.yaml
Due: prettier

Changed deno config to jsonc, made prettier lefthook command quieter
  .config/lefthook.yml
  deno.jsonc
Due: prettier

Updated prettierrc & made deno prettier task run with slightly reduced permissions
  .prettierignore
  deno.jsonc
Due: prettier

Reduced permissions of carapace choice fixers
  .config/mise/tasks/fix/carapace/inshellisense-choices.ts
  .config/mise/tasks/fix/carapace/shell-choices.ts
Due: none

Added some utilities to dump zsh & fish completions
  home/dot_config/exact_private_fish/exact_functions/dump-fish-completions.fish
  home/dot_config/exact_private_fish/exact_functions/dump-zsh-completions.fish
Due: fish_indent

Improved tooling for completion analysis, added encfs & ruby-build carapace choices
  home/dot_config/exact_private_carapace/exact_choices/encfs.tmpl
  home/dot_config/exact_private_carapace/exact_choices/ruby-build.tmpl
  home/dot_config/exact_private_fish/exact_functions/dump-fish-completions.fish
  home/dot_config/exact_private_fish/exact_functions/dump-zsh-completions.fish
  home/dot_config/exact_private_zsh/.chezmoidata/aliased-completion.toml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: fish_indent, taplo

Improved dump fish completions script, updated homebrew settings & vscode config
  .vscode/settings.json
  home/dot_config/exact_private_fish/exact_functions/dump-fish-completions.fish
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_homebrew/Brewfile
Due: fish_indent, prettier, taplo

Removed setup.py zsh completions
  home/.chezmoiexternals/zsh-plugins.yaml
  home/dot_config/exact_private_zsh/exact_functions/exact_site/symlink__setup.py
Due: prettier

Updated gitattributes to improve filetype detection
  .gitattributes
  home/.gitattributes
  home/dot_config/.gitattributes
  home/dot_config/exact_private_zsh/.gitattributes
  home/dot_config/systemd/user/.gitattributes
  home/dot_local/private_share/.gitattributes
  home/private_dot_ssh/.gitattributes
Due: none

Updated topiary config
  home/dot_config/exact_private_topiary/exact_queries/fish.scm
  home/dot_config/exact_private_topiary/exact_queries/gitattributes.scm
  home/dot_config/exact_private_topiary/exact_queries/ini.scm
  home/dot_config/exact_private_topiary/exact_queries/lua.scm
  home/dot_config/exact_private_topiary/exact_queries/powershell.scm
  home/dot_config/exact_private_topiary/exact_queries/python.scm
  home/dot_config/exact_private_topiary/languages.ncl
Due: none

lefthook config improvements
  .config/lefthook.yml
Due: prettier

Updated mise config
  .config/mise/config.toml
Due: taplo

Reworked some fish-related stuff
  home/dot_config/exact_private_fish/exact_completions/c++.fish
  home/dot_config/exact_private_fish/exact_completions/cc.fish
  home/dot_config/exact_private_fish/exact_completions/dnf.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dnf.fish
  home/dot_config/exact_private_fish/exact_completions/winget.fish
  home/dot_config/exact_private_fish/exact_functions/__fish_cache_sourced_completions.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/btrfs.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/clion.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/datagrip.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/dataspell.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/duperemove.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/goland.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/idea.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/ln.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/phpstorm.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/pycharm.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/rider.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/rubymine.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/rustrover.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/scoop.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/stat.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/viu.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/webstorm.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/winget.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/wrap-systemd.scope.fish.tmpl
Due: fish_indent

Made impossible to format fish templates formattable
  .config/lefthook.yml
  home/dot_config/exact_private_fish/exact_completions/chezmoi.fish.tmpl
  home/dot_config/exact_private_fish/exact_conf.d/readonly_99-abbr.fish.tmpl
Due: prettier

Enabled mise in powershell
  home/dot_config/exact_private_powershell/Microsoft.PowerShell_profile.ps1
  home/readonly_Documents/readonly_PowerShell/Microsoft.PowerShell_profile.ps1
Due: none

Enabled uv as a python project manager, and other pyproject updates
  home/dot_config/private_xonsh/.chezmoiignore
  home/dot_config/private_xonsh/pyproject.toml
  pyproject.toml
  uv.lock
Due: taplo

Updated ty config and tweaked xonsh config to pass ty checks
  home/dot_config/private_xonsh/exact_rc.d/config.py
  pyproject.toml
Due: ruff, taplo

Added mise init to xonsh config
  home/dot_config/private_xonsh/exact_rc.d/mise.py
Due: ruff

Updated nvim plugins
  home/dot_config/exact_private_nvim/lazy-lock.json
Due: prettier

Swapped nvim dot_stylua and .stylua around
  home/dot_config/exact_private_nvim/.stylua.toml
  home/dot_config/exact_private_nvim/dot_stylua.toml
Due: taplo

Updated gitignore
  .gitignore
Due: none

Added ty to mise tools and lefthook hooks
  .config/lefthook.yml
  .config/mise/config.toml
Due: prettier, taplo

Enabled some additional lints for ruff
  home/dot_config/private_xonsh/exact_rc.d/mise.py
  pyproject.toml
Due: ruff, taplo

Updated extension recommendations
  .vscode/extensions.json
Due: prettier

Updated vscode settings
  .vscode/settings.json
Due: prettier

Lefthook updates and misc other changes
  .config/lefthook.yml
  .config/mise/config.toml
  home/.chezmoidata/pwsh-completers.toml
  home/dot_config/exact_private_fish/exact_completions/dnf.fish
  home/dot_config/exact_private_fish/exact_completions/gulp.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_gulp.fish
  home/dot_config/exact_private_fish/exact_completions/usage.fish
  home/dot_config/exact_private_mise/exact_conf.d/os-windows.toml
Due: fish_indent, prettier, taplo

Improved lefthook config further
  .config/lefthook.yml
Due: prettier

Formatting correction
  home/dot_config/exact_private_carapace/exact_specs/systemd-cgtop.yaml
Due: prettier

Updated ansible-lint config, improved mise config, added ansible-dev-tools as a mise tool
  .config/ansible-lint.yml
  .config/lefthook.yml
  .config/mise/config.toml
Due: prettier, taplo

Misc completion updates
  home/.chezmoidata/pwsh-completers.toml
  home/.chezmoiscripts/darwin/run_onchange_after_90-topiary-prefetch.sh.tmpl
  home/dot_config/exact_private_carapace/exact_choices/ade
  home/dot_config/exact_private_carapace/exact_overlays/deno.yaml
  home/dot_config/exact_private_carapace/exact_specs/devskim.yaml
  home/dot_config/exact_private_carapace/exact_specs/ls-lint.yaml
  home/dot_config/exact_private_elvish/.chezmoidata/completers.toml
  home/dot_config/exact_private_fish/exact_completions/rumdl.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_ade.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_devskim.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_ls-lint.fish
  home/dot_config/exact_private_homebrew/Brewfile
  home/dot_config/exact_private_mise/exact_conf.d/os-darwin.toml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_rumdl
Due: fish_indent, prettier, taplo

Misc updates
  .vscode/settings.json
  home/dot_config/exact_private_carapace/exact_choices/fence
  home/dot_config/exact_private_carapace/exact_choices/prettier.tmpl
  home/dot_config/exact_private_carapace/exact_choices/wormhole
  home/dot_config/exact_private_carapace/exact_specs/prettier.yaml
  home/dot_config/exact_private_carapace/exact_specs/wormhole.yaml
  home/dot_config/exact_private_eza/theme.yml
  home/dot_config/exact_private_fish/exact_completions/dnf.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dnf.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_fence.fish
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_mise/config.toml
  home/dot_config/exact_private_mise/exact_conf.d/os-darwin.toml
  home/dot_config/exact_private_nvim/.stylua.toml
  home/dot_config/exact_private_nvim/exact_after/exact_queries/exact_bash/injections.scm
  home/dot_config/exact_private_nvim/exact_after/exact_queries/exact_javascript/injections.scm
  home/dot_config/exact_private_nvim/exact_after/exact_queries/exact_toml/injections.scm
  home/dot_config/exact_private_nvim/exact_after/exact_queries/exact_typescript/injections.scm
  home/dot_config/exact_private_nvim/exact_lua/exact_configs/conform.lua
  home/dot_config/exact_private_nvim/exact_lua/exact_configs/lspconfig.lua
  home/dot_config/exact_private_nvim/exact_lua/exact_plugins/init.lua
  home/dot_config/exact_private_nvim/lazy-lock.json
  home/dot_config/exact_private_nvim/stylua.toml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/starship.toml
  home/dot_config/vivid/filetypes.yml
  schemas/eza-theme.yaml
Due: fish_indent, prettier, taplo

Added license
  LICENSE
Due: none

Corrected license
  LICENSE
Due: none

Neovim-related updates
  home/dot_config/exact_private_nvim/exact_after/exact_lsp/elvish.lua
  home/dot_config/exact_private_nvim/exact_lua/exact_configs/conform.lua
  home/dot_config/exact_private_nvim/exact_lua/exact_configs/lspconfig.lua
  home/dot_config/exact_private_nvim/exact_lua/exact_configs/nvim-lint.lua
  home/dot_config/exact_private_nvim/exact_lua/exact_plugins/init.lua
  home/dot_config/exact_private_nvim/lazy-lock.json
Due: prettier

Small other updates
  .config/lefthook.yml
  home/dot_config/exact_private_carapace/exact_choices/chezit
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
  home/dot_config/exact_private_fish/exact_completions/symlink_chezit.fish
  home/dot_config/exact_private_mise/exact_conf.d/os-darwin.toml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/private_Library/exact_LaunchAgents/.chezmoiignore
Due: prettier, taplo
