Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo

.lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    fish_indent:
      run: fish_indent -w {staged_files}
      glob: '*.fish'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier:
      run: npx prettier --write {staged_files}
      glob: '*.{css,yml,yaml,md,html,json,jsonc,code-snippets}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-ruby:
      run: npx prettier --write {staged_files}
      glob: '{*.rb,Gemfile,Rakefile,Brewfile}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-xml:
      run: npx prettier --write {staged_files}
      glob: '*.{xml,plist}{,.tmpl}'
      exclude: 'symlink_*'
      stage_fixed: true

    ruff:
      run: ruff format {staged_files}
      glob: '*.py'
      exclude: 'symlink_*'
      stage_fixed: true

    taplo:
      run: taplo format {staged_files}
      glob: '*.toml'
      exclude: 'symlink_*'
      stage_fixed: true

Turned off mas for brew bundle
  home/dot_config/exact_homebrew/run_onchange_before_brew-bundle.sh.tmpl
Due: none

Updated starship config
  home/dot_config/starship.toml
Due: taplo

Moved vcs stuff to starship left prompt
  home/dot_config/starship.toml
Due: taplo

brew - changed jetbrains aqua to install without binaries
  home/dot_config/exact_homebrew/Brewfile
Due: none

Adddeed gitleaks to mise.toml
  lefthook.yml
  mise.toml
Due: prettier, taplo

Removed gitleaks from global brewfile
  home/dot_config/exact_homebrew/Brewfile
Due: none

Added casks to skip during chezmoi brew bundle
  home/dot_config/exact_homebrew/run_onchange_before_brew-bundle.sh.tmpl
Due: none

Added working mas skip variable for brew bundle
  home/dot_config/exact_homebrew/run_onchange_before_brew-bundle.sh.tmpl
Due: none

brew - Added more stuff to skipped casks
  home/dot_config/exact_homebrew/run_onchange_before_brew-bundle.sh.tmpl
Due: none

Made a lot of updates to starship.toml
  home/dot_config/starship.toml
Due: taplo

More small updates to the starship config
  home/dot_config/starship.toml
Due: taplo

Changed how git branch looks in starship
  home/dot_config/starship.toml
Due: taplo

More small tweaks to starship config
  home/dot_config/starship.toml
Due: taplo

Removed WGETRC from systemd environment
  home/dot_config/exact_private_environment.d/.chezmoidata.yaml
Due: prettier

Made gitleaks hook a mise task, and added a task for chezmoi apply
  lefthook.yml
  mise.toml
Due: prettier, taplo

Added a fish function to preview oh-my-posh themes
  home/dot_config/exact_private_fish/exact_functions/omp-preview.fish
Due: fish_indent

Changed the styling of a lot of starship modules
  home/dot_config/starship.toml
Due: taplo

Updated a lot of starship icons
  home/dot_config/starship.toml
Due: taplo

Updated docker_context starship module
  home/dot_config/starship.toml
Due: taplo

Removed custom atuin launchagent in favor of the homebrew service
  home/private_Library/exact_LaunchAgents/.chezmoiignore
  home/private_Library/exact_LaunchAgents/codes.furry.atuin.plist.tmpl
Due: prettier-xml

Added newer custom linuxbrew prefix to brew bundle script
  home/dot_config/exact_homebrew/run_onchange_before_brew-bundle.sh.tmpl
Due: none

Removed some things from homebrew forbindden list
  home/dot_config/exact_homebrew/.chezmoidata.yaml
Due: prettier

Added formulae to skip during brew bundle (due to their size and being more optional)
  home/dot_config/exact_homebrew/run_onchange_before_brew-bundle.sh.tmpl
Due: none

Fixed path in new linuxbrew prefix
  home/dot_config/exact_homebrew/run_onchange_before_brew-bundle.sh.tmpl
Due: none

Removed tap for homebrew/linux-fonts
  home/dot_config/exact_homebrew/Brewfile
Due: none

Switched paths on linux to reference new brew prefix
  home/dot_config/exact_private_environment.d/51-homebrew.conf
  home/dot_config/systemd/user/atuin.service
  home/dot_config/systemd/user/brew-auto-update.service
  home/dot_local/private_share/private_flatpak/extension/com.visualstudio.code.tool.homebrew/x86_64/symlink_24.08.tmpl
Due: none

Reordered brew paths on linux
  home/dot_config/exact_private_environment.d/51-homebrew.conf
Due: none

Added kitty shell integration script & fish nvim ftplugin
  home/dot_config/exact_nvim/exact_after/exact_ftplugin/fish.lua
  home/dot_config/exact_private_fish/exact_conf.d/90-kitty.fish
Due: fish_indent

Moved gitleaks pre-commit task back into lefthook config
  lefthook.yml
  mise.toml
Due: prettier, taplo

Added some more lua detection to starship
  home/dot_config/starship.toml
Due: taplo

Updated vivid filetypes
  home/dot_config/vivid/filetypes.yml
Due: prettier

Added aqua shims to linux PATH
  home/dot_config/exact_private_environment.d/.chezmoidata.yaml
Due: prettier

Updated nerd font symbols on linux
  home/.chezmoiexternals/fonts.yaml.tmpl
Due: none

Added eza config
  home/dot_config/eza/theme.yml
Due: prettier

Switched nerd-font-symbols font to always use the latest release
  home/.chezmoiexternals/fonts.yaml.tmpl
Due: none

Updated systemd environment
  home/dot_config/exact_private_environment.d/.chezmoidata.yaml
  home/dot_config/exact_private_environment.d/40-toolchains.conf
  home/dot_config/exact_private_environment.d/60-profile.conf
Due: prettier

Updated .chezmoiignore for ~/.config
  home/dot_config/.chezmoiignore
Due: none

Removed stuff from ~/.local/bin
  home/dot_local/bin/.chezmoiignore
  home/dot_local/bin/symlink_blender.tmpl
  home/dot_local/bin/symlink_clion.tmpl
  home/dot_local/bin/symlink_datagrip.tmpl
  home/dot_local/bin/symlink_firefox.tmpl
  home/dot_local/bin/symlink_gimp.tmpl
  home/dot_local/bin/symlink_gnome-maps.tmpl
  home/dot_local/bin/symlink_goland.tmpl
  home/dot_local/bin/symlink_idea.tmpl
  home/dot_local/bin/symlink_inkscape.tmpl
  home/dot_local/bin/symlink_obs.tmpl
  home/dot_local/bin/symlink_phpstorm.tmpl
  home/dot_local/bin/symlink_picard.tmpl
  home/dot_local/bin/symlink_pycharm.tmpl
  home/dot_local/bin/symlink_rider.tmpl
  home/dot_local/bin/symlink_rubymine.tmpl
  home/dot_local/bin/symlink_vlc.tmpl
  home/dot_local/bin/symlink_waterfox.tmpl
  home/dot_local/bin/symlink_webstorm.tmpl
Due: none

Simplified how flatpak-specific mise configs are loaded Turns out that mise environments/profiles weren't needed for that lol
  home/dot_config/exact_mise/symlink_dot_mise.flatpak.vscode.toml
  home/private_dot_var/app/com.visualstudio.code/config/exact_mise/config.toml
Due: taplo

Improved chezmoiignore for .var/app
  home/private_dot_var/app/.chezmoiignore
Due: none
