Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo

fish_indent:
  run: fish_indent -w {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-ruby:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-xml:
  run: npx prettier --write {staged_files}
  stage_fixed: true

ruff:
  run: ruff format {staged_files}
  stage_fixed: true

taplo:
  run: taplo format {staged_files}
  stage_fixed: true

Removed packages schema
  schemas/chezmoi/data.yaml
  schemas/packages.yaml
  schemas/packages/flatpak.yaml
  schemas/packages/homebrew.yaml
Due: prettier

Converted bat config schema to json
  schemas/app-settings.yaml
  schemas/settings/bat.json
  schemas/settings/bat.yaml
  tombi.toml
Due: prettier, taplo

Update lima schema
  schemas/vendor/lima.json
Due: prettier

Moved pnpm config data into a separate config file
  home/dot_config/exact_private_npm/.chezmoidata.toml
  home/dot_config/exact_private_pnpm/.chezmoidata.toml
  home/dot_config/exact_private_pnpm/rc.tmpl
Due: taplo

Added tombi link to lefthook
  lefthook.yml
Due: prettier

Began adding topiary config
  home/dot_config/exact_private_topiary/exact_queries/elvish.scm
  home/dot_config/exact_private_topiary/languages.ncl
  lefthook.yml
Due: prettier

Updated topiary config
  home/.chezmoiexternals/topiary-queries.yaml
  home/dot_config/.chezmoiignore
  home/dot_config/exact_private_topiary/exact_queries/desktop.scm
  home/dot_config/exact_private_topiary/languages.ncl
  lefthook.yml
Due: prettier

Added git-flow-next completions, updated forbidden packages
  home/dot_config/exact_private_carapace/exact_choices/git-flow
  home/dot_config/exact_private_fish/exact_completions/symlink_git-flow.fish
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: taplo

Updated scoop & winget assets
  assets/scoopfile.json
  assets/winget.json
Due: prettier

Added a go env file for windows
  home/AppData/Roaming/.chezmoiignore
  home/AppData/Roaming/go/env.tmpl
Due: none

Carapace update handling
  home/dot_config/exact_private_carapace/exact_choices/apptainer
  home/dot_config/exact_private_carapace/exact_choices/chezmoi
  home/dot_config/exact_private_carapace/exact_choices/crc
  home/dot_config/exact_private_carapace/exact_choices/cue
  home/dot_config/exact_private_carapace/exact_choices/devcontainer
  home/dot_config/exact_private_carapace/exact_choices/devpod
  home/dot_config/exact_private_carapace/exact_choices/flyctl
  home/dot_config/exact_private_carapace/exact_choices/incus
  home/dot_config/exact_private_carapace/exact_choices/lefthook
  home/dot_config/exact_private_carapace/exact_choices/limactl
  home/dot_config/exact_private_carapace/exact_choices/nerdctl
  home/dot_config/exact_private_carapace/exact_choices/op
  home/dot_config/exact_private_carapace/exact_choices/orb
  home/dot_config/exact_private_carapace/exact_choices/orbctl
  home/dot_config/exact_private_carapace/exact_choices/rclone
  home/dot_config/exact_private_carapace/exact_choices/toolbox
  home/dot_config/exact_private_carapace/exact_specs/clion.yaml
  home/dot_config/exact_private_carapace/exact_specs/datagrip.yaml
  home/dot_config/exact_private_carapace/exact_specs/dataspell.yaml
  home/dot_config/exact_private_carapace/exact_specs/goland.yaml
  home/dot_config/exact_private_carapace/exact_specs/idea.yaml
  home/dot_config/exact_private_carapace/exact_specs/phpstorm.yaml
  home/dot_config/exact_private_carapace/exact_specs/pycharm.yaml
  home/dot_config/exact_private_carapace/exact_specs/rider.yaml
  home/dot_config/exact_private_carapace/exact_specs/rubymine.yaml
  home/dot_config/exact_private_carapace/exact_specs/rustrover.yaml
  home/dot_config/exact_private_carapace/exact_specs/webstorm.yaml
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
Due: prettier, taplo

Added new carapace commands
  home/dot_config/exact_private_fish/exact_completions/symlink_bazel.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_goimports.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_kcl.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_talosctl.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_terraform.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_xonsh.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: taplo

Updated lima templates
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_homebrew/brew.env.tmpl
  home/dot_config/private_lima/private_alpine/lima.yaml
  home/dot_config/private_lima/private_default/lima.yaml
  home/dot_config/private_lima/private_ubuntu/lima.yaml
Due: prettier, taplo

added container-apiserver completions
  home/dot_config/exact_private_fish/exact_completions/container-apiserver.fish
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_container-apiserver
Due: fish_indent

Added carapace specs for some parts of git-extras
  home/dot_config/exact_private_carapace/exact_specs/git-brv.yaml
  home/dot_config/exact_private_carapace/exact_specs/git-changelog.yaml
  home/dot_config/exact_private_carapace/exact_specs/git-count.yaml
  home/dot_config/exact_private_carapace/exact_specs/git-cp.yaml
  home/dot_config/exact_private_carapace/exact_specs/git-delete-branch.yaml
  home/dot_config/exact_private_carapace/exact_specs/git-delete-submodule.yaml
  home/dot_config/exact_private_carapace/exact_specs/git-delete-tag.yaml
  home/dot_config/exact_private_carapace/exact_specs/git-graft.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_git-brv.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_git-changelog.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_git-count.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_git-cp.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_git-delete-branch.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_git-delete-submodule.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_git-delete-tag.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_git-graft.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

Small carapace-related updates
  home/dot_config/exact_private_carapace/exact_choices/gitlint
  home/dot_config/exact_private_carapace/exact_specs/gitlint.yaml
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_apptainer
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_atuin
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_docker-buildx
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_exercism
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_ghalint
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_gitleaks
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_gum
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_just
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_op
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_skate
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_starship
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_watchexec
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_wezterm
Due: prettier, taplo

Updated brewfile and global gitignore
  home/dot_config/exact_private_git/ignore
  home/dot_config/exact_private_homebrew/Brewfile
Due: none

Moved lefthook config into .config
  .config/lefthook.yml
  .gitignore
Due: prettier

Corrected gitignore
  .gitignore
Due: none

Added lefthook local config files to global gitignore
  home/dot_config/exact_private_git/ignore
Due: none

Added keep-sorted comments to global gitignore
  home/dot_config/exact_private_git/ignore
Due: none

Updated vscode settings regarding yaml schemas to not use arrays of globs
  .vscode/settings.json
Due: prettier

Got lima VMs working again
  .vscode/settings.json
  home/dot_config/exact_private_user-tmpfiles.d/.chezmoidata/lima-tmpfiles.toml
  home/dot_config/private_lima/_config/default.yaml
  home/dot_config/private_lima/_config/networks.yaml
  home/dot_config/private_lima/private_alpine/lima.yaml
  home/dot_config/private_lima/private_default/lima.yaml
  home/dot_config/private_lima/private_ubuntu/lima.yaml
  playbooks/device-lima-default.yml
Due: prettier, taplo

Made lima VMs use host carapace choices
  home/dot_config/.chezmoiignore
  home/dot_config/exact_private_user-tmpfiles.d/.chezmoidata/lima-tmpfiles.toml
Due: taplo

Added some carapace choices
  home/dot_config/exact_private_carapace/exact_choices/ctr
  home/dot_config/exact_private_carapace/exact_choices/ctr-enc
  home/dot_config/exact_private_carapace/exact_choices/ctr-remote
  home/dot_config/exact_private_carapace/exact_choices/gomodjail
  home/dot_config/exact_private_carapace/exact_choices/lima-guestagent
  home/dot_config/exact_private_carapace/exact_choices/nerdctl.gomodjail
  home/dot_config/exact_private_fish/exact_completions/symlink_ctr-enc.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_ctr-remote.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_ctr.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_gomodjail.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_lima-guestagent.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_nerdctl.gomodjail.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: taplo

Renamed fish abbrev data to improve file search
  home/dot_config/exact_private_fish/.chezmoidata/abbrev.toml
  home/dot_config/exact_private_fish/.chezmoidata/fish-abbrev.toml
Due: taplo

Updated common abbrevs and removed singularity carapace choice
  home/.chezmoidata/common-abbrev.toml
  home/dot_config/exact_private_carapace/exact_choices/singularity
Due: taplo

Small completion updates
  home/dot_config/exact_private_carapace/exact_choices/keploy
  home/dot_config/exact_private_carapace/exact_choices/nox
  home/dot_config/exact_private_carapace/exact_choices/reuse
  home/dot_config/exact_private_fish/exact_completions/symlink_nox.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: taplo

Updated brewfile
  home/dot_config/exact_private_homebrew/Brewfile
Due: none

Mostly completion updates
  home/.chezmoidata/common-abbrev.toml
  home/.chezmoidata/pwsh-completers.toml
  home/dot_config/exact_private_carapace/exact_choices/git-pkgs
  home/dot_config/exact_private_elvish/.chezmoidata/completers.toml
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
  home/dot_config/exact_private_fish/exact_completions/ab-av1.fish
  home/dot_config/exact_private_fish/exact_completions/rv.fish
  home/dot_config/exact_private_fish/exact_completions/rvx.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_git-pkgs.fish
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_ab-av1
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_rv
  home/dot_config/starship.toml
  home/dot_local/private_share/.chezmoiignore
Due: fish_indent, taplo

More completion updates
  home/.chezmoidata/pwsh-completers.toml
  home/dot_config/exact_private_carapace/exact_choices/vfkit
  home/dot_config/exact_private_elvish/.chezmoidata/completers.toml
  home/dot_config/exact_private_fish/exact_completions/crictl.fish
  home/dot_config/exact_private_fish/exact_completions/dx.fish
  home/dot_config/exact_private_fish/exact_completions/rvw.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_vfkit.fish
  home/dot_config/exact_private_fish/exact_completions/ty.fish
  home/dot_config/exact_private_zsh/.chezmoidata/aliased-completion.toml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_ty
  home/dot_config/starship.toml
Due: fish_indent, taplo

A lot more completion updates
  home/.chezmoidata/common-abbrev.toml
  home/.chezmoidata/pwsh-completers.toml
  home/dot_config/exact_private_carapace/exact_choices/tokei.tmpl
  home/dot_config/exact_private_carapace/exact_specs/erd.yaml
  home/dot_config/exact_private_carapace/exact_specs/gifski.yaml
  home/dot_config/exact_private_carapace/exact_specs/git-trim.yaml
  home/dot_config/exact_private_carapace/exact_specs/kondo.yaml
  home/dot_config/exact_private_carapace/exact_specs/oxker.yaml
  home/dot_config/exact_private_carapace/exact_specs/tokei.yaml
  home/dot_config/exact_private_elvish/.chezmoidata/completers.toml
  home/dot_config/exact_private_fish/exact_completions/_carapace_or_builtin.fish
  home/dot_config/exact_private_fish/exact_completions/_carapace_or_fallback.fish
  home/dot_config/exact_private_fish/exact_completions/erd.fish
  home/dot_config/exact_private_fish/exact_completions/kondo.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_erd.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_gifski.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_git-trim.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_kondo.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_oxker.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_tokei.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_erdtree
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_kondo
Due: fish_indent, prettier, taplo

More completion updates
  home/.chezmoidata/pwsh-completers.toml
  home/dot_config/exact_private_carapace/exact_specs/svgo.yaml
  home/dot_config/exact_private_carapace/exact_specs/tokei.yaml
  home/dot_config/exact_private_elvish/.chezmoidata/completers.toml
  home/dot_config/exact_private_fish/exact_completions/atuin.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_atuin.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_svgo.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: fish_indent, prettier, taplo

More completion updates
  home/.chezmoidata/pwsh-completers.toml
  home/dot_config/exact_private_carapace/exact_choices/infocmp.tmpl
  home/dot_config/exact_private_carapace/exact_choices/iostat.tmpl
  home/dot_config/exact_private_carapace/exact_choices/m4.tmpl
  home/dot_config/exact_private_carapace/exact_choices/mddiagnose.tmpl
  home/dot_config/exact_private_carapace/exact_choices/mdimport.tmpl
  home/dot_config/exact_private_carapace/exact_choices/metaflac.tmpl
  home/dot_config/exact_private_carapace/exact_choices/pax.tmpl
  home/dot_config/exact_private_carapace/exact_choices/prove.tmpl
  home/dot_config/exact_private_carapace/exact_specs/compare.yaml
  home/dot_config/exact_private_carapace/exact_specs/conjure.yaml
  home/dot_config/exact_private_carapace/exact_specs/dx.yaml
  home/dot_config/exact_private_carapace/exact_specs/gpgv.yaml
  home/dot_config/exact_private_elvish/.chezmoidata/completers.toml
  home/dot_config/exact_private_fish/exact_completions/symlink_gpgv.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_infocmp.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_iostat.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_metaflac.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_pax.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_prove.fish
  home/dot_config/exact_private_fish/exact_completions/wormhole-rs.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/_wormhole-rs
Due: fish_indent, prettier, taplo

even more completion updates
  home/dot_config/exact_private_carapace/exact_choices/gs.tmpl
  home/dot_config/exact_private_carapace/exact_choices/pzstd.tmpl
  home/dot_config/exact_private_carapace/exact_choices/texi2any.tmpl
  home/dot_config/exact_private_carapace/exact_choices/texi2dvi.tmpl
  home/dot_config/exact_private_carapace/exact_choices/texi2pdf.tmpl
  home/dot_config/exact_private_carapace/exact_choices/texindex.tmpl
  home/dot_config/exact_private_carapace/exact_choices/unzstd.tmpl
  home/dot_config/exact_private_carapace/exact_choices/zstd.tmpl
  home/dot_config/exact_private_carapace/exact_choices/zstdcat.tmpl
  home/dot_config/exact_private_carapace/exact_choices/zstdless.tmpl
  home/dot_config/exact_private_carapace/exact_choices/zstdmt.tmpl
  home/dot_config/exact_private_carapace/exact_specs/lzmadec.yaml
  home/dot_config/exact_private_carapace/exact_specs/lzmainfo.yaml
  home/dot_config/exact_private_carapace/exact_specs/xzdec.yaml
  home/dot_config/exact_private_fish/exact_completions/lzmadec.fish
  home/dot_config/exact_private_fish/exact_completions/lzmainfo.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_gs.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_lzmadec.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_lzmainfo.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_texi2any.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_texi2dvi.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_texi2pdf.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_texindex.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_xzdec.fish
  home/dot_config/exact_private_fish/exact_completions/xzdec.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: fish_indent, prettier, taplo

Added mise tasks for fixing carapace choices
  .config/mise/tasks/fix/carapace/inshellisense-choices.ts
  .config/mise/tasks/fix/carapace/shell-choices.ts
Due: none

Made carapace choice fix tasks use Deno.args
  .config/mise/tasks/fix/carapace/inshellisense-choices.ts
  .config/mise/tasks/fix/carapace/shell-choices.ts
Due: none

Made carapace choice fixers depend on sd tool
  .config/mise/tasks/fix/carapace/inshellisense-choices.ts
  .config/mise/tasks/fix/carapace/shell-choices.ts
Due: none

Updated lefthook config
  .config/lefthook.yml
Due: prettier

Formatting, mostly
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_nushell/config.nu
  home/dot_config/exact_private_nushell/env.nu
  home/dot_config/exact_private_nushell/modules/config/keybindings.nu
  home/dot_config/exact_private_nushell/modules/config/themes.nu
Due: taplo

Path conditions:
  fish_indent: any of: *.fish, but not: symlink_*
  prettier: any of: *.{css,yml,yaml,md,html,json,jsonc,code-snippets}, but not: symlink_*
  prettier-ruby: any of: {*.rb,Gemfile,Rakefile,Brewfile}, but not: symlink_*
  prettier-xml: any of: *.{xml,plist}{,.tmpl}, but not: symlink_*
  ruff: any of: *.py, but not: symlink_*
  taplo: any of: *.toml, but not: symlink_*
