Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo

.lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    fish_indent:
      run: fish_indent -w {staged_files}
      glob: '*.fish'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier:
      run: npx prettier --write {staged_files}
      glob: '*.{css,yml,yaml,md,html,json,jsonc,code-snippets}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-ruby:
      run: npx prettier --write {staged_files}
      glob: '{*.rb,Gemfile,Rakefile,Brewfile}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-xml:
      run: npx prettier --write {staged_files}
      glob: '*.{xml,plist}{,.tmpl}'
      exclude: 'symlink_*'
      stage_fixed: true

    ruff:
      run: ruff format {staged_files}
      glob: '*.py'
      exclude: 'symlink_*'
      stage_fixed: true

    taplo:
      run: taplo format {staged_files}
      glob: '*.toml'
      exclude: 'symlink_*'
      stage_fixed: true

Switched to registry version of ruff in mise.toml, updated homebrew chezmoi data
  .mise.toml
  home/dot_config/exact_homebrew/.chezmoidata.yaml
Due: prettier, taplo

Removed direnv & fish conf.d files
  home/dot_config/exact_private_fish/exact_conf.d/50-direnv.fish
  home/dot_config/exact_private_fish/exact_conf.d/symlink_90-vscode.fish
Due: fish_indent

Simplified fish conf.d chezmoi ignore, and removed stuff from brewfile
  home/dot_config/exact_homebrew/Brewfile
  home/dot_config/exact_private_fish/exact_conf.d/.chezmoiignore
Due: none

Updated brewfile again
  home/dot_config/exact_homebrew/Brewfile
Due: none

Updated brewfile, added eget completions, added npq to mac os mise tools, updated lima config
  home/dot_config/carapace/exact_specs/eget.yaml
  home/dot_config/exact_homebrew/Brewfile
  home/dot_config/exact_mise/config.local.darwin.toml
  home/dot_config/exact_private_fish/exact_completions/symlink_eget.fish
  home/dot_config/private_lima/_config/default.yaml
  home/dot_config/private_lima/private_alpine/lima.yaml
  home/dot_config/private_lima/private_default/lima.yaml
  home/dot_local/bin/.chezmoiignore
Due: prettier, taplo

Renamed .mise.toml to mise.toml (and updated other things accordingly)
  .gitignore
  .taplo.toml
  mise.toml
Due: taplo

Updated lima chezmoiignore
  home/dot_config/private_lima/.chezmoiignore
Due: none

Renamed .lefthook.yaml to lefthook.yml
  .gitignore
  lefthook.yml
Due: prettier

Removed references to packages schema (as it is no longer used)
  .taplo.toml
  schemas/packages.json
Due: prettier, taplo

Added (generated) JSON schema for lima.yaml files
  .gitattributes
  .prettierignore
  .vscode/settings.json
  mise.toml
  schemas/vendor/.gitkeep
  schemas/vendor/lima.json
Due: prettier, taplo

Updated application support chezmoiignore
  home/private_Library/private_Application Support/.chezmoiignore
Due: none

Updated ansible config to use /tmp/ansible for the remote temp folder
  home/dot_config/ansible.cfg.tmpl
Due: none

Made much larger updates to ansible config
  home/dot_config/ansible.cfg.tmpl
Due: none

Added a basic ansible playbook for provisioning default lima VM
  home/dot_config/private_lima/.chezmoiignore
  home/dot_config/private_lima/private_default/lima.yaml
  home/dot_config/private_lima/private_default/playbook.yaml
Due: prettier

Made default lima VM use templates to specify playbook path, updated default lima VM's onchange script
  home/dot_config/private_lima/private_default/lima.yaml.tmpl
  home/dot_config/private_lima/private_default/run_onchange_after_stop-vm.zsh.tmpl
Due: none

Added vscode ft association for ansible.cfg.tmpl
  .vscode/settings.json
Due: prettier

Added commented out user shell configuration to default lima playbook, and removed chsh script from alpine lima provisioning
  home/dot_config/private_lima/private_alpine/lima.yaml
  home/dot_config/private_lima/private_default/playbook.yaml
Due: prettier

Removed GSK_RENDERER env variable, switched linux 1password setup to be more standard
  home/dot_config/exact_private_environment.d/.chezmoidata.yaml
  home/dot_config/exact_user-tmpfiles.d/custom.conf
  home/dot_local/bin/executable_1password
  home/dot_local/bin/executable_op-ssh-sign
  home/dot_local/bin/symlink_op-ssh-sign
  home/dot_local/private_share/private_flatpak/extension/com.visualstudio.code.tool.custom/x86_64/24.08/bin/executable_op-ssh-sign
  home/dot_local/private_share/private_flatpak/extension/com.visualstudio.code.tool.custom/x86_64/24.08/bin/symlink_op-ssh-sign
  home/private_dot_ssh/exact_private_config.d/private_1password-linux.conf.tmpl
Due: prettier

Added chcon completions, updated systemd tmpfiles, and made some stuff mac os only in the brewfile
  home/dot_config/carapace/bridges.yaml
  home/dot_config/exact_homebrew/Brewfile
  home/dot_config/exact_private_fish/exact_completions/symlink_chcon.fish
  home/dot_config/exact_user-tmpfiles.d/custom.conf
Due: prettier

Corrected brew auto update systemd service to actually do updates
  home/dot_config/systemd/user/brew-auto-update.service
Due: none

Hardened brew auto update service, added some more symlinks to ~/.local/bin
  home/dot_config/systemd/user/brew-auto-update.service
  home/dot_local/bin/.chezmoiignore
  home/dot_local/bin/.chezmoiremove
  home/dot_local/bin/symlink_dig
  home/dot_local/bin/symlink_ffplay
  home/dot_local/bin/symlink_ffprobe
  home/dot_local/bin/symlink_host
  home/dot_local/bin/symlink_ipcalc
  home/dot_local/bin/symlink_man
  home/dot_local/bin/symlink_nslookup
  home/dot_local/bin/symlink_patch
  home/dot_local/bin/symlink_ping
  home/dot_local/bin/symlink_strings
  home/dot_local/bin/symlink_tesseract
  home/dot_local/bin/symlink_whois
  home/dot_local/bin/symlink_yt-dlp
Due: none

Removed direnv from elvish config, added dnf makecache service, and heavily sandboxed atuin daemon
  home/dot_config/exact_private_elvish/exact_lib/direnv.elv
  home/dot_config/exact_private_elvish/rc.elv
  home/dot_config/systemd/user/dnf-makecache.service
  home/dot_config/systemd/user/dnf-makecache.timer
Due: none

Renamed atuin systemd service & socket
  home/dot_config/systemd/user/atuin.service
  home/dot_config/systemd/user/atuin.socket
Due: none

Removed man firejail wrapper
  home/dot_local/bin/.chezmoiignore
  home/dot_local/bin/.chezmoiremove
  home/dot_local/bin/symlink_man
Due: none

Updated .local/bin chezmoiremove to handle more firecfg errors
  home/dot_local/bin/.chezmoiremove
Due: none

Started to configure neovim filetypes
  home/dot_config/exact_nvim/lua/options.lua
Due: none

Sandboxing tweaks to atuin & brew auto update
  home/dot_config/systemd/user/atuin.service
  home/dot_config/systemd/user/brew-auto-update.service
Due: none

Added bluebubbles to brewfile
  home/dot_config/exact_homebrew/Brewfile
Due: none

Added shh carapace completion & removed leftovers from direnv
  home/.chezmoiexternals/zsh-plugins.yaml.tmpl
  home/dot_config/carapace/exact_specs/shh.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_shh.fish
  home/dot_config/exact_private_zsh/exact_plugins/symlink_direnv
  home/dot_config/exact_private_zsh/plugins.zsh
  home/dot_config/private_nushell/config.nu
Due: prettier

Added systemd overrides for dconf
  home/dot_config/systemd/user/dconf.service.d/override.conf
Due: none

Added exposure levels to systemd services
  home/dot_config/systemd/user/atuin.service
  home/dot_config/systemd/user/brew-auto-update.service
  home/dot_config/systemd/user/dnf-makecache.service
Due: none

Added scalar completions
  home/dot_config/carapace/exact_specs/scalar.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_scalar.fish
Due: prettier

Cleaned up carapace specs a bit
  home/dot_config/carapace/exact_specs/bkt.yaml
  home/dot_config/carapace/exact_specs/duf.yaml
  home/dot_config/carapace/exact_specs/gitlint.yaml
  home/dot_config/carapace/exact_specs/jarsigner.yaml
  home/dot_config/carapace/exact_specs/javah.yaml
  home/dot_config/carapace/exact_specs/native2ascii.yaml
  home/dot_config/carapace/exact_specs/pbcopy.yaml
  home/dot_config/carapace/exact_specs/pbpaste.yaml
  home/dot_config/carapace/exact_specs/pipx.yaml
  home/dot_config/carapace/exact_specs/pkgutil.yaml
  home/dot_config/carapace/exact_specs/policytool.yaml
  home/dot_config/carapace/exact_specs/shadowenv.yaml
  home/dot_config/carapace/exact_specs/taplo.yaml
  home/dot_config/carapace/exact_specs/xcode-select.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_pipx.fish
Due: prettier

Added global fd ignore
  .vscode/settings.json
  home/dot_config/fd/ignore
Due: prettier

Updated brew chezmoi data
  home/dot_config/exact_homebrew/.chezmoidata.yaml
Due: prettier

Added ydlopus abbreviation
  home/.chezmoidata/shell/abbrev.yaml
Due: prettier

Updated global mise config
  home/dot_config/exact_mise/config.toml
Due: taplo

Switched stylua in mise.toml to registry version, added stylua to lefthook.yml
  lefthook.yml
  mise.toml
Due: prettier, taplo

Used `mise x` for ruff format in lefthook
  lefthook.yml
Due: prettier
