Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo

fish_indent:
  run: fish_indent -w {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-ruby:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-xml:
  run: npx prettier --write {staged_files}
  stage_fixed: true

ruff:
  run: ruff format {staged_files}
  stage_fixed: true

taplo:
  run: taplo format {staged_files}
  stage_fixed: true

Updated zsh config to vendor zsh-completions, and updated carapace bridges
  home/.chezmoiexternals/zsh-plugins.yaml.tmpl
  home/dot_config/carapace/bridges.yaml
  home/dot_config/exact_private_zsh/config.zsh
  home/dot_config/exact_private_zsh/exact_functions/symlink__cmake
  home/dot_config/exact_private_zsh/exact_functions/symlink__openssl
  home/dot_config/exact_private_zsh/exact_functions/symlink__port
  home/dot_config/exact_private_zsh/exact_functions/symlink__rspec
  home/dot_config/exact_private_zsh/exact_functions/symlink__rubocop
  home/dot_config/exact_private_zsh/exact_functions/symlink__setup.py
  home/dot_config/exact_private_zsh/exact_functions/symlink__shellcheck
Due: prettier

Updated mise disabled tools, added create file for ssh authorized keys
  home/dot_config/exact_mise/config.toml
  home/private_dot_ssh/create_private_authorized_keys.tmpl
Due: taplo

Updated nvim plugins, stopped using carapace completions for flatpak in fish (misses some commands), and improved the enable.sh for my mise flatpak extension
  home/dot_config/exact_nvim/lazy-lock.json
  home/dot_config/private_fish/exact_completions/symlink_flatpak.fish
  home/dot_local/private_share/private_flatpak/extension/org.freedesktop.Sdk.Extension.mise/x86_64/24.08/enable.sh
Due: prettier

Added 1password autostart file for linux, added a tool to mise, cleaned up .local/bin chezmoi ignore a little, and added dotnet-tools-outdated wrapper function for fish
  home/dot_config/autostart/1password.desktop
  home/dot_config/exact_mise/config.local.linux.toml
  home/dot_config/private_fish/exact_functions/dotnet-tools-outdated.fish
  home/dot_local/bin/.chezmoiignore
Due: fish_indent, taplo

Updated various environment variables on linux
  home/dot_config/exact_private_environment.d/.chezmoidata.yaml
Due: prettier

Updated nvim plugins again?
  home/dot_config/exact_nvim/lazy-lock.json
Due: prettier

Removed WORKON_HOME and my old wrappers folder from the systemd environment, and replaced docker completion with carapace completions
  home/dot_config/exact_private_environment.d/.chezmoidata.yaml
  home/dot_config/private_fish/exact_completions/docker.fish
  home/dot_config/private_fish/exact_completions/symlink_docker.fish
Due: fish_indent, prettier

switched lefthook dependency in .mise.toml to use the name in the registry
  .mise.toml
Due: taplo

Moved cargo-binstall from linux mise config to global mise config, and updated brew chezmoi data
  home/dot_config/exact_homebrew/.chezmoidata.yaml
  home/dot_config/exact_mise/config.local.linux.toml
  home/dot_config/exact_mise/config.toml
Due: prettier, taplo

Switched chezmoi fish completions to use the completion template
  home/dot_config/private_fish/exact_completions/chezmoi.fish.tmpl
  home/dot_config/private_fish/exact_completions/symlink_chezmoi.fish
Due: none

Added .desktop file association for VSCode
  .vscode/settings.json
Due: prettier

Removed corepack from brewfile, and shortened main mise config
  home/dot_config/exact_homebrew/Brewfile
  home/dot_config/exact_mise/config.toml
Due: taplo

Removed cargo-binstall & direnv from global brewfile
  home/dot_config/exact_homebrew/Brewfile
Due: none

Updated .local/share chezmoi ignore
  home/dot_local/private_share/.chezmoiignore
Due: none

Removed actionlint from brewfile
  home/dot_config/exact_homebrew/Brewfile
Due: none

Misc updates
  home/dot_config/carapace/exact_specs/gittower.yaml
  home/dot_config/carapace/exact_specs/npm-check-updates.yaml
  home/dot_config/exact_homebrew/Brewfile
  home/dot_config/private_fish/exact_completions/ncu.fish
  home/dot_config/private_fish/exact_completions/symlink_gittower.fish
  home/dot_config/private_fish/exact_completions/symlink_npm-check-updates.fish
  home/dot_config/private_fish/exact_functions/neofetch.fish
  home/dot_config/starship.toml
  home/private_Library/private_Application Support/.chezmoiignore
Due: fish_indent, prettier, taplo

Added GSK_RENDERER to systemd environment as a hotfix for fedora 41
  home/dot_config/exact_private_environment.d/.chezmoidata.yaml
Due: prettier

Added rainbow to mac os global mise packages
  home/dot_config/exact_mise/config.local.darwin.toml
Due: taplo

Added dnf carapace completions, and set the BKT cache dir on linux
  home/dot_config/carapace/exact_specs/dnf.yaml
  home/dot_config/exact_private_environment.d/.chezmoidata.yaml
  home/dot_config/private_fish/exact_completions/symlink_dnf.fish
Due: prettier

Removed MANPAGER on linux
  home/dot_config/exact_private_environment.d/.chezmoidata.yaml
Due: prettier

simplified starship config, added oh-my-posh completion symlink for fish
  home/dot_config/private_fish/exact_completions/symlink_oh-my-posh.fish
  home/dot_config/starship.toml
Due: taplo

Started adding completions for buildah
  home/dot_config/carapace/exact_specs/buildah.yaml
  home/dot_config/private_fish/exact_completions/symlink_buildah.fish
Due: prettier

Corrected strings in buildah flag completions
  home/dot_config/carapace/exact_specs/buildah.yaml
Due: prettier

Added completions for `dnf upgrade-minimal`
  home/dot_config/carapace/exact_specs/dnf.yaml
Due: prettier

Removed systemd .wants folders
  home/dot_config/systemd/user/sockets.target.wants/symlink_atuin-daemon.socket
  home/dot_config/systemd/user/sockets.target.wants/symlink_podman.socket
Due: none

Various updates
  home/dot_config/exact_mise/config.local.linux.toml
  home/dot_config/exact_mise/config.toml
  home/dot_config/exact_private_environment.d/.chezmoidata.yaml
  home/dot_config/exact_private_environment.d/40-toolchains.conf
  home/dot_config/exact_user-tmpfiles.d/custom.conf
  home/dot_config/starship.toml
  home/dot_local/bin/.chezmoiignore
Due: prettier, taplo

Updated nvim plugins
  home/dot_config/exact_nvim/lazy-lock.json
Due: prettier

Added npq to linux mise tools
  home/dot_config/exact_mise/config.local.linux.toml
  home/dot_local/bin/.chezmoiignore
Due: taplo

Added rainbow to linux mise tools, cleaned up .local/bin chezmoi ignore a little
  home/dot_config/exact_mise/config.local.linux.toml
  home/dot_local/bin/.chezmoiignore
Due: taplo

Cleaned up stuff in .config, turned off go telemetry (until it's more configurable at least)
  home/dot_config/.chezmoiignore
  home/dot_config/private_go/.chezmoiremove
  home/dot_config/private_go/private_env.tmpl
  home/dot_config/private_go/private_telemetry/private_mode
  home/dot_config/symlink_BraveSoftware
Due: none

Updated lima VM configs
  home/dot_config/private_lima/_config/default.yaml
  home/dot_config/private_lima/private_alpine/lima.yaml
  home/dot_config/private_lima/private_default/lima.yaml
Due: prettier

Added alpine-amd64 lima VM (not a full config)
  home/dot_config/private_lima/private_alpine-amd64/lima.yaml
  home/dot_config/private_lima/private_alpine-amd64/run_onchange_after_stop-vm.zsh.tmpl
Due: prettier

Made lima stop-vm script generic
  home/dot_config/private_lima/.stop-vm.zsh.tmpl
  home/dot_config/private_lima/private_alpine-amd64/run_onchange_after_stop-vm.zsh.tmpl
  home/dot_config/private_lima/private_alpine/run_onchange_after_stop-vm.zsh.tmpl
  home/dot_config/private_lima/private_default/run_onchange_after_stop-vm.zsh.tmpl
Due: none

Updated lima alpine images to match the latest ones in the alpine template
  home/dot_config/private_lima/private_alpine-amd64/lima.yaml
  home/dot_config/private_lima/private_alpine/lima.yaml
Due: prettier

Updated kitty config
  home/dot_config/kitty/kitty.conf.tmpl
Due: none

Updated chezmoi ignore files
  home/dot_config/.chezmoiignore
  home/dot_local/bin/.chezmoiignore
  home/dot_local/private_share/.chezmoiignore
  home/dot_local/private_share/mime/.chezmoiignore
  home/dot_local/private_share/private_applications/.chezmoiignore
Due: none

Removed fish xsel wrapper function
  home/dot_config/exact_private_fish/exact_functions/xsel.fish
Due: fish_indent

Made 1password wrapper launch in a systemd scope
  home/dot_local/bin/executable_1password
Due: none

Added some light sandboxing to the atuin daemon (on linux)
  home/dot_config/systemd/user/atuin-daemon.service
Due: none

Path conditions:
  fish_indent: any of: *.fish, but not: symlink_*
  prettier: any of: *.{css,yml,yaml,md,html,json,jsonc,code-snippets}, but not: symlink_*
  prettier-ruby: any of: {*.rb,Gemfile,Rakefile,Brewfile}, but not: symlink_*
  prettier-xml: any of: *.{xml,plist}{,.tmpl}, but not: symlink_*
  ruff: any of: *.py, but not: symlink_*
  taplo: any of: *.toml, but not: symlink_*
