Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo

.lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    fish_indent:
      run: fish_indent -w {staged_files}
      glob: '*.fish'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier:
      run: npx prettier --write {staged_files}
      glob: '*.{css,yml,yaml,md,html,json,jsonc,code-snippets}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-ruby:
      run: npx prettier --write {staged_files}
      glob: '{*.rb,Gemfile,Rakefile,Brewfile}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-xml:
      run: npx prettier --write {staged_files}
      glob: '*.{xml,plist}{,.tmpl}'
      exclude: 'symlink_*'
      stage_fixed: true

    ruff:
      run: ruff format {staged_files}
      glob: '*.py'
      exclude: 'symlink_*'
      stage_fixed: true

    taplo:
      run: taplo format {staged_files}
      glob: '*.toml'
      exclude: 'symlink_*'
      stage_fixed: true

Tweaked chezmoi config
  home/.chezmoi.yaml.tmpl
Due: none

Added some symlinks in library/application support
  home/private_Library/private_Application Support/.chezmoiignore
  home/private_Library/private_Application Support/symlink_Caches
  home/private_Library/private_Application Support/symlink_xonsh.tmpl
Due: none

Updated fish completion chezmoi ignore
  home/dot_config/private_fish/exact_completions/.chezmoiignore
Due: none

Added pixi completions
  home/dot_config/exact_private_zsh/exact_functions/_pixi
  home/dot_config/private_fish/exact_completions/.chezmoiignore
  home/dot_config/private_fish/exact_completions/pixi.fish
Due: fish_indent

Various trivial changes Mostly just renaming files
  .vscode/settings.json
  home/.chezmoiremove
  home/dot_config/bat/.chezmoidata.yaml
  home/private_dot_ssh/exact_private_config.d/.chezmoiignore
  home/private_dot_ssh/exact_private_config.d/private_1password-darwin.conf
  home/private_dot_ssh/exact_private_config.d/private_1password-linux.conf.tmpl
  home/private_dot_ssh/exact_private_config.d/private_1password-windows.conf
  home/private_dot_ssh/private_config.tmpl
Due: prettier

Updated ansible config
  home/dot_config/ansible.cfg
  home/dot_config/ansible.cfg.tmpl
Due: none

Slightly modified ssh config and redid gitattributes
  .gitattributes
  .vscode/settings.json
  home/.gitattributes
  home/private_dot_ssh/exact_private_config.d/private_1password-darwin.conf
  home/private_dot_ssh/exact_private_config.d/private_1password-linux.conf.tmpl
  home/private_dot_ssh/private_config.tmpl
Due: prettier

Simplified including ssh configs
  home/private_dot_ssh/private_config
Due: none

Enabled SSH-ing into lima VMs
  home/private_dot_ssh/exact_private_config.d/.chezmoiignore
  home/private_dot_ssh/exact_private_config.d/private_lima-includes.conf
  home/private_dot_ssh/private_config
Due: none

Changed LIMA_HOME and started added lima VM configs to chezmoi
  home/dot_config/.chezmoiignore
  home/dot_config/private_lima/.chezmoiignore
  home/dot_config/private_lima/_config/default.yaml
  home/dot_config/private_lima/private_default/lima.yaml
  home/private_Library/exact_LaunchAgents/.chezmoidata.yaml
  home/private_Library/exact_LaunchAgents/.chezmoiignore
  home/private_dot_ssh/exact_private_config.d/private_lima-includes.conf
Due: prettier

Updated homebrew chezmoi data
  home/dot_config/exact_homebrew/.chezmoidata.yaml
Due: prettier

Updated defalt lima vm config, and added a script to automatically stop the VM when the config for it changes
  home/dot_config/private_lima/private_default/lima.yaml
  home/dot_config/private_lima/private_default/run_onchange_after_stop-vm.zsh.tmpl
Due: prettier

Reverted linux 1password wrapper to using boxxy, since 1password bypasses checking the HOME environment variable
  home/dot_local/bin/executable_1password
Due: none

Misc. Updates
  .vscode/settings.json
  home/.chezmoidata/chezmoi/ignored.yaml
  home/.chezmoidata/shell/abbrev.yaml
  home/.chezmoiremove
  home/dot_config/carapace/bridges.yaml
  home/dot_config/carapace/exact_specs/bazel.yaml
  home/dot_config/carapace/exact_specs/faas.yaml
  home/dot_config/exact_homebrew/.chezmoidata.yaml
  home/dot_config/private_fish/exact_completions/bazelisk.fish
  home/dot_config/private_fish/exact_completions/symlink_bazel.fish
  home/dot_config/private_fish/exact_conf.d/.chezmoiignore
  home/dot_config/private_fish/exact_conf.d/30-mise-activate.fish
  home/dot_config/private_fish/exact_conf.d/40-atuin.fish
  home/dot_config/private_fish/exact_conf.d/50-direnv.fish
  home/dot_config/private_fish/exact_conf.d/60-starship.fish
  home/dot_config/private_fish/exact_conf.d/symlink_50-op-plugins.fish
  home/dot_config/private_fish/exact_functions/.chezmoiignore
  home/dot_config/private_fish/exact_functions/ln.fish
  home/private_Library/exact_LaunchAgents/.chezmoiignore
  home/private_dot_ssh/private_dot_ignore
Due: fish_indent, prettier

Updates related to ignore files
  home/.chezmoidata/chezmoi/ignored.yaml
  home/.chezmoiignore
  home/.chezmoiremove
  home/private_Library/private_Application Support/.chezmoiignore
  home/private_Library/private_Application Support/.chezmoiremove
  home/private_dot_ssh/.chezmoiignore
Due: prettier

More chezmoi ignore edits
  home/.chezmoidata/chezmoi/ignored.yaml
  home/.chezmoiignore
Due: prettier

updated .local/bin ignore file and added a chezmoi remove file for .local/bin
  home/dot_local/bin/.chezmoiignore
  home/dot_local/bin/.chezmoiremove
Due: none

Added a couple of scripts to run on mac os
  home/.chezmoiscripts/darwin/run_once_before_00-install-rosetta.sh.tmpl
  home/.chezmoiscripts/darwin/run_once_before_01-install-homebrew.zsh.tmpl
  home/.chezmoiscripts/darwin/run_onchange_after_chsh.sh
  home/dot_config/exact_homebrew/run_onchange_before_brew-bundle.sh.tmpl
Due: none

Updated brewfile, and added dura completions
  home/dot_config/carapace/exact_specs/dura.yaml
  home/dot_config/exact_homebrew/Brewfile
  home/dot_config/private_fish/exact_completions/symlink_dura.fish
Due: prettier

Updated chezmoi ignore for ~/.local/share
  home/dot_local/private_share/.chezmoiignore
Due: none

Added dura config dir to application support ignore list
  home/private_Library/private_Application Support/.chezmoiignore
Due: none

Updated .config ignore list
  home/dot_config/.chezmoiignore
Due: none

Added do-not-disturb cli install via mise
  home/dot_config/exact_mise/config.local.darwin.toml
  home/dot_local/bin/.chezmoiignore
Due: taplo

Added direnv config, added empty-trash-cli to mac os global mise packages, simplified syntax on fish chezmoi ignores, and added some fish functions to the chezmoi ignore
  home/dot_config/direnv/direnv.toml
  home/dot_config/exact_mise/config.local.darwin.toml
  home/dot_config/private_fish/exact_conf.d/.chezmoiignore
  home/dot_config/private_fish/exact_functions/.chezmoiignore
  home/dot_local/bin/.chezmoiignore
Due: taplo

updated abbreviations, brew forbiddden formulae, and app support chezmoi ignore
  home/.chezmoidata/shell/abbrev.yaml
  home/.chezmoiremove
  home/dot_config/exact_homebrew/.chezmoidata.yaml
  home/private_Library/private_Application Support/.chezmoiignore
  home/private_Library/private_Application Support/symlink_chezmoi.tmpl
Due: prettier

Updated mise disabled tools and home chezmoiignore
  home/.chezmoiremove
  home/dot_config/exact_mise/config.toml
Due: taplo

Updated sentry-cli & ruff fish completions to handle mise installs
  home/dot_config/private_fish/exact_completions/ruff.fish
  home/dot_config/private_fish/exact_completions/sentry-cli.fish
Due: fish_indent

Sorted disabled mise tools, added alpine lima VM
  home/dot_config/exact_mise/config.toml
  home/dot_config/private_lima/private_alpine/lima.yaml
  home/dot_config/private_lima/private_alpine/run_onchange_after_stop-vm.zsh.tmpl
Due: prettier, taplo

More mise config updates
  home/dot_config/exact_mise/config.toml
Due: taplo

Made fish set the SSH Auth Socket to 1passowrd on mac os when running in VSCode, updated brew forbidden formulae, and updated mise config
  home/dot_config/exact_homebrew/.chezmoidata.yaml
  home/dot_config/exact_mise/config.toml
  home/dot_config/private_fish/exact_conf.d/20-darwin.fish
Due: fish_indent, prettier, taplo

- Added rustup to brewfile - removed mac OS application support cargo symlink - Removed DOTNET_CLI_HOME from windows environment variables (it breaks UniGetUI)
  home/.chezmoiscripts/windows/run_onchange_before_environment.ps1.tmpl
  home/dot_config/exact_homebrew/Brewfile
  home/private_Library/private_Application Support/symlink_cargo.tmpl
Due: none

Simplified how stuff is excluded from the root .chezmoiremove on windows
  home/.chezmoiignore
  home/.chezmoiremove
Due: none

More small updates to chezmoi ignore, and updated windows environment setup script
  home/.chezmoidata/chezmoi/ignored.yaml
  home/.chezmoiignore
  home/.chezmoiscripts/windows/run_onchange_before_environment.ps1.tmpl
Due: prettier

Updated scoop-import script to use a real scoopfile
  assets/scoopfile.json
  home/.chezmoidata/packages/scoop.toml
  home/.chezmoiscripts/windows/run_onchange_before_scoop-import.ps1.tmpl
Due: prettier, taplo

Updated winget import script to use a real winget manifest
  assets/winget.json
  home/.chezmoidata/packages/winget.toml
  home/.chezmoiscripts/windows/run_onchange_before_winget-import.ps1.tmpl
Due: prettier, taplo

Fixed darwin fish config to use `string match -q`
  home/dot_config/private_fish/exact_conf.d/20-darwin.fish
Due: fish_indent

Updated mise config & brew chezmoidata
  home/dot_config/exact_homebrew/.chezmoidata.yaml
  home/dot_config/exact_mise/config.toml
Due: prettier, taplo

Updated neovim config
  home/dot_config/exact_nvim/lazy-lock.json
  home/dot_config/exact_nvim/lua/configs/conform.lua
  home/dot_config/exact_nvim/lua/configs/lspconfig.lua
Due: prettier

Shortened nvim-treesitter config by a lot
  home/dot_config/exact_nvim/lua/configs/tree-sitter.lua
Due: none
