Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo

.lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    fish_indent:
      run: fish_indent -w {staged_files}
      glob: '*.fish'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier:
      run: npx prettier --write {staged_files}
      glob: '*.{css,yml,yaml,md,html,json,jsonc,code-snippets}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-ruby:
      run: npx prettier --write {staged_files}
      glob: '{*.rb,Gemfile,Rakefile,Brewfile}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-xml:
      run: npx prettier --write {staged_files}
      glob: '*.{xml,plist}{,.tmpl}'
      exclude: 'symlink_*'
      stage_fixed: true

    ruff:
      run: ruff format {staged_files}
      glob: '*.py'
      exclude: 'symlink_*'
      stage_fixed: true

    taplo:
      run: taplo format {staged_files}
      glob: '*.toml'
      exclude: 'symlink_*'
      stage_fixed: true

Switched windows to use json-based lazycomplete setup
  home/readonly_Documents/readonly_PowerShell/Microsoft.PowerShell_profile.ps1
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Completions/Burner.Completions.psm1
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Completions/exact_Scripts/custom.ps1
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Completions/exact_Scripts/lazy-managed.ps1.tmpl
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.LazyComplete
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.LazyComplete/Burner.LazyComplete.psm1
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.LazyComplete/generated.json.tmpl
Due: none

Reworked windows lazycomplete to use a chezmoi symlink
  home/dot_config/.chezmoiignore
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.LazyComplete/Burner.LazyComplete.psm1
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.LazyComplete/generated.json.tmpl
  home/readonly_Documents/readonly_PowerShell/Modules/symlink_Burner.LazyComplete
Due: none

Made windows use the zoxide pwsh module i made for linux
  home/readonly_Documents/readonly_PowerShell/Microsoft.PowerShell_profile.ps1
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Generated/Burner.Generated.psm1
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Generated/exact_Scripts/zoxide.ps1
  home/readonly_Documents/readonly_PowerShell/Modules/symlink_Burner.Zoxide
Due: none

Updated subcommand abbrevs, homebrew forbidden packages, and windows mise config
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_mise/exact_conf.d/os-windows.toml
Due: taplo

Replaced fd.exe completions for wsl with carapace-based setup
  home/dot_config/exact_private_fish/exact_completions/fd.exe.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_fd.exe.fish
Due: fish_indent

Added singularity carapace spec, and did some wsl related completion stuff
  home/dot_config/exact_private_carapace/bridges.yaml
  home/dot_config/exact_private_carapace/exact_specs/singularity.yaml
  home/dot_config/exact_private_fish/exact_completions/age-keygen.exe.fish
  home/dot_config/exact_private_fish/exact_completions/fly.fish
  home/dot_config/exact_private_fish/exact_completions/fzf.exe.fish
  home/dot_config/exact_private_fish/exact_completions/podman.lima.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_act.exe.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_age-keygen.exe.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_cosign.exe.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_docker-buildx.exe.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_fly.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_fzf.exe.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_nerdctl.exe.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_op.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_podman.lima.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_stylua.exe.fish
Due: fish_indent, prettier

Updated forbidden brew packages
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
Due: taplo

Replaced zsh carapace completion with a different implementation
  home/dot_config/exact_private_zsh/exact_functions/_carapace_completer.tmpl
  home/dot_config/exact_private_zsh/exact_functions/readonly__carapace_managed_lazy.tmpl
Due: none

More extensive zsh tweaks related to carapace
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/_cargo-clippy
  home/dot_config/exact_private_zsh/exact_functions/_cargo-fmt
  home/dot_config/exact_private_zsh/exact_functions/_cargo-metadata
  home/dot_config/exact_private_zsh/exact_functions/_cargo-rm
  home/dot_config/exact_private_zsh/exact_functions/_cargo-set-version
  home/dot_config/exact_private_zsh/exact_functions/_cargo-upgrade
  home/dot_config/exact_private_zsh/exact_functions/_cargo-watch
  home/dot_config/exact_private_zsh/exact_functions/_chezmoi.tmpl
  home/dot_config/exact_private_zsh/exact_functions/_git-abort
  home/dot_config/exact_private_zsh/exact_functions/_git-alias
  home/dot_config/exact_private_zsh/exact_functions/_git-archive-file
  home/dot_config/exact_private_zsh/exact_functions/_git-authors
  home/dot_config/exact_private_zsh/exact_functions/_git-browse
  home/dot_config/exact_private_zsh/exact_functions/_git-browse-ci
  home/dot_config/exact_private_zsh/exact_functions/_git-clang-format
  home/dot_config/exact_private_zsh/exact_functions/_git-clear
  home/dot_config/exact_private_zsh/exact_functions/_git-clear-soft
  home/dot_config/exact_private_zsh/exact_functions/_git-coauthor
  home/dot_config/exact_private_zsh/exact_functions/_git-extras
  home/dot_config/exact_private_zsh/exact_functions/_git-info
  home/dot_config/exact_private_zsh/exact_functions/_git-standup
  home/dot_config/exact_private_zsh/exact_functions/exact_override/_gh
  home/dot_config/exact_private_zsh/exact_functions/exact_override/_git
  home/dot_config/exact_private_zsh/exact_functions/exact_override/_git-lfs
Due: taplo

More zsh completion updates, and a ghalint carapace spec
  home/dot_config/exact_private_carapace/exact_specs/ghalint.yaml
  home/dot_config/exact_private_fish/exact_completions/ghalint.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_ghalint.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/_sentry-cli
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_container
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_ghalint
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_somo
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_sourcekitten
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_swift-format
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_swift-outdated
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_whisperkit-cli
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_xcodes
Due: fish_indent, prettier, taplo

Added bridge for atmos completions
  home/dot_config/exact_private_carapace/bridges.yaml
  home/dot_config/exact_private_carapace/exact_specs/atmos.yaml
Due: prettier

Fix lefthook carapace spec
  home/dot_config/exact_private_carapace/exact_specs/lefthook.yaml
Due: prettier

Added bridged carapace specs for ansible commands and gsutil
  .vscode/settings.json
  home/dot_config/exact_private_carapace/bridges.yaml
  home/dot_config/exact_private_carapace/exact_specs/.chezmoiignore
  home/dot_config/exact_private_carapace/exact_specs/ansible-console.yaml
  home/dot_config/exact_private_carapace/exact_specs/ansible-doc.yaml
  home/dot_config/exact_private_carapace/exact_specs/ansible-galaxy.yaml
  home/dot_config/exact_private_carapace/exact_specs/ansible-inventory.yaml
  home/dot_config/exact_private_carapace/exact_specs/ansible-playbook.yaml
  home/dot_config/exact_private_carapace/exact_specs/ansible-pull.yaml
  home/dot_config/exact_private_carapace/exact_specs/ansible-test.yaml
  home/dot_config/exact_private_carapace/exact_specs/ansible-vault.yaml
  home/dot_config/exact_private_carapace/exact_specs/ansible.yaml
  home/dot_config/exact_private_carapace/exact_specs/gsutil.yaml
Due: prettier

Made carapace spec for openapi, deleted deprecated bridges.yaml file
  home/dot_config/exact_private_carapace/bridges.yaml
  home/dot_config/exact_private_carapace/exact_specs/openapi.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_npq-hero.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  schemas/carapace-bridges.yaml
Due: prettier, taplo

Made fish use the code-insiders carapace completions, and fixed some outdated fish functions
  home/dot_config/exact_private_fish/exact_completions/code-insiders.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_code-insiders.fish
  home/dot_config/exact_private_fish/exact_functions/ln.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/stat.fish.tmpl
Due: fish_indent

Added some inshellisense-based carapace specs
  home/.chezmoiremove
  home/dot_config/exact_private_carapace/exact_specs/.chezmoiignore
  home/dot_config/exact_private_carapace/exact_specs/ansible-doc.yaml
  home/dot_config/exact_private_carapace/exact_specs/ansible-doc.yaml.tmpl
  home/dot_config/exact_private_carapace/exact_specs/ansible-galaxy.yaml
  home/dot_config/exact_private_carapace/exact_specs/ansible-galaxy.yaml.tmpl
  home/dot_config/exact_private_carapace/exact_specs/ansible-playbook.yaml
  home/dot_config/exact_private_carapace/exact_specs/ansible-playbook.yaml.tmpl
  home/dot_config/exact_private_carapace/exact_specs/ansible.yaml
  home/dot_config/exact_private_carapace/exact_specs/ansible.yaml.tmpl
  home/dot_config/exact_private_carapace/exact_specs/dscacheutil.yaml
  home/dot_config/exact_private_carapace/exact_specs/mas.yaml
  home/dot_config/exact_private_carapace/exact_specs/shortcuts.yaml
  home/dot_config/exact_private_carapace/exact_specs/softwareupdate.yaml
  home/dot_config/exact_private_carapace/exact_specs/xcodebuild.yaml
  home/dot_config/exact_private_carapace/exact_specs/xcodeproj.yaml
  home/dot_config/exact_private_carapace/exact_specs/xcodes.yaml
  home/dot_config/exact_private_carapace/exact_specs/xcrun.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_softwareupdate.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_xcodebuild.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_xcodeproj.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_xcrun.fish
  home/dot_config/exact_private_mise/exact_conf.d/os-darwin.toml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

Sorting
  home/dot_config/exact_private_carapace/exact_specs/.chezmoiignore
Due: none

Moved some zsh completion scripts into the fallback folder
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_mas
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_shortcuts
Due: none

Improved carapace chezmoiignore
  home/dot_config/exact_private_carapace/exact_specs/.chezmoiignore
Due: none

Added completions for jetbrains IDEs
  home/dot_config/exact_private_carapace/exact_specs/clion.yaml
  home/dot_config/exact_private_carapace/exact_specs/datagrip.yaml
  home/dot_config/exact_private_carapace/exact_specs/dataspell.yaml
  home/dot_config/exact_private_carapace/exact_specs/goland.yaml
  home/dot_config/exact_private_carapace/exact_specs/idea.yaml
  home/dot_config/exact_private_carapace/exact_specs/phpstorm.yaml
  home/dot_config/exact_private_carapace/exact_specs/pycharm.yaml
  home/dot_config/exact_private_carapace/exact_specs/rider.yaml
  home/dot_config/exact_private_carapace/exact_specs/rubymine.yaml
  home/dot_config/exact_private_carapace/exact_specs/rustrover.yaml
  home/dot_config/exact_private_carapace/exact_specs/webstorm.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_clion.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_datagrip.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dataspell.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_goland.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_idea.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_phpstorm.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_pycharm.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_rider.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_rubymine.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_rustrover.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_webstorm.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

More inshellisense stuff
  home/dot_config/exact_private_carapace/exact_specs/.chezmoiignore
  home/dot_config/exact_private_carapace/exact_specs/astro.yaml
  home/dot_config/exact_private_carapace/exact_specs/cmake.yaml
  home/dot_config/exact_private_carapace/exact_specs/dotnet.yaml
  home/dot_config/exact_private_carapace/exact_specs/dscacheutil.yaml.tmpl
  home/dot_config/exact_private_carapace/exact_specs/esbuild.yaml
  home/dot_config/exact_private_carapace/exact_specs/eslint.yaml
  home/dot_config/exact_private_carapace/exact_specs/launchctl.yaml.tmpl
  home/dot_config/exact_private_carapace/exact_specs/networkQuality.yaml
  home/dot_config/exact_private_carapace/exact_specs/networksetup.yaml.tmpl
  home/dot_config/exact_private_carapace/exact_specs/prettier.yaml
  home/dot_config/exact_private_carapace/exact_specs/rollup.yaml
  home/dot_config/exact_private_carapace/exact_specs/softwareupdate.yaml
  home/dot_config/exact_private_carapace/exact_specs/softwareupdate.yaml.tmpl
  home/dot_config/exact_private_carapace/exact_specs/swc.yaml
  home/dot_config/exact_private_carapace/exact_specs/vite.yaml
  home/dot_config/exact_private_carapace/exact_specs/watchman.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_astro.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_cmake.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_esbuild.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_eslint.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_networkQuality.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_networksetup.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_prettier.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_rollup.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_swc.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_vite.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_watchman.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

Added carapace chezmoiignore logic for ignoring unix shell based completions
  home/dot_config/exact_private_carapace/exact_specs/.chezmoiignore
Due: none

Added a few fish-based carapace specs
  home/dot_config/exact_private_carapace/exact_specs/.chezmoiignore
  home/dot_config/exact_private_carapace/exact_specs/fish-lsp.yaml
  home/dot_config/exact_private_carapace/exact_specs/fish_indent.yaml
  home/dot_config/exact_private_carapace/exact_specs/java_home.yaml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

Added a couple more fish carapace specs
  home/dot_config/exact_private_carapace/exact_specs/.chezmoiignore
  home/dot_config/exact_private_carapace/exact_specs/git-sizer.yaml
  home/dot_config/exact_private_carapace/exact_specs/gnome-extensions.yaml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

Redid deno carapace overlay
  home/dot_config/exact_private_carapace/exact_overlays/deno.yaml
Due: prettier

Partially added completions for `deno remove`
  home/dot_config/exact_private_carapace/exact_overlays/deno.yaml
Due: prettier

Did most of the other parts of deno completions
  home/dot_config/exact_private_carapace/exact_overlays/deno.yaml
Due: prettier

Made a real carapace spec for fish_indent
  home/dot_config/exact_private_carapace/exact_specs/.chezmoiignore
  home/dot_config/exact_private_carapace/exact_specs/fish_indent.yaml
Due: prettier

Removed most of the asdf spec since i havne't used it for ages
  home/dot_config/exact_private_carapace/exact_specs/.chezmoiignore
  home/dot_config/exact_private_carapace/exact_specs/asdf.yaml
Due: prettier

Made mise use `pnpm` for npm packages
  home/dot_config/exact_private_mise/config.toml
  home/dot_config/exact_private_mise/exact_conf.d/os-darwin.toml
Due: taplo

Minor updates to some other mise config files
  home/dot_config/exact_private_mise/exact_conf.d/device-lima-default.toml
  home/dot_config/exact_private_mise/exact_conf.d/distro-ubuntu.toml
Due: taplo

Enabled mise env caching
  home/dot_config/exact_private_mise/config.toml
Due: taplo

Added pnpm spec override, updated forbidden packages
  home/dot_config/exact_private_carapace/exact_overlays/pnpm.yaml
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
Due: prettier, taplo

Figured out how to use argcomplete on mac os
  home/dot_config/exact_private_carapace/exact_specs/.chezmoiignore
  home/dot_config/exact_private_carapace/exact_specs/ansible-doc.yaml
  home/dot_config/exact_private_carapace/exact_specs/ansible-doc.yaml.tmpl
  home/dot_config/exact_private_carapace/exact_specs/ansible-galaxy.yaml
  home/dot_config/exact_private_carapace/exact_specs/ansible-galaxy.yaml.tmpl
  home/dot_config/exact_private_carapace/exact_specs/ansible-playbook.yaml
  home/dot_config/exact_private_carapace/exact_specs/ansible-playbook.yaml.tmpl
  home/dot_config/exact_private_carapace/exact_specs/ansible.yaml
  home/dot_config/exact_private_carapace/exact_specs/ansible.yaml.tmpl
Due: prettier

Added ansible-creator spec & some other small updates
  home/.chezmoidata/pwsh-completers.toml
  home/dot_config/exact_private_carapace/exact_specs/.chezmoiignore
  home/dot_config/exact_private_carapace/exact_specs/ansible-creator.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_ansible-creator.fish
  home/dot_config/exact_private_mise/exact_conf.d/os-darwin.toml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_dotnet
Due: prettier, taplo

Removed leftovers from some carapace spec deletions
  home/dot_config/exact_private_fish/exact_completions/symlink_openapi.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_redocly.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: taplo

Converted carapace dotnet spec into a choice, and removed pwsh `Burner.Completions` windows module (as it isn't used anymore)
  home/dot_config/exact_private_carapace/exact_choices/dotnet.tmpl
  home/dot_config/exact_private_carapace/exact_specs/dotnet.yaml
  home/readonly_Documents/readonly_PowerShell/Microsoft.PowerShell_profile.ps1
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Completions/Burner.Completions.psm1
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Completions/exact_Scripts/custom.ps1
Due: prettier
