Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo, stylua

fish_indent:
  run: fish_indent -w {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-ruby:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-xml:
  run: npx prettier --write {staged_files}
  stage_fixed: true

ruff:
  run: ruff format {staged_files}
  stage_fixed: true

taplo:
  run: taplo format {staged_files}
  stage_fixed: true

stylua:
  run: mise x -- stylua --respect-ignores {staged_files}
  stage_fixed: true

Made lazy elvish completion no longer be read-only windows breaks with it set
  home/dot_config/exact_private_elvish/exact_lib/lazy-completions.elv.tmpl
Due: none

Fixed .exe handling for elvish
  home/dot_config/exact_private_elvish/exact_lib/lazy-completions.elv.tmpl
Due: none

Further improved elvish completion generation
  home/dot_config/exact_private_elvish/exact_lib/lazy-completions.elv.tmpl
Due: none

made vscode trim whitespace for .nu files
  .vscode/settings.json
Due: prettier

Cleaned up config.nu
  home/dot_config/exact_private_nushell/config.nu
Due: none

Added mise to elvish
  home/dot_config/exact_private_elvish/exact_lib/mise.elv
  home/dot_config/exact_private_elvish/rc.elv
Due: none

Made elvish abbreviations no longer be read-only
  home/dot_config/exact_private_elvish/exact_lib/abbrev.elv.tmpl
Due: none

Simplified elvish abbreviations using from-json
  home/dot_config/exact_private_elvish/exact_lib/abbrev.elv.tmpl
Due: none

Updated brew forbidden formulae
  home/dot_config/exact_homebrew/.chezmoidata.yaml
Due: prettier

Correction
  home/dot_config/exact_homebrew/.chezmoidata.yaml
Due: prettier

Made fastfetch config private & exact
  home/dot_config/exact_private_fastfetch/config.jsonc
Due: prettier

Made direnv config exact & private
  home/dot_config/exact_private_direnv/direnv.toml
Due: taplo

Updated attributes on nvim config
  home/.chezmoiscripts/linux/run_onchange_after_nvim-lazy-restore.sh.tmpl
  home/dot_config/exact_private_nvim/.stylua.toml
  home/dot_config/exact_private_nvim/LICENSE
  home/dot_config/exact_private_nvim/README.md
  home/dot_config/exact_private_nvim/dot_stylua.toml
  home/dot_config/exact_private_nvim/exact_after/exact_ftplugin/fish.lua
  home/dot_config/exact_private_nvim/exact_after/exact_ftplugin/gitconfig.lua
  home/dot_config/exact_private_nvim/exact_after/exact_ftplugin/systemd.lua
  home/dot_config/exact_private_nvim/exact_after/exact_plugin/filetypes.lua
  home/dot_config/exact_private_nvim/exact_after/exact_plugin/mise.lua
  home/dot_config/exact_private_nvim/exact_lua/chadrc.lua
  home/dot_config/exact_private_nvim/exact_lua/exact_configs/conform.lua
  home/dot_config/exact_private_nvim/exact_lua/exact_configs/lazy.lua
  home/dot_config/exact_private_nvim/exact_lua/exact_configs/lspconfig.lua
  home/dot_config/exact_private_nvim/exact_lua/exact_configs/tree-sitter.lua
  home/dot_config/exact_private_nvim/exact_lua/exact_plugins/init.lua
  home/dot_config/exact_private_nvim/exact_lua/mappings.lua
  home/dot_config/exact_private_nvim/exact_lua/options.lua
  home/dot_config/exact_private_nvim/init.lua
  home/dot_config/exact_private_nvim/lazy-lock.json
Due: prettier, taplo, stylua

Updated attributes for exercism config
  home/dot_config/exact_private_exercism/create_private_user.json.tmpl
Due: none

Updated some other file attributes
  home/dot_config/exact_private_atuin/private_config.toml.tmpl
  home/dot_config/exact_private_bat/config.tmpl
  home/dot_config/exact_private_yt-dlp/private_config.tmpl
Due: none

Deleted flatapk install script
  home/.chezmoiscripts/linux/run_onchange_before_flatpak.sh.tmpl
Due: none

Updated app support chezmoiignore
  home/private_Library/private_Application Support/.chezmoiignore
Due: none

Updated kitty search path
  home/dot_config/kitty/kitty.conf.tmpl
Due: none

Made kitty config exact & private
  home/dot_config/exact_private_kitty/.chezmoidata.yaml
  home/dot_config/exact_private_kitty/kitty.conf.tmpl
Due: prettier

Made tealdeer config exact & private
  home/dot_config/exact_private_tealdeer/config.toml
Due: taplo

Small vscode settings update
  .vscode/settings.json
Due: prettier

Updated editorconfig, formatting
  .editorconfig
  home/dot_config/exact_private_elvish/exact_lib/abbrev.elv.tmpl
  home/dot_config/exact_private_elvish/exact_lib/carapace.elv
  home/dot_config/exact_private_elvish/exact_lib/lazy-completions.elv.tmpl
  home/dot_config/exact_private_elvish/exact_lib/mise.elv
  home/dot_config/exact_private_elvish/exact_lib/oh-my-posh.elv
  home/dot_config/exact_private_elvish/exact_lib/starship.elv
  home/dot_config/exact_private_elvish/exact_lib/zoxide.elv
  home/dot_config/exact_private_nushell/env.nu
Due: none

VSCode & editorconfig config updates
  .editorconfig
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier

Replaced template-based .exe completion handling into raw elvish code
  home/.chezmoidata/shell/completers.yaml
  home/dot_config/exact_private_elvish/exact_lib/lazy-completions.elv.tmpl
Due: prettier

Completion updates
  home/dot_config/carapace/bridges.yaml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox-assemble
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox-create
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox-enter
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox-ephemeral
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox-export
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox-generate-entry
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox-host-exec
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox-init
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox-list
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox-rm
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox-stop
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__distrobox-upgrade
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__firejail
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/readonly__snapper
Due: prettier, taplo

Carapace stuff
  home/dot_config/carapace/bridges.yaml
  home/dot_config/carapace/exact_specs/acat.yaml
  home/dot_config/carapace/exact_specs/adiff.yaml
  home/dot_config/carapace/exact_specs/age-keygen.yaml
  home/dot_config/carapace/exact_specs/als.yaml
  home/dot_config/carapace/exact_specs/apack.yaml
  home/dot_config/carapace/exact_specs/arepack.yaml
  home/dot_config/carapace/exact_specs/atool.yaml
  home/dot_config/carapace/exact_specs/aunpack.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_carapace-parse.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

More completion stuff
  .vscode/carapace.code-snippets
  home/.chezmoidata/shell/completers.yaml
  home/dot_config/carapace/bridges.yaml
  home/dot_config/carapace/exact_specs/b2sum.yaml
  home/dot_config/carapace/exact_specs/bingrep.yaml
  home/dot_config/carapace/exact_specs/diskus.yaml
  home/dot_config/carapace/exact_specs/nproc.yaml
  home/dot_config/carapace/exact_specs/sw_vers.yaml
  home/dot_config/exact_private_fish/exact_completions/bingrep.fish
  home/dot_config/exact_private_fish/exact_completions/diskus.fish
  home/dot_config/exact_private_fish/exact_completions/genact.fish
  home/dot_config/exact_private_fish/exact_completions/nproc.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_bingrep.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_diskus.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_nproc.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_unxz.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_xzcat.fish
  home/dot_config/exact_private_fish/exact_completions/unxz.fish
  home/dot_config/exact_private_fish/exact_completions/xzcat.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_genact
Due: fish_indent, prettier, taplo

More completion stuff
  .vscode/carapace.code-snippets
  home/dot_config/carapace/bridges.yaml
  home/dot_config/carapace/exact_specs/.editorconfig
  home/dot_config/carapace/exact_specs/dua.yaml
  home/dot_config/carapace/exact_specs/pngquant.yaml
  home/dot_config/carapace/exact_specs/stdbuf.yaml
  home/dot_config/exact_private_fish/exact_completions/pngquant.fish
  home/dot_config/exact_private_fish/exact_completions/stdbuf.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_pngquant.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_stdbuf.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: fish_indent, prettier, taplo

Edited carapace snippets
  .vscode/carapace.code-snippets
Due: prettier

Added gping completions
  home/dot_config/carapace/bridges.yaml
  home/dot_config/carapace/exact_specs/gping.yaml
Due: prettier

Added more patterns for mise configs to taplo
  .taplo.toml
Due: taplo

A lot more carapace completion sfuff
  home/dot_config/carapace/exact_specs/basenc.yaml
  home/dot_config/carapace/exact_specs/desktop-file-install.yaml
  home/dot_config/carapace/exact_specs/free.yaml
  home/dot_config/carapace/exact_specs/getsebool.yaml
  home/dot_config/carapace/exact_specs/gtk-update-icon-cache.yaml
  home/dot_config/carapace/exact_specs/systool.yaml
  home/dot_config/carapace/exact_specs/tic.yaml
  home/dot_config/carapace/exact_specs/update-desktop-database.yaml
  home/dot_config/carapace/exact_specs/update-mime-database.yaml
  home/dot_config/carapace/exact_specs/vmstat.yaml
  home/dot_config/exact_private_fish/exact_completions/basenc.fish
  home/dot_config/exact_private_fish/exact_completions/desktop-file-install.fish
  home/dot_config/exact_private_fish/exact_completions/free.fish
  home/dot_config/exact_private_fish/exact_completions/getsebool.fish
  home/dot_config/exact_private_fish/exact_completions/gtk-update-icon-cache.fish
  home/dot_config/exact_private_fish/exact_completions/nodejsscan.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_basenc.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_desktop-file-install.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_free.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_getsebool.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_gtk-update-icon-cache.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_nodejsscan.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systool.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_tic.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_update-desktop-database.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_update-mime-database.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_vmstat.fish
  home/dot_config/exact_private_fish/exact_completions/systool.fish
  home/dot_config/exact_private_fish/exact_completions/tic.fish
  home/dot_config/exact_private_fish/exact_completions/update-desktop-database.fish
  home/dot_config/exact_private_fish/exact_completions/update-mime-database.fish
  home/dot_config/exact_private_fish/exact_completions/vmstat.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: fish_indent, prettier, taplo

More completion stuff
  home/.chezmoidata/shell/completers.yaml
  home/.chezmoiexternals/zsh-plugins.yaml.tmpl
  home/dot_config/carapace/bridges.yaml
  home/dot_config/carapace/exact_specs/fish_key_reader.yaml
  home/dot_config/carapace/exact_specs/sass.yaml
  home/dot_config/carapace/exact_specs/wslpath.yaml
  home/dot_config/exact_private_fish/exact_completions/hgrep.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_sass.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_hgrep
  home/dot_config/exact_private_zsh/exact_functions/exact_site/symlink__archlinux-java
  home/dot_config/exact_private_zsh/exact_functions/exact_site/symlink__bower
  home/dot_config/exact_private_zsh/exact_functions/exact_site/symlink__cf
  home/dot_config/exact_private_zsh/exact_functions/exact_site/symlink__emacs
  home/dot_config/exact_private_zsh/exact_functions/exact_site/symlink__fab
  home/dot_config/exact_private_zsh/exact_functions/exact_site/symlink__fail2ban-client
Due: fish_indent, prettier, taplo

Made carapace bridge init folders exact
  home/dot_config/carapace/exact_bridge/exact_bash/dot_bashrc
  home/dot_config/carapace/exact_bridge/exact_fish/config.fish
  home/dot_config/carapace/exact_bridge/exact_powershell/Microsoft.PowerShell_profile.ps1
  home/dot_config/carapace/exact_bridge/exact_zsh/dot_zshrc
Due: fish_indent

Updated carapace bridge zshrc's zstyles
  home/dot_config/carapace/exact_bridge/exact_zsh/dot_zshrc
Due: none

More small updates to carapace's zshrc
  home/dot_config/carapace/exact_bridge/exact_zsh/dot_zshrc
Due: none

More carapace stuff
  home/.chezmoidata/shell/completers.yaml
  home/dot_config/carapace/bridges.yaml
  home/dot_config/carapace/exact_specs/bzdiff.yaml
  home/dot_config/carapace/exact_specs/hexyl.yaml
  home/dot_config/exact_private_fish/exact_completions/bzdiff.fish
  home/dot_config/exact_private_fish/exact_completions/charm.fish
  home/dot_config/exact_private_fish/exact_completions/hexyl.fish
  home/dot_config/exact_private_fish/exact_completions/register-python-argcomplete.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_activate-global-python-argcomplete.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_arduino-cli.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_bzdiff.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_coreadm.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_cplay.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_createuser.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_cscope.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_csup.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_cu.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_cvsup.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_dak.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_etags.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_gcore.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_gm.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_hexyl.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_lzop.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_mac2unix.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_mozilla-xremote-client.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_mysqladmin.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_mysqldiff.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_mysqlimport.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_mysqlshow.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_rake.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_register-python-argcomplete.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_smartctl.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_unix2mac.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_wipefs.fish
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_spago
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_stack
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_topgrade
Due: fish_indent, prettier, taplo

Added rav1e completions
  home/.chezmoidata/shell/completers.yaml
  home/dot_config/exact_private_fish/exact_completions/rav1e.fish
Due: fish_indent, prettier

Fixed oversight in lefthook config
  lefthook.yml
Due: prettier

Path conditions:
  fish_indent: any of: *.fish, but not: symlink_*
  prettier: any of: *.{css,yml,yaml,md,html,json,jsonc,code-snippets}, but not: symlink_*
  prettier-ruby: any of: {*.rb,Gemfile,Rakefile,Brewfile}, but not: symlink_*
  prettier-xml: any of: *.{xml,plist}{,.tmpl}, but not: symlink_*
  ruff: any of: *.py, but not: symlink_*
  taplo: any of: *.toml, but not: symlink_*
  stylua: any of: *.lua, but not: symlink_*
