Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo

fish_indent:
  run: fish_indent -w {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-ruby:
  run: npx prettier --write {staged_files}
  stage_fixed: true

prettier-xml:
  run: npx prettier --write {staged_files}
  stage_fixed: true

ruff:
  run: ruff format {staged_files}
  stage_fixed: true

taplo:
  run: taplo format {staged_files}
  stage_fixed: true

Added gcompat to lima-alpine
  home/dot_config/private_lima/private_alpine/playbook.yaml
Due: prettier

Reworked how ssh config.d files are included/excluded
  home/private_dot_ssh/exact_private_config.d/.chezmoiignore
  home/private_dot_ssh/exact_private_config.d/private_lima-includes.conf.tmpl
  home/private_dot_ssh/exact_private_config.d/private_os-darwin.1password.conf
  home/private_dot_ssh/exact_private_config.d/private_os-darwin.lima.conf
  home/private_dot_ssh/exact_private_config.d/private_os-linux.1password.conf.tmpl
Due: none

Updated chezmoidata & launchd settings schema
  home/dot_config/exact_private_homebrew/.chezmoidata.yaml
  schemas/settings/launchd.yaml
Due: prettier

Forward host's 1password ssh socket to lima-default VM, and use it for git
  home/dot_config/exact_private_fish/exact_conf.d/21-is-lima.fish.tmpl
  home/dot_config/exact_private_git/exact_conf.d/device-lima-default.gitconfig
  home/dot_config/private_lima/private_default/lima.yaml.tmpl
Due: none

Added basic support for lima VMs connecting to each other via SSH
  home/.chezmoiignore
  home/private_dot_ssh/exact_private_config.d/private_device-lima-default.conf.tmpl
Due: none

Added support for kitty's shell integration over SSH & in lima VMs
  home/dot_config/exact_private_fish/exact_conf.d/90-kitty.fish
  home/dot_config/private_lima/private_default/playbook.yaml
  home/dot_config/private_lima/private_ubuntu/playbook.yaml
Due: fish_indent, prettier

Added dblab completions, updated brew forbidden packages
  home/dot_config/carapace/bridges.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_dblab.fish
  home/dot_config/exact_private_homebrew/.chezmoidata.yaml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: prettier, taplo

Refactored lima tmpfiles to better utilize templates & chezmoidata
  .taplo.toml
  home/dot_config/exact_user-tmpfiles.d/.chezmoidata/lima-tmpfiles.toml
  home/dot_config/exact_user-tmpfiles.d/is-lima.conf.tmpl
Due: taplo

Made carapace config only partially shared between host & lima VMs, and fixed systemd-tmpfiles not getting run based on templated tmpfiles
  home/.chezmoiscripts/linux/run_onchange_after_99-systemd-tmpfiles.sh.tmpl
  home/dot_config/.chezmoiignore
  home/dot_config/exact_user-tmpfiles.d/.chezmoidata/lima-tmpfiles.toml
Due: taplo

Made Lima VMs share fish, bash, & pwsh bridge configs with host
  home/dot_config/.chezmoiignore
  home/dot_config/exact_user-tmpfiles.d/.chezmoidata/lima-tmpfiles.toml
Due: taplo

Replaced usage of `env "XDG_RUNTIME_DIR"` in templates with `joinPath "/run/user" .chezmoi.uid`
  home/dot_config/boxxy/boxxy.yaml.tmpl
  home/dot_config/exact_private_atuin/private_config.toml.tmpl
  home/private_dot_ssh/exact_private_config.d/private_os-linux.1password.conf.tmpl
Due: none

Refactored a bunch of fish functions
  .vscode/settings.json
  home/dot_config/exact_private_fish/exact_functions/blkid.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/df.fish
  home/dot_config/exact_private_fish/exact_functions/dig.fish
  home/dot_config/exact_private_fish/exact_functions/du.fish
  home/dot_config/exact_private_fish/exact_functions/exa.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/eza.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/findmnt.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/lspci.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/mount.fish
  home/dot_config/exact_private_fish/exact_functions/ncdu.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/netstat.fish
  home/dot_config/exact_private_fish/exact_functions/pidstat.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/ping.fish
  home/dot_config/exact_private_fish/exact_functions/ps.fish
  home/dot_config/exact_private_fish/exact_functions/sar.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/ss.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/traceroute.fish
  home/dot_config/exact_private_fish/exact_functions/uptime.fish
  home/dot_config/exact_private_fish/exact_functions/viu.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/w.fish
  home/dot_config/exact_private_fish/exact_functions/who.fish
Due: fish_indent, prettier

More fish refactoring
  home/dot_config/exact_private_fish/exact_completions/_carapace_or_builtin.fish
  home/dot_config/exact_private_fish/exact_completions/_carapace_or_fallback.fish
  home/dot_config/exact_private_fish/exact_completions/_swift_argparse.fish
  home/dot_config/exact_private_fish/exact_completions/carapace.fish
  home/dot_config/exact_private_fish/exact_conf.d/20-os-darwin.fish
  home/dot_config/exact_private_fish/exact_conf.d/30-mise-activate.fish
  home/dot_config/exact_private_fish/exact_conf.d/40-atuin.fish
  home/dot_config/exact_private_fish/exact_conf.d/50-shadowenv.fish
  home/dot_config/exact_private_fish/exact_conf.d/50-vivid.fish
  home/dot_config/exact_private_fish/exact_conf.d/60-starship.fish
  home/dot_config/exact_private_fish/exact_conf.d/60-zoxide.fish
  home/dot_config/exact_private_fish/exact_functions/b2sum.fish
  home/dot_config/exact_private_fish/exact_functions/blkid.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/bunzip2.fish
  home/dot_config/exact_private_fish/exact_functions/bzcat.fish
  home/dot_config/exact_private_fish/exact_functions/bzip2.fish
  home/dot_config/exact_private_fish/exact_functions/getfacl.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/getsebool.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/grep.fish
  home/dot_config/exact_private_fish/exact_functions/gunzip.fish
  home/dot_config/exact_private_fish/exact_functions/gzip.fish
  home/dot_config/exact_private_fish/exact_functions/ifconfig.fish
  home/dot_config/exact_private_fish/exact_functions/iostat.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/iptables.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/lastlog.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/lsattr.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/lsblk.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/lsmod.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/md5sum.fish
  home/dot_config/exact_private_fish/exact_functions/pidstat.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/sha1sum.fish
  home/dot_config/exact_private_fish/exact_functions/zcat.fish
Due: fish_indent

Made janky 1password linux ssh config file specific to my dell g15
  home/private_dot_ssh/exact_private_config.d/private_device-dell-g15-linux.conf.tmpl
  home/private_dot_ssh/exact_private_config.d/private_os-linux.1password.conf.tmpl
Due: none

More fish refactoring
  home/dot_config/exact_private_fish/exact_functions/__fish_cache_sourced_completions.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/__fish_print_modules.fish
  home/dot_config/exact_private_fish/exact_functions/__fish_print_selinux_booleans.fish
  home/dot_config/exact_private_fish/exact_functions/b2sum.fish
  home/dot_config/exact_private_fish/exact_functions/blkid.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/bzegrep.fish
  home/dot_config/exact_private_fish/exact_functions/bzfgrep.fish
  home/dot_config/exact_private_fish/exact_functions/bzgrep.fish
  home/dot_config/exact_private_fish/exact_functions/dig.fish
  home/dot_config/exact_private_fish/exact_functions/eza.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/free.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/getfacl.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/getsebool.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/id.fish
  home/dot_config/exact_private_fish/exact_functions/ifconfig.fish
  home/dot_config/exact_private_fish/exact_functions/iptables.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/la.fish
  home/dot_config/exact_private_fish/exact_functions/lastlog.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/ll.fish
  home/dot_config/exact_private_fish/exact_functions/ls.fish
  home/dot_config/exact_private_fish/exact_functions/lsattr.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/lsblk.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/lsmod.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/lsof.fish
  home/dot_config/exact_private_fish/exact_functions/lspci.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/md5sum.fish
  home/dot_config/exact_private_fish/exact_functions/mount.fish
  home/dot_config/exact_private_fish/exact_functions/ncdu.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/netstat.fish
  home/dot_config/exact_private_fish/exact_functions/ping.fish
  home/dot_config/exact_private_fish/exact_functions/ping6.fish
  home/dot_config/exact_private_fish/exact_functions/ps.fish
  home/dot_config/exact_private_fish/exact_functions/sha1sum.fish
  home/dot_config/exact_private_fish/exact_functions/ss.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/traceroute.fish
  home/dot_config/exact_private_fish/exact_functions/unset-env.fish
  home/dot_config/exact_private_fish/exact_functions/uptime.fish
  home/dot_config/exact_private_fish/exact_functions/w.fish
  home/dot_config/exact_private_fish/exact_functions/who.fish
Due: fish_indent

Schema fix
  schemas/settings/launchd.yaml
Due: prettier

Added fish abbrev subcommands for mise & brew
  home/dot_config/exact_private_fish/exact_conf.d/readonly_99-abbr.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/_abbrev_brew_subcommands.fish
  home/dot_config/exact_private_fish/exact_functions/_abbrev_mise_subcommands.fish
Due: fish_indent

Removed leftover template metadata from a non-template file
  home/dot_config/exact_private_fish/exact_functions/_abbrev_brew_subcommands.fish
Due: fish_indent

Added bun & chezmoi subcommand abbrevs
  home/dot_config/exact_private_fish/exact_conf.d/readonly_99-abbr.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/_abbrev_bun_subcommands.fish
  home/dot_config/exact_private_fish/exact_functions/_abbrev_chezmoi_subcommands.fish
Due: fish_indent

Sorted brew & mise subcommand functions
  home/dot_config/exact_private_fish/exact_functions/_abbrev_brew_subcommands.fish
  home/dot_config/exact_private_fish/exact_functions/_abbrev_mise_subcommands.fish
Due: fish_indent

Added git subcommand abbrevs
  home/dot_config/exact_private_fish/exact_conf.d/readonly_99-abbr.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/_abbrev_git_subcommands.fish
Due: fish_indent

Added a few subcommand abbreviations for podman
  home/dot_config/exact_private_fish/exact_conf.d/readonly_99-abbr.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/_abbrev_podman_subcommands.fish
Due: fish_indent

Added npm subcommand abbrevs, and refactored how subcommand abbreviations are added to fish
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev.toml
  home/dot_config/exact_private_fish/exact_conf.d/readonly_99-abbr.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/_abbrev_npm_subcommands.fish
Due: fish_indent, taplo

Added more abbrev subcommands
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev.toml
  home/dot_config/exact_private_fish/exact_functions/_abbrev_dnf_subcommands.fish
  home/dot_config/exact_private_fish/exact_functions/_abbrev_pnpm_subcommands.fish
  home/dot_config/exact_private_fish/exact_functions/_abbrev_string_subcommands.fish
Due: fish_indent, taplo

Refactored most subcommand abbreviations to use one big templated function
  .taplo.toml
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev.toml
  home/dot_config/exact_private_fish/exact_conf.d/readonly_99-abbr.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/_abbrev_brew_subcommands.fish
  home/dot_config/exact_private_fish/exact_functions/_abbrev_bun_subcommands.fish
  home/dot_config/exact_private_fish/exact_functions/_abbrev_chezmoi_subcommands.fish
  home/dot_config/exact_private_fish/exact_functions/_abbrev_mise_subcommands.fish
  home/dot_config/exact_private_fish/exact_functions/_abbrev_npm_subcommands.fish
  home/dot_config/exact_private_fish/exact_functions/_abbrev_pnpm_subcommands.fish
  home/dot_config/exact_private_fish/exact_functions/_abbrev_string_subcommands.fish
  home/dot_config/exact_private_fish/exact_functions/readonly__abbrev_managed_subcommands.fish.tmpl
Due: fish_indent, taplo

Added description to _abbrev_managed_subcommands
  home/dot_config/exact_private_fish/exact_functions/readonly__abbrev_managed_subcommands.fish.tmpl
Due: none

Did more subcommand abbrev stuff
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
Due: taplo

More small changes to subcommand abbrevs
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
Due: taplo

Made managed subcommand abbreviations work when enter key is pressed
  home/dot_config/exact_private_fish/exact_functions/readonly__abbrev_managed_subcommands.fish.tmpl
Due: none

Merged dnf & git subcommand abbreviations into managed subcommand abbrevs
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev.toml
  home/dot_config/exact_private_fish/exact_functions/_abbrev_dnf_subcommands.fish
  home/dot_config/exact_private_fish/exact_functions/_abbrev_git_subcommands.fish
Due: fish_indent, taplo

Reworked managed abbrev subcommands to use `commandline -xp` instead of `commandline -xpc`
  home/dot_config/exact_private_fish/exact_functions/readonly__abbrev_managed_subcommands.fish.tmpl
Due: none

Tweaked managed subcommand abbreviations to reduce resulting filesize
  home/dot_config/exact_private_fish/exact_functions/readonly__abbrev_managed_subcommands.fish.tmpl
Due: none

Merged podman subcommand abbrevs into managed subcommand abbrevs
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev.toml
  home/dot_config/exact_private_fish/exact_conf.d/readonly_99-abbr.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/_abbrev_podman_subcommands.fish
Due: fish_indent, taplo

Added more subcommand abbreviations
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
Due: taplo

Made small tweaks to managed subcommands to reduce filesize a little
  home/dot_config/exact_private_fish/exact_functions/readonly__abbrev_managed_subcommands.fish.tmpl
Due: none

Updated lima-fedora to fedora 42
  home/dot_config/private_lima/private_default/lima.yaml.tmpl
Due: none

Added script to generate docker context for lima-default vm
  home/dot_config/private_lima/private_default/run_onchange_after_docker-context.sh.tmpl
Due: none

Updated fedora-wsl playbook with some changes for fedora 42, and removed dnf-plugins-core from that & the lima-default playbook
  home/dot_config/private_lima/private_default/playbook.yaml
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier

Path conditions:
  fish_indent: any of: *.fish, but not: symlink_*
  prettier: any of: *.{css,yml,yaml,md,html,json,jsonc,code-snippets}, but not: symlink_*
  prettier-ruby: any of: {*.rb,Gemfile,Rakefile,Brewfile}, but not: symlink_*
  prettier-xml: any of: *.{xml,plist}{,.tmpl}, but not: symlink_*
  ruff: any of: *.py, but not: symlink_*
  taplo: any of: *.toml, but not: symlink_*
