Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo

.lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    fish_indent:
      run: fish_indent -w {staged_files}
      glob: '*.fish'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier:
      run: npx prettier --write {staged_files}
      glob: '*.{css,yml,yaml,md,html,json,jsonc,code-snippets}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-ruby:
      run: npx prettier --write {staged_files}
      glob: '{*.rb,Gemfile,Rakefile,Brewfile}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-xml:
      run: npx prettier --write {staged_files}
      glob: '*.{xml,plist}{,.tmpl}'
      exclude: 'symlink_*'
      stage_fixed: true

    ruff:
      run: ruff format {staged_files}
      glob: '*.py'
      exclude: 'symlink_*'
      stage_fixed: true

    taplo:
      run: taplo format {staged_files}
      glob: '*.toml'
      exclude: 'symlink_*'
      stage_fixed: true

Fixed keep-sorted mise task on linux/macos
  .config/mise/config.toml
Due: taplo

Updated chezmoiignore and chezmoiremove files with keep-sorted comments
  home/.chezmoiignore
  home/.chezmoiremove
  home/dot_config/.chezmoiignore
  home/dot_config/.chezmoiremove
  home/dot_local/private_share/.chezmoiignore
  home/dot_local/private_share/.chezmoiremove
  home/private_Library/.chezmoiignore
  home/private_Library/.chezmoiremove
  home/private_Library/exact_LaunchAgents/.chezmoiignore
  home/private_Library/exact_LaunchAgents/.chezmoiremove
  home/private_Library/private_Application Support/.chezmoiignore
  home/private_Library/private_Application Support/.chezmoiremove
Due: none

Added a `windows-incompatible` tag for lefthook to skip hooks on windows
  lefthook.yml
Due: prettier

Made yamllint hook skip lima playbooks
  lefthook.yml
Due: prettier

Updated gitattributes
  .gitattributes
Due: none

more gitattributes stuff
  .gitattributes
  home/.gitattributes
  home/dot_config/.gitattributes
  home/private_Library/.gitattributes
  home/private_dot_var/.gitattributes
Due: none

Switched usage of `bunx` to `bun x` to improve windows support
  .config/mise/config.toml
  lefthook.yml
Due: prettier, taplo

Updated editorconfig
  .editorconfig
Due: none

Updated scoopfile & winget packages
  .prettierrc.yaml
  assets/scoopfile.json
  assets/winget.json
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Completions/Burner.Completions.psm1
Due: prettier

Updated lima default vm settings
  home/dot_config/private_lima/private_default/lima.yaml.tmpl
  home/dot_config/private_lima/private_default/playbook.yaml
Due: prettier

Added generic launch agent to autostart lima VMs
  home/private_Library/exact_LaunchAgents/.chezmoidata.yaml
  home/private_Library/exact_LaunchAgents/.io.lima-vm.autostart.plist.tmpl
  schemas/settings/launchd.yaml
Due: prettier, prettier-xml

Made git config dir exact
  home/dot_config/exact_private_git/ignore
Due: none

Added git config files They are not complete yet
  .vscode/settings.json
  home/dot_config/exact_private_git/exact_conf.d/.chezmoiignore
  home/dot_config/exact_private_git/exact_conf.d/1password.gitconfig
  home/dot_config/exact_private_git/exact_conf.d/colors.gitconfig
  home/dot_config/exact_private_git/exact_conf.d/security.gitconfig
  home/dot_config/exact_private_git/modify_config
Due: prettier

Improved git config The mac OS config variant is effectively complete now
  home/dot_config/exact_private_git/exact_conf.d/os-darwin.1password.gitconfig.tmpl
  home/dot_config/exact_private_git/exact_conf.d/os-darwin.gh-cli.gitconfig.tmpl
  home/dot_config/exact_private_git/modify_config
Due: none

Fix broken handling of scalar & maintenance settings
  home/dot_config/exact_private_git/modify_config
Due: none

Enabled support for using chezmoi config in lima VMs
  home/.chezmoi.yaml.tmpl
  home/.chezmoiignore
  home/.chezmoiscripts/darwin/run_onchange_after_90-bat.sh.tmpl
  home/.chezmoiscripts/darwin/run_onchange_after_90-carapace_bridges.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_00-ansible-playbook.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_90-nvim-lazy-restore.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_before_01-install-ansible.sh.tmpl
  home/dot_config/.chezmoiignore
  home/dot_config/private_lima/private_default/playbook.yaml
  home/dot_local/bin/.chezmoiignore
  home/dot_local/bin/symlink_code.tmpl
  home/dot_local/private_share/.chezmoiignore
Due: prettier

Small additional changes related to lima
  home/.chezmoi.yaml.tmpl
  home/.chezmoiignore
  home/.chezmoiscripts/linux/run_onchange_before_01-install-ansible.sh.tmpl
  home/dot_config/.chezmoiignore
  home/dot_local/bin/.chezmoiignore
  home/dot_local/bin/.chezmoiremove
  home/dot_local/private_share/.chezmoiignore
Due: none

Fixed broken scripts
  home/.chezmoiscripts/darwin/run_onchange_after_90-bat.sh.tmpl
  home/.chezmoiscripts/darwin/run_onchange_after_90-carapace_bridges.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_00-ansible-playbook.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_90-nvim-lazy-restore.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_before_01-install-ansible.sh.tmpl
Due: none

Added shellcheckrc
  .shellcheckrc
Due: none

Improved some linux scripts a bit
  home/.chezmoiscripts/linux/run_onchange_after_90-mime-db.sh.tmpl
  home/.chezmoiscripts/linux/run_onchange_after_99-systemd-tmpfiles.sh.tmpl
Due: none

Corrected wsl playbooks to use 'systemd_service` instead of `systemd` module
  playbooks/device-dell-g15-wsl-arch.yml
  playbooks/device-dell-g15-wsl-fedora.yml
  playbooks/device-dell-g15-wsl-ubuntu.yml
Due: prettier

Made more things in ~/.local/bin templates
  home/dot_local/bin/.chezmoiignore
  home/dot_local/bin/executable_ex
  home/dot_local/bin/executable_ex.tmpl
  home/dot_local/bin/executable_tailscale
  home/dot_local/bin/executable_tailscale.tmpl
  home/dot_local/bin/executable_trash
  home/dot_local/bin/executable_trash.tmpl
  home/dot_local/bin/executable_vi
  home/dot_local/bin/executable_vi.tmpl
  home/dot_local/bin/executable_view
  home/dot_local/bin/executable_view.tmpl
  home/dot_local/bin/executable_vim
  home/dot_local/bin/executable_vim.tmpl
  home/dot_local/bin/executable_vimdiff
  home/dot_local/bin/executable_vimdiff.tmpl
Due: none

Misc changes
  home/dot_config/.chezmoiignore
  home/dot_config/exact_private_atuin/private_config.toml.tmpl
  home/dot_config/exact_private_git/exact_conf.d/os-linux.1password-wsl.gitconfig.tmpl
  home/dot_config/private_lima/private_default/playbook.yaml
Due: prettier

Deleted alpine-amd64 lima vm
  home/dot_config/private_lima/private_alpine-amd64/lima.yaml
  home/dot_config/private_lima/private_alpine-amd64/run_onchange_after_stop-vm.zsh.tmpl
Due: prettier

Uninstalled colima and made some other small tweaks
  home/dot_config/exact_private_homebrew/Brewfile
  home/private_Library/.chezmoiignore
  home/private_Library/exact_LaunchAgents/codes.furry.tldr.plist.tmpl
Due: prettier-xml

Removed incorrect comment about plist handling
  home/private_Library/exact_LaunchAgents/.io.lima-vm.autostart.plist.tmpl
Due: prettier-xml

Various homebrew related tweaks
  .vscode/settings.json
  home/dot_config/.chezmoiignore
  home/dot_config/exact_private_brew-aliases/executable_search_filtered
  home/dot_config/exact_private_homebrew/.chezmoidata.yaml
  home/dot_config/exact_private_homebrew/brew.env.tmpl
  home/dot_config/exact_private_homebrew/exact_config/executable_op_sudo_askpass.tmpl
Due: prettier

Moved delta git integration into a separate template
  home/dot_config/exact_private_git/exact_conf.d/delta.gitconfig.tmpl
  home/dot_config/exact_private_git/modify_config
Due: none

Moved git-lfs git config into a conf.d template
  home/dot_config/exact_private_git/exact_conf.d/git-lfs.gitconfig.tmpl
  home/dot_config/exact_private_git/modify_config
Due: none

Added some windows git config templates
  home/dot_config/exact_private_git/exact_conf.d/os-windows.1password.gitconfig.tmpl
  home/dot_config/exact_private_git/exact_conf.d/os-windows.gh-cli.gitconfig.tmpl
  home/dot_config/exact_private_git/exact_conf.d/os-windows.gitconfig
Due: none

Added .wslconfig
  home/.chezmoiignore
  home/dot_wslconfig
Due: none

Updated todo.md
  TODO.md
Due: prettier

Made brew bundle not skip qemu (as it's needed for nbd mounting)
  home/.chezmoiscripts/darwin/run_onchange_before_10-brew-bundle.sh.tmpl
Due: none

Various lima-related changes
  home/dot_config/carapace/bridges.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_lima-guestagent.fish
  home/dot_config/exact_private_mise/exact_conf.d/device-lima-default.toml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  home/dot_config/private_lima/private_default/playbook.yaml
Due: prettier, taplo

Removed ubi from mise global tools
  home/dot_config/exact_private_mise/config.toml
Due: taplo

Added lima networks config
  home/dot_config/private_lima/.chezmoiignore
  home/dot_config/private_lima/_config/networks.yaml
Due: prettier

Fixed lima-default playbook bugs
  home/dot_config/private_lima/private_default/playbook.yaml
Due: prettier

Added keep-sorted comments to carapace bridges
  home/dot_config/carapace/bridges.yaml
Due: prettier

Updated lima-alpine images
  home/dot_config/private_lima/private_alpine/lima.yaml.tmpl
Due: none

Updated neovim plugins
  home/dot_config/exact_private_nvim/lazy-lock.json
Due: prettier
