Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo, prettier-yaml, stylua

.lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    fish_indent:
      run: fish_indent -w {staged_files}
      glob: '*.fish'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier:
      run: npx prettier --write {staged_files}
      glob: '*.{css,yml,yaml,md,html,json,jsonc,code-snippets}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-ruby:
      run: npx prettier --write {staged_files}
      glob: '{*.rb,Gemfile,Rakefile,Brewfile}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-xml:
      run: npx prettier --write {staged_files}
      glob: '*.{xml,plist}{,.tmpl}'
      exclude: 'symlink_*'
      stage_fixed: true

    ruff:
      run: ruff format {staged_files}
      glob: '*.py'
      exclude: 'symlink_*'
      stage_fixed: true

    taplo:
      run: taplo format {staged_files}
      glob: '*.toml'
      exclude: 'symlink_*'
      stage_fixed: true

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fish_indent:
      run: fish_indent -w {staged_files}
      glob: '*.fish'
      exclude: symlink_*
      stage_fixed: true

    gitleaks:
      # Based on the pre-commit hook
      run: mise x -- gitleaks git --no-banner --pre-commit --redact --staged --verbose

    prettier:
      run: npx prettier --write {staged_files}
      glob: '*.{css,md,html,json,jsonc,code-snippets}'
      exclude: symlink_*
      stage_fixed: true

    prettier-ruby:
      run: npx prettier --write {staged_files}
      glob: '{*.rb,Gemfile,Rakefile,Brewfile}'
      exclude: symlink_*
      stage_fixed: true

    prettier-xml:
      run: npx prettier --write {staged_files}
      glob: '*.{xml,plist}{,.tmpl}'
      exclude: symlink_*
      stage_fixed: true

    prettier-yaml:
      run: npx prettier --write {staged_files}
      glob: '*.{yml,yaml}{,.tmpl}'
      exclude: symlink_*
      stage_fixed: true

    ruff:
      run: mise x -- ruff format {staged_files}
      glob: '*.py'
      exclude: symlink_*
      stage_fixed: true

    stylua:
      run: mise x -- stylua {staged_files}
      glob: '*.lua'
      exclude: symlink_*
      stage_fixed: true

    taplo:
      run: mise x -- taplo format {staged_files}
      glob: '*.toml'
      exclude: symlink_*
      stage_fixed: true

Redid how carapace completions are loaded into zsh
  home/dot_config/exact_private_zsh/.chezmoidata.yaml
  home/dot_config/exact_private_zsh/exact_functions/_carapace_managed_lazy.tmpl
  home/dot_config/exact_private_zsh/exact_functions/_chezmoi.tmpl
  home/dot_config/exact_private_zsh/plugins.zsh
  schemas/settings/shell.yaml
Due: prettier, prettier-yaml

Redid powershell completion generation to define things lazily instead of generating them during application
  home/.chezmoitemplates/pwsh/lazycomplete.ps1
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Completions/exact_Scripts/miniserve.ps1.tmpl
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Completions/exact_Scripts/ruff.ps1.tmpl
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Completions/exact_Scripts/run_onchange_after_miniserve.ps1.tmpl
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Completions/exact_Scripts/run_onchange_after_ruff.ps1.tmpl
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Completions/exact_Scripts/run_onchange_after_tailscale.ps1.tmpl
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Completions/exact_Scripts/run_onchange_after_uv.ps1.tmpl
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Completions/exact_Scripts/run_onchange_after_vrc-get.ps1.tmpl
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Completions/exact_Scripts/tailscale.ps1.tmpl
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Completions/exact_Scripts/uv.ps1.tmpl
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Completions/exact_Scripts/vrc-get.ps1.tmpl
Due: none

Added lazy completion loading for elvish
  home/dot_config/exact_private_elvish/.chezmoidata.yaml
  home/dot_config/exact_private_elvish/exact_lib/readonly_lazy-completions.elv.tmpl
  home/dot_config/exact_private_elvish/rc.elv
  schemas/settings/shell.yaml
Due: prettier, prettier-yaml

Added miniserve & vrc-get to elvish lazy completion scripts
  home/dot_config/exact_private_elvish/.chezmoidata.yaml
Due: prettier, prettier-yaml

Moved elvish .chezmoidata to .chezmoidata/shell/completers
  home/.chezmoidata/shell/completers.yaml
Due: prettier, prettier-yaml

Improved generation of lazy powershell completions
  home/.chezmoidata/shell/completers.yaml
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Completions/Burner.Completions.psm1
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Completions/exact_Scripts/lazy-managed.ps1.tmpl
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Completions/exact_Scripts/miniserve.ps1.tmpl
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Completions/exact_Scripts/ruff.ps1.tmpl
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Completions/exact_Scripts/tailscale.ps1.tmpl
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Completions/exact_Scripts/uv.ps1.tmpl
  home/readonly_Documents/readonly_PowerShell/Modules/Burner.Completions/exact_Scripts/vrc-get.ps1.tmpl
  schemas/settings/shell.yaml
Due: prettier, prettier-yaml

Updated .local/share chezmoiignore
  home/dot_local/private_share/.chezmoiignore
Due: none

Added pixi to completers.yaml
  home/.chezmoidata/shell/completers.yaml
Due: prettier, prettier-yaml

Added zsh completions for: - atuin - doggo - erd - kondo - miniserve - ruff - tailscale - uv - uvx
  home/dot_config/exact_private_zsh/exact_functions/_atuin
  home/dot_config/exact_private_zsh/exact_functions/_doggo
  home/dot_config/exact_private_zsh/exact_functions/_erdtree
  home/dot_config/exact_private_zsh/exact_functions/_kondo
  home/dot_config/exact_private_zsh/exact_functions/_miniserve
  home/dot_config/exact_private_zsh/exact_functions/_ruff
  home/dot_config/exact_private_zsh/exact_functions/_tailscale
  home/dot_config/exact_private_zsh/exact_functions/_uv
  home/dot_config/exact_private_zsh/exact_functions/_uvx
Due: none

Made runtime-generated zsh completions lower priority
  home/dot_config/exact_private_zsh/config.zsh
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_atuin
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_doggo
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_erdtree
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_kondo
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_miniserve
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_pixi
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_ruff
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_uv
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_uvx
Due: none

Added aqua fallback completions
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_aqua
Due: none

Completion stuff
  home/.chezmoidata/shell/completers.yaml
  home/dot_config/carapace/bridges.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_aliae.fish
  home/dot_config/exact_private_zsh/.chezmoidata.yaml
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_crictl
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_zellij
Due: prettier, prettier-yaml

Added earthly fallback completions
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_earthly
Due: none

Converted zsh chezmoidata for carapace from yaml to toml
  .taplo.toml
  home/dot_config/exact_private_zsh/.chezmoidata.yaml
  home/dot_config/exact_private_zsh/.chezmoidata/carapace.toml
Due: prettier, taplo, prettier-yaml

Updated carapace stuff for zsh
  home/dot_config/exact_private_zsh/.chezmoidata/carapace.toml
  home/dot_config/exact_private_zsh/exact_functions/_cargo-clippy
  home/dot_config/exact_private_zsh/exact_functions/_cargo-fmt
  home/dot_config/exact_private_zsh/exact_functions/_cargo-metadata
  home/dot_config/exact_private_zsh/exact_functions/_cargo-rm
  home/dot_config/exact_private_zsh/exact_functions/_cargo-set-version
  home/dot_config/exact_private_zsh/exact_functions/_cargo-upgrade
  home/dot_config/exact_private_zsh/exact_functions/_cargo-watch
  home/dot_config/exact_private_zsh/exact_functions/_git-abort
  home/dot_config/exact_private_zsh/exact_functions/_git-alias
  home/dot_config/exact_private_zsh/exact_functions/_git-archive-file
  home/dot_config/exact_private_zsh/exact_functions/_git-authors
  home/dot_config/exact_private_zsh/exact_functions/_git-browse
  home/dot_config/exact_private_zsh/exact_functions/_git-browse-ci
  home/dot_config/exact_private_zsh/exact_functions/_git-clang-format
  home/dot_config/exact_private_zsh/exact_functions/_git-clear
  home/dot_config/exact_private_zsh/exact_functions/_git-clear-soft
  home/dot_config/exact_private_zsh/exact_functions/_git-coauthor
  home/dot_config/exact_private_zsh/exact_functions/_git-extras
  home/dot_config/exact_private_zsh/exact_functions/_git-info
  home/dot_config/exact_private_zsh/exact_functions/_git-standup
  home/dot_config/exact_private_zsh/exact_functions/exact_override/_gh_completion
Due: taplo

Removed unneeded .keep file
  home/dot_config/exact_private_zsh/exact_functions/exact_override/.keep
Due: none

Added fallback chezmoi_modify_manager & mise completions
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_chezmoi_modify_manager
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_mise
Due: none

Renamed gh completion override
  home/dot_config/exact_private_zsh/exact_functions/exact_override/_gh
Due: none

Made managed carapace completions for zsh read-only
  home/dot_config/exact_private_zsh/exact_functions/readonly__carapace_managed_lazy.tmpl
Due: none

Added a list of things to do
  TODO.md
Due: prettier

Added more stuff to todo.md
  TODO.md
Due: prettier

Defined more completers
  home/.chezmoidata/shell/completers.yaml
  home/dot_config/exact_private_fish/exact_completions/ast-grep.fish
  home/dot_config/exact_private_fish/exact_completions/dprint.fish
  home/dot_config/exact_private_fish/exact_completions/sg.fish
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_ast-grep
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_dprint
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_onefetch
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_sg
Due: fish_indent, prettier, prettier-yaml

Updated chezmoiexternals schema
  schemas/chezmoi/externals.yaml
Due: prettier, prettier-yaml

Updated eza theme's icons
  home/dot_config/eza/theme.yml
Due: prettier, prettier-yaml

More updates to eza theme
  home/dot_config/eza/theme.yml
Due: prettier, prettier-yaml

Small starship config updates
  home/dot_config/starship.toml
Due: taplo

Updated pnpm
  package.json
Due: prettier

Updated some completion stuff
  home/.chezmoidata/shell/completers.yaml
  home/dot_config/carapace/bridges.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_k9s.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_slsa-verifier.fish
  home/dot_config/exact_private_fish/exact_completions/topiary.fish
  home/dot_config/exact_private_zsh/.chezmoidata/carapace.toml
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_aliae
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_cdebug
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_colima
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_cosign
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_dasel
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_flyctl
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_gator
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_gitleaks
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_glow
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_grype
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_helm
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_k9s
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_luarocks
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_luarocks-admin
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_slsa-verifier
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_topiary
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_wezterm
Due: fish_indent, prettier, taplo, prettier-yaml

More completion updates
  home/.chezmoidata/shell/completers.yaml
  home/dot_config/carapace/bridges.yaml
  home/dot_config/exact_private_fish/exact_completions/pueue.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_gator.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_kubetail.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_kustomize.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_vunnel.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_wormhole.fish
  home/dot_config/exact_private_zsh/.chezmoidata/carapace.toml
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_folderify
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_gum
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_incus
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_kind
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_kubetail
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_kustomize
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_lefthook
  home/dot_config/exact_private_zsh/exact_functions/exact_fallback/_pueue
  home/dot_config/exact_private_zsh/exact_functions/exact_override/_git-lfs
  home/folderify.fish
Due: fish_indent, prettier, taplo, prettier-yaml

More completion stuff
  home/.chezmoidata/shell/completers.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_git-lfs.fish
  home/dot_config/exact_private_zsh/exact_functions/_git-absorb
Due: prettier, prettier-yaml

Moved folderify completions to the right folder
  home/dot_config/exact_private_fish/exact_completions/folderify.fish
Due: fish_indent

Updated .chezmoiignore files
  home/private_Library/.chezmoiignore
  home/private_Library/private_Application Support/.chezmoiignore
Due: none

Updated lima default vm playbook to set the user's shell to fish
  home/dot_config/private_lima/private_default/lima.yaml.tmpl
  home/dot_config/private_lima/private_default/playbook.yaml
Due: prettier, prettier-yaml

Added some click-based tools to carapace bridges
  home/dot_config/carapace/bridges.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_animdl.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_cf2tf.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_cycode.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_datasette.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_fava.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_hatch.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_mycli.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_pio.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_pipgrip.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_rich.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_sail.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_shub.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_sqlfluff.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_trailscraper.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_uvicorn.fish
  home/dot_config/exact_private_zsh/.chezmoidata/carapace.toml
Due: prettier, taplo, prettier-yaml

Added ccache to zsh completions inclided from zsh-users/zsh-completions
  home/.chezmoiexternals/zsh-plugins.yaml.tmpl
  home/dot_config/exact_private_zsh/exact_functions/symlink__ccache
Due: prettier-yaml

Removed fish completion chezmoiignore
  home/dot_config/exact_private_fish/exact_completions/.chezmoiignore
Due: none

Made atuin fish completions use the pregenerated script provided by homebrew, if possible
  home/dot_config/exact_private_fish/exact_completions/atuin.fish
Due: fish_indent

Removed diff fish function
  home/dot_config/exact_private_fish/exact_functions/diff.fish
Due: fish_indent

Added some zsh & fish bridges for carapace
  home/dot_config/carapace/bridges.yaml
  home/dot_config/exact_private_fish/exact_completions/symlink_bwrap.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_firejail.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_firewall-offline-cmd.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_kernel-install.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_oomctl.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_snapper.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-ask-password.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-cat.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-cgls.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-delta.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-detect-virt.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-inhibit.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-machine-id-setup.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-notify.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-path.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-resolve.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-run.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-tmpfiles.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_systemd-tty-ask-password-agent.fish
  home/dot_config/exact_private_fish/exact_completions/symlink_varlinkctl.fish
  home/dot_config/exact_private_zsh/.chezmoidata/carapace.toml
Due: prettier, taplo, prettier-yaml
