Repository BurnerWah/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish_indent, prettier, prettier-ruby, prettier-xml, ruff, taplo

.lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    fish_indent:
      run: fish_indent -w {staged_files}
      glob: '*.fish'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier:
      run: npx prettier --write {staged_files}
      glob: '*.{css,yml,yaml,md,html,json,jsonc,code-snippets}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-ruby:
      run: npx prettier --write {staged_files}
      glob: '{*.rb,Gemfile,Rakefile,Brewfile}'
      exclude: 'symlink_*'
      stage_fixed: true

    prettier-xml:
      run: npx prettier --write {staged_files}
      glob: '*.{xml,plist}{,.tmpl}'
      exclude: 'symlink_*'
      stage_fixed: true

    ruff:
      run: ruff format {staged_files}
      glob: '*.py'
      exclude: 'symlink_*'
      stage_fixed: true

    taplo:
      run: taplo format {staged_files}
      glob: '*.toml'
      exclude: 'symlink_*'
      stage_fixed: true

Improved mise task ordering for format tasks a little
  .config/mise/config.toml
Due: taplo

More mise task improvements
  .config/mise/config.toml
Due: taplo

Added fix:biome task
  .config/mise/config.toml
Due: taplo

More misc improvements to linting & formatting
  .config/lefthook.yml
  .config/mise/conf.d/check-jsonschema.toml
  .config/mise/config.toml
  deno.jsonc
Due: prettier, taplo

Added deno typecheck task, validated deno config
  .config/lefthook.yml
  .config/mise/conf.d/check-jsonschema.toml
  .config/mise/config.toml
Due: prettier, taplo

Small schema tweaks
  .config/mise/tasks/generate/schema/chezmoiconfig.ts
  .config/mise/tasks/generate/schema/chezmoidata.ts
  .config/mise/tasks/generate/schema/chezmoiexternals.ts
  .config/mise/tasks/generate/schema/infat-config.ts
  schemas/generated/chezmoiconfig.json
  schemas/generated/chezmoidata.json
  schemas/generated/chezmoiexternals.json
  schemas/generated/infat-config.json
  tombi.toml
Due: prettier, taplo

Completely reformatted fish subcommand abbrevs to be easier to edit
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
Due: taplo

Reorganized mise config a little
  .config/mise/config.toml
Due: taplo

Filled out more subcommand abbrevs
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
Due: taplo

Sorted mise configs
  .config/mise/conf.d/check-jsonschema.toml
  .config/mise/config.toml
Due: taplo

Made ansible-lint tasks use task templates
  .config/mise/config.toml
Due: taplo

Other small config improvements
  .config/lefthook.yml
  .config/mise/conf.d/ansible-tasks.toml
  .config/mise/config.toml
Due: prettier, taplo

Removed ffmpeg from lima-default playbook, improved github tokens for mise, updated subcommand abbrevs
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
  home/dot_config/exact_private_mise/exact_conf.d/os-darwin.toml
  home/dot_config/exact_private_mise/exact_conf.d/os-windows.toml
  playbooks/device-lima-default.yml
Due: prettier, taplo

refactored managed abbrev subcommand function
  home/dot_config/exact_private_fish/exact_functions/readonly__abbrev_managed_subcommands.fish.tmpl
Due: none

Made subcommand abbrevs more scalable
  home/dot_config/exact_private_fish/exact_functions/readonly__abbrev_managed_subcommands.fish.tmpl
Due: none

Enabled abbrevs in subcommands of subcommands of subcommands
  .config/mise/tasks/generate/schema/chezmoidata/shell.ts
  home/dot_config/exact_private_fish/exact_conf.d/readonly_99-abbr.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/readonly__abbrev_managed_subcommands.fish.tmpl
  schemas/generated/chezmoidata.json
Due: prettier

Generalized subcommand abbrev logic to infinite depth subcommands in templates
  .config/mise/tasks/generate/schema/chezmoidata/shell.ts
  .config/mise/tasks/generate/schema/shared/tombi-meta.ts
  home/dot_config/exact_private_fish/exact_conf.d/readonly_99-abbr.fish.tmpl
  home/dot_config/exact_private_fish/exact_functions/readonly__abbrev_managed_subcommands.fish.tmpl
  schemas/generated/chezmoidata.json
Due: prettier

More abbrev-related stuff
  .config/mise/tasks/generate/schema/chezmoidata/shell.ts
  home/.chezmoidata/common-abbrev.toml
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
  home/dot_config/exact_private_fish/exact_functions/find_subcmd_aliases.fish
  schemas/generated/chezmoidata.json
Due: fish_indent, prettier, taplo

Switched prettier to experimental CLI, updated biome schema version
  .config/lefthook.yml
  .config/mise/config.toml
  biome.jsonc
  deno.jsonc
Due: prettier, taplo

Added oxlint
  .config/lefthook.yml
  .config/mise/config.toml
  .vscode/extensions.json
  deno.jsonc
  deno.lock
  oxlint.config.ts
  package.json
Due: prettier, taplo

Small tweaks
  .config/mise/config.toml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
Due: taplo

Formatting tweaks and a small vscode settings change
  .gitattributes
  .prettierrc.yaml
  .vscode/settings.json
  biome.jsonc
  package.json
Due: prettier

Moved mise flatpak extension external into a new chezmoiexternal file
  home/.chezmoiexternals/binaries.toml
  home/.chezmoiexternals/binaries.yaml.tmpl
Due: taplo

Fixed mistake in chezmoiexternals schema
  .config/mise/tasks/generate/schema/chezmoiexternals.ts
  schemas/generated/chezmoiexternals.json
Due: prettier

Moved chezmoidata schema task file to the chezmoidata task subfolder
  .config/mise/tasks/generate/schema/chezmoidata/_default.ts
Due: none

Added sources & outputs to generate:schema:chezmoidata, & made it a dependency of some tasks
  .config/mise/conf.d/check-jsonschema.toml
  .config/mise/config.toml
  .config/mise/tasks/generate/schema/chezmoidata/_default.ts
Due: taplo

Moved lima schema generation into a separate mise task file
  .config/mise/conf.d/lima-tasks.toml
  .config/mise/config.toml
  schemas/vendor/lima.json
Due: prettier, taplo

Added sources to other schema generation tasks
  .config/mise/config.toml
  .config/mise/tasks/generate/schema/eza-theme.ts
  .config/mise/tasks/generate/schema/infat-config.ts
Due: taplo

Small tweaks
  .config/lefthook.yml
  .config/mise/config.toml
  .vscode/settings.json
  deno.jsonc
  home/dot_config/exact_private_mise/config.toml
  home/dot_config/exact_private_mise/exact_conf.d/os-darwin.toml
Due: prettier, taplo

Updated some settings and configured oxlint more
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_mise/config.toml
  home/dot_config/exact_private_nvim/exact_lua/exact_configs/lspconfig.lua
  oxlint.config.ts
Due: taplo

Tweaked oxlint settings
  oxlint.config.ts
Due: none

oxlint tweaks and formatting
  .config/mise/tasks/fix/carapace/inshellisense-choices.ts
  .config/mise/tasks/fix/carapace/shell-choices.ts
  .config/mise/tasks/generate/schema/chezmoidata/npm-pnpm.ts
  oxlint.config.ts
Due: none

Updates
  .config/mise/config.toml
  deno.jsonc
  deno.lock
  home/.chezmoidata/common-abbrev.toml
  home/dot_config/exact_private_carapace/exact_specs/oxfmt.yaml
  home/dot_config/exact_private_fish/.chezmoidata/subcommand-abbrev-managed.toml
  home/dot_config/exact_private_fish/exact_completions/symlink_oxfmt.fish
  home/dot_config/exact_private_homebrew/.chezmoidata/forbidden.toml
  home/dot_config/exact_private_mise/config.toml
  home/dot_config/exact_private_mise/exact_conf.d/os-darwin.toml
  home/dot_config/exact_private_npm/.chezmoidata.toml
  home/dot_config/exact_private_uv/uv.toml
  home/dot_config/exact_private_zsh/.chezmoidata/compsys.toml
  package.json
  playbooks/device-dell-g15-wsl-fedora.yml
  pyproject.toml
  uv.lock
Due: prettier, taplo

Updated nvim plugins and fixed a mistake in lefthook config
  .config/lefthook.yml
  home/dot_config/exact_private_nvim/lazy-lock.json
Due: prettier

Removed neovim from fedora wsl
  playbooks/device-dell-g15-wsl-fedora.yml
Due: prettier
